body{
    overflow-x: hidden;
}
.p-neirong{
    width: 90%;
    height: 100%;
    border: 3px solid #F6F6F6;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0 90px;
    box-sizing: border-box;
    margin-bottom: 70px;
}
.p-biaoti{
    width: 231px;
    height: 180px;
}
.p-biaoti span:nth-child(1){
     font-size: 20px;
     color: #65D7FD;
     position: absolute;
     top: 111px;
     left:361px;
 }
.p-biaoti span:nth-child(2){
    font-size: 20px;
    position: absolute;
    top: 111px;
    left:410px;
}
.p-biaoti span:nth-child(3){
    font-size: 16px;
    color: #65D7FD;
    position: absolute;
    top: 137px;
    left:361px;
}
.p-biaoti img{
    width: 86px;
    position: absolute;
    left: 495px;
    top: 49px;
}
.p-xuxian{
    width: 322px;
    height: 20px;
    border-bottom: 2px dotted #ccc;
    position: absolute;
    left: 575px;
    top: 117px;
}
.p-one{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.p-two{
    width: 100%;
    height: auto;
    margin-top: 50px;
    color: #525252;
}
.p-2{
    width: 517px;
    position: absolute;
    left: 9%;
    top: 850px;
}
.p-2:hover{
    transform: scale(1.05);
    z-index: 100;
}
.p-3{
    position: absolute;
    left: 46%;
    top: 958px;
    width: 177px;
}
.p-3:hover{
    transform: scale(1.05);
    z-index: 100;
}
.p-4{
    position: absolute;
    left: 56%;
    top: 977px;
    width: 500px;
}
.p-4:hover{
    transform: scale(1.05);
    z-index: 100;
}
.p-tiaotiao{
    width: 120%;
    height: 81px;
    position: absolute;
    left: 0;
    top: 1000px;
    background: #CFCFCF;
    margin-left: -10%;
}
.p-three{
    position: absolute;
    top: 1200px;
    left: 360px;
    width: 160px;
    height: 200px;
}
.p-three span:nth-child(1){
    font-size: 20px;
    color: #65D7FD;
    position: absolute;
    top: 111px;
    left:0;
}
.p-three span:nth-child(2){
    font-size: 20px;
    position: absolute;
    top: 111px;
    left:50px;
    z-index: 3;
}
.p-three span:nth-child(3){
    font-size: 16px;
    color: #65D7FD;
    position: absolute;
    top: 137px;
    left:0;
}
.p-three img{
    width: 86px;
    position: absolute;
    left: 130px;
    top: 53px;
    z-index: 1;
}
.p-three .p-xuxian{
    width: 371px;
    height: 20px;
    border-bottom: 2px dotted #ccc;
    position: absolute;
    left: 143px;
    top: 120px;
}
.p-four{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.p-five{
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border-top:1px solid #CFCDCD ;
    border-bottom:1px solid #CFCDCD ;
    color: #292929;
    line-height: 60px;
    font-weight: bold;
    overflow: hidden;
}
.p-one1{
    width: 100%;
    height: 168px;
    border: 1px solid #CFCDCD;
    box-sizing: border-box;
    padding: 10px;
}
.p-one1 div{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.p-two1 div{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.p-three1 div{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.p-two1{
    width: 100%;
    height: 168px;
    border: 1px solid #CFCDCD;
    box-sizing: border-box;
    padding: 10px;
}
.p-three1{
    width: 100%;
    height: 168px;
    border: 1px solid #CFCDCD;
    box-sizing: border-box;
    padding: 10px;
}
div.gswh{
    margin-top: 560px;
}
div.gswh img{
    width: 750px;
    margin-left: -30px;
}
div.gsjj img{
    margin-left: -30px;
}
@media screen and (max-width: 1000px){
    .p-one span{
        display: none;
    }
    .p-two span{
        display: none;
    }
}
@media screen and (max-width: 750px){
    .border1{
        border-bottom: 1px solid #CFCDCD;
    }
    .border2{
        border-bottom: 1px solid #CFCDCD;
    }
    .border3 .p-three1{
        border-right: 1px solid #CFCDCD;
        border-left: 0;
        border-bottom: 1px solid #CFCDCD;

    }
    .p-three1 div{
        float: none;
    }
    .border4 .p-one1{
        border-bottom: 1px solid #CFCDCD;
        border-right:0;
    }
    .border5 .p-two1{
        border-right: 1px solid #CFCDCD;

    }
    .p-two1 div{
        margin: 0;
    }
    .border6 .p-three1{
        border-left: 0;
        padding: 0;
        margin: 0;
    }
    .hidden1{
         display: none;
     }
    div.gswh{
        margin-top: 50px;
    }
    .p-neirong{
        padding: 0 15px;
    }
}
