*{
	margin:0;
	padding:0;
	list-style: none;
}
body{
	background:#f2f2f2;
	overflow: hidden;
}


#wrapper {
	position: absolute;
	z-index: 1;
	top: 1.32rem;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}
#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
}


.top{
	width:100%;
	height:0.88rem;
	background: #32acff;
}
.left{
	float: left;
	font-family: "宋体";
	font-size: .42rem;
	color:#f2f2f2;
	line-height: 0.88rem;
	margin-left: 0.28rem;
}
.sanjiao{
	width: 0;
    border: 8px solid rgba(0,0,0,0);
    border-bottom: 6px solid #fff;
    position: absolute;
    left: 50%;
   	bottom: 0;
    margin-left: -10px;
    display: none;
}


.top p{
	float: left;
	margin-top:0.24rem;
	margin-left: 31%;
	color:#f2f2f2 ;
	font-weight: none;
	font-size:0.32rem;
}
.nav{
	width:100%;
	height:0.54rem;
	background: #32acff;
	position: absolute;
	z-index: 100000;
}

.nav > ul{
	width:100%;
	height:100%;
}
.nav > ul > li{
	height:100%;
	width:25%;
	float: left;
	color:#fff;
	text-align: center;
	line-height:0.54rem;
	font-size:0.26rem;
	position: relative;
}

.nav > ul > li.display>.sanjiao{
	display: block;
}

nav{
	display: none;
}
nav.first{
	display: block;
}
.content{
	width:7.06rem;
	height:2.04rem;
	margin: 0 auto;
	margin-top:0.24rem;
	background: #fff;
	border-radius: 0.1rem;
}
.sofa{
	float: left;
	width:2.2rem;
	height:2.04rem;
	text-align:center;
}
.sofa img{
	width:80%;
	height:60%;
	margin-top:0.4rem;
}
.content > ul{
	width:4.76rem;
	height:2.04rem;
	float: right;
}
.content > ul > li.name{
	width:100%;
	height:0.66rem;
	box-sizing: border-box;
	border-bottom: 1px solid #eee ;
}
.content > ul > li.price{
	width:100%;
	height:0.46rem;
}
.content > ul > li.local{
	width:100%;
	height:0.48rem;
}
.content > ul > li.fukuan{
	width:100%;
	height:0.44rem;
}
.content > ul > li.name h1{
	height:100%;
	font-size:0.34rem;
	float: left;
	line-height: 0.66rem;
}
.content > ul > li.name p{
	height:100%;
	font-size:0.32rem;
	float: right;
	margin-right: 0.4rem;
	line-height: 0.66rem;
	font-size:0.28rem;
	font-weight: 500;
	color:#f53446;
}
.content > ul > li.price h1{
	height:100%;
	font-size:0.32rem;
	float: left;
	line-height: 0.56rem;
	color:#ffb730;
}
.content > ul > li.price p{
	height:100%;
	font-size:0.32rem;
	float: left;
	margin-left: 0.6rem;
	line-height: 0.56rem;
	font-size:0.18rem;
	font-weight: 500;
	color:#cfcfcf;
}
.local{
	font-size:0.3rem;
	line-height:0.5rem;
	color:#515151;
}
.fukuan{
	font-size:0.28rem;
	line-height: 0.44rem;
	color: #818181;
}
.pay{
	width:1.1rem;
	height:0.3rem;
	float: right;
	background: #ffb730;
	margin-right: 0.12rem;
	margin-top:0.06rem;
	border-radius: 0.06rem;
	font-size:0.1rem;
	text-align: center;
	line-height: 0.3rem;
	color:#fff;
}
.contentt{
	width:7.06rem;
	height:2.64rem;
	margin: 0 auto;
	margin-top:0.24rem;
	background: #fff;
	border-radius: 0.1rem;
}
.sofa{
	float: left;
	width:2.2rem;
	height:2.04rem;
}
.contentt > ul{
	width:4.76rem;
	height:2.04rem;
	float: right;
}
.contentt > ul > li.name{
	width:100%;
	height:0.66rem;
	box-sizing: border-box;
	border-bottom: 1px solid #eee ;
}
.contentt > ul > li.price{
	width:100%;
	height:0.46rem;
}
.contentt > ul > li.local{
	width:100%;
	height:0.48rem;
}
.contentt > ul > li.fukuan{
	width:100%;
	height:0.44rem;
}
.contentt > ul > li.name h1{
	height:100%;
	font-size:0.34rem;
	float: left;
	line-height: 0.66rem;
}
.contentt > ul > li.name p{
	height:100%;
	font-size:0.32rem;
	float: right;
	margin-right: 0.4rem;
	line-height: 0.66rem;
	font-size:0.28rem;
	font-weight: 500;
	color:#6ac0ff;
}
.contentt > ul > li.price h1{
	height:100%;
	font-size:0.32rem;
	float: left;
	line-height: 0.56rem;
	color:#ffb730;
}
.contentt > ul > li.price p{
	height:100%;
	font-size:0.32rem;
	float: left;
	margin-left: 0.6rem;
	line-height: 0.56rem;
	font-size:0.18rem;
	font-weight: 500;
	color:#cfcfcf;
}
.local{
	font-size:0.3rem;
	line-height:0.5rem;
	color:#515151;
}
.fukuan{
	font-size:0.28rem;
	line-height: 0.44rem;
	color: #818181;
}
.pay{
	width:1.1rem;
	height:0.3rem;
	float: right;
	background: #ffb730;
	margin-right: 0.12rem;
	margin-top:0.06rem;
	border-radius: 0.06rem;
	font-size:0.1rem;
	text-align: center;
	line-height: 0.3rem;
	color:#fff;
}
.bottom{
	float: left;
	width:100%;
	height:0.6rem;
	box-sizing: border-box;
	border-top:1px solid  #eee;
}
.bottom > ul{
	height:100%;
	width:100%;
}
.bottom > ul > li{
	box-sizing: border-box;
	border-right:1px solid  #eee;
	float: left;
	width:33.333%;
	height:100%;
	font-size:0.3rem;
	text-align: center;
	line-height: 0.6rem;
	color:#32afff;
}
.bottom > ul > li.shouhuo{
	color:#ffcf87;
	border:none;
}
.contents{
	width:7.06rem;
	height:2.04rem;
	margin: 0 auto;
	margin-top:0.24rem;
	background: #fff;
	border-radius: 0.1rem;
}
.sofa{
	float: left;
	width:2.2rem;
	height:2.04rem;
}
.contents > ul{
	width:4.76rem;
	height:100%;
	float: right;
}
.contents > ul > li.name{
	width:100%;
	height:0.66rem;
	box-sizing: border-box;
	border-bottom: 1px solid #eee ;
}
.contents > ul > li.price{
	width:100%;
	height:0.46rem;
}
.contents > ul > li.local{
	width:100%;
	height:0.48rem;
}
.contents > ul > li.fukuan{
	width:100%;
	height:0.44rem;
}
.contents > ul > li.name h1{
	height:100%;
	font-size:0.34rem;
	float: left;
	line-height: 0.66rem;
}
.contents > ul > li.name p{
	height:100%;
	font-size:0.32rem;
	float: right;
	margin-right: 0.4rem;
	line-height: 0.66rem;
	font-size:0.28rem;
	font-weight: 500;
	color:#6fc768;
}
.contents > ul > li.price h1{
	height:100%;
	font-size:0.32rem;
	float: left;
	line-height: 0.56rem;
	color:#ffb730;
}
.contents > ul > li.price p{
	height:100%;
	font-size:0.32rem;
	float: left;
	margin-left: 0.6rem;
	line-height: 0.56rem;
	font-size:0.18rem;
	font-weight: 500;
	color:#cfcfcf;
}
.local{
	font-size:0.3rem;
	line-height:0.5rem;
	color:#515151;
}
.fukuan{
	font-size:0.28rem;
	line-height: 0.44rem;
	color: #818181;
}
.contents > ul > li.fukuan > .pay{
	width:1.1rem;
	height:0.3rem;
	float: right;
	background: #32afff;
	margin-right: 0.12rem;
	margin-top:0.06rem;
	border-radius: 0.06rem;
	font-size:0.1rem;
	text-align: center;
	line-height: 0.3rem;
	color:#fff;
}
/*代付款*/
.conten{
	position: relative;
	width:6.76rem;
	height:2.04rem;
	margin-left:0.6rem;
	margin-top:0.24rem;
	background: #fff;
	border-radius: 0.1rem;
}
.sofas{
	float: left;
	width:2.1rem;
	height:2.04rem;
}
.conten > ul{
	width:4.44rem;
	height:2.04rem;
	float: right;
}
.conten > ul > li.name{
	width:100%;
	height:0.66rem;
	box-sizing: border-box;
	border-bottom: 1px solid #eee ;
}
.conten > ul > li.price{
	width:100%;
	height:0.46rem;
}
.conten > ul > li.local{
	width:100%;
	height:0.48rem;
}
.conten > ul > li.fukuan{
	width:100%;
	height:0.44rem;
}
.conten > ul > li.name h1{
	height:100%;
	font-size:0.34rem;
	float: left;
	line-height: 0.66rem;
}
.conten > ul > li.name p{
	height:100%;
	font-size:0.32rem;
	float: right;
	margin-right: 0.4rem;
	line-height: 0.66rem;
	font-size:0.28rem;
	font-weight: 500;
	color:#f53446;
}
.conten > ul > li.price h1{
	height:100%;
	font-size:0.32rem;
	float: left;
	line-height: 0.56rem;
	color:#ffb730;
}
.conten > ul > li.price p{
	height:100%;
	font-size:0.32rem;
	float: left;
	margin-left: 0.6rem;
	line-height: 0.56rem;
	font-size:0.18rem;
	font-weight: 500;
	color:#cfcfcf;
}
.local{
	font-size:0.3rem;
	line-height:0.5rem;
	color:#515151;
}
.fukuan{
	font-size:0.28rem;
	line-height: 0.44rem;
	color: #818181;
}
.pay{
	width:1.1rem;
	height:0.3rem;
	float: right;
	background: #ffb730;
	margin-right: 0.12rem;
	margin-top:0.06rem;
	border-radius: 0.06rem;
	font-size:0.1rem;
	text-align: center;
	line-height: 0.3rem;
	color:#fff;
}
.mark{
	width:0.4rem;
	height:0.4rem;
	position: absolute;
	top:40%;
	left: -0.51rem;
	border-radius: 50%;
	background: #fff;
}
.marks{
	width:0.44rem;
	height:0.44rem;
	background: #ffb11e;
	position: absolute;
	top:39%;
	left: -0.53rem;
	border-radius: 50%;
}
.first{
	display: none;
}

.markst{
	box-sizing: border-box;
	width:0.4rem;
	height:0.4rem;
	background: #fff;
	position: absolute;
	border:1px solid #ffb11e;
	top:40%;
	left: -0.5rem;
	border-radius: 50%;
	background: #ffb11e;
	/*background: #fff;*/
}

.act{
	background: #ffb11e!important;
}


.dibu{
	width:100%;
	height:0.96rem;
	position: absolute;
	top: 102%;
	background: #fff;
}
.dibu >div.markst{
	box-sizing: border-box;
	width:0.4rem;
	height:0.4rem;
	background: #fff;
	position: absolute;
	border:1px solid #ffb11e;
	top:0.3rem;
	left: 0.2rem;
	border-radius: 50%;
/*	z-index: 66;*/
}
.quanxuan{
	float: left;
	font-size:0.32rem;
	margin-top:0.23rem;
	margin-left:0.73rem;
	color:#ffb11e;
}
.prices{

	font-size:0.52rem;
	margin-top:0.1rem;
	margin-left:1.6rem;
	color:#ffb11e;
}
.nowfu{
	display: block;
	width:2.46rem;
	height:0.96rem;
	background: red;
	position: absolute;
	top:0;
	right:0;
	background: #ffb11e;
	font-size: 0.36rem;
	text-align: center;
	line-height: 0.96rem;
	color:#fff;
}
/*待收货*/
.content{
	width:7.06rem;
	height:2.04rem;
	margin: 0 auto;
	margin-top:0.24rem;
	background: #fff;
	border-radius: 0.1rem;
}
.sofa{
	float: left;
	width:2.2rem;
	height:2.04rem;
}
.content > ul{
	width:4.76rem;
	height:2.04rem;
	float: right;
}
.content > ul > li.name{
	width:100%;
	height:0.66rem;
	box-sizing: border-box;
	border-bottom: 1px solid #eee ;
}
.content > ul > li.price{
	width:100%;
	height:0.46rem;
}
.content > ul > li.local{
	width:100%;
	height:0.48rem;
}
.content > ul > li.fukuan{
	width:100%;
	height:0.44rem;
}
.content > ul > li.name h1{
	height:100%;
	font-size:0.34rem;
	float: left;
	line-height: 0.66rem;
}
.content > ul > li.name p{
	height:100%;
	font-size:0.32rem;
	float: right;
	margin-right: 0.4rem;
	line-height: 0.66rem;
	font-size:0.28rem;
	font-weight: 500;
	color:#f53446;
}
.content > ul > li.price h1{
	height:100%;
	font-size:0.32rem;
	float: left;
	line-height: 0.56rem;
	color:#ffb730;
}
.content > ul > li.price p{
	height:100%;
	font-size:0.32rem;
	float: left;
	margin-left: 0.6rem;
	line-height: 0.56rem;
	font-size:0.18rem;
	font-weight: 500;
	color:#cfcfcf;
}
.local{
	font-size:0.3rem;
	line-height:0.5rem;
	color:#515151;
}
.fukuan{
	font-size:0.28rem;
	line-height: 0.44rem;
	color: #818181;
}
.pay{
	width:1.1rem;
	height:0.3rem;
	float: right;
	background: #ffb730;
	margin-right: 0.12rem;
	margin-top:0.06rem;
	border-radius: 0.06rem;
	font-size:0.1rem;
	text-align: center;
	line-height: 0.3rem;
	color:#fff;
}
.contentt{
	width:7.06rem;
	height:2.64rem;
	margin: 0 auto;
	margin-top:0.24rem;
	background: #fff;
	border-radius: 0.1rem;
}
.sofa{
	float: left;
	width:2.2rem;
	height:2.04rem;
}
.contentt > ul{
	width:4.76rem;
	height:2.04rem;
	float: right;
}
.contentt > ul > li.name{
	width:100%;
	height:0.66rem;
	box-sizing: border-box;
	border-bottom: 1px solid #eee ;
}
.contentt > ul > li.price{
	width:100%;
	height:0.46rem;
}
.contentt > ul > li.local{
	width:100%;
	height:0.48rem;
}
.contentt > ul > li.fukuan{
	width:100%;
	height:0.44rem;
}
.contentt > ul > li.name h1{
	height:100%;
	font-size:0.34rem;
	float: left;
	line-height: 0.66rem;
}
.contentt > ul > li.name p{
	height:100%;
	font-size:0.32rem;
	float: right;
	margin-right: 0.4rem;
	line-height: 0.66rem;
	font-size:0.28rem;
	font-weight: 500;
	color:#6ac0ff;
}
.contentt > ul > li.price h1{
	height:100%;
	font-size:0.32rem;
	float: left;
	line-height: 0.56rem;
	color:#ffb730;
}
.contentt > ul > li.price p{
	height:100%;
	font-size:0.32rem;
	float: left;
	margin-left: 0.6rem;
	line-height: 0.56rem;
	font-size:0.18rem;
	font-weight: 500;
	color:#cfcfcf;
}
.local{
	font-size:0.3rem;
	line-height:0.5rem;
	color:#515151;
}
.fukuan{
	font-size:0.28rem;
	line-height: 0.44rem;
	color: #818181;
}
.pay{
	width:1.1rem;
	height:0.3rem;
	float: right;
	background: #ffb730;
	margin-right: 0.12rem;
	margin-top:0.06rem;
	border-radius: 0.06rem;
	font-size:0.1rem;
	text-align: center;
	line-height: 0.3rem;
	color:#fff;
}
.bottom{
	float: left;
	width:100%;
	height:0.6rem;
	box-sizing: border-box;
	border-top:1px solid  #eee;
}
.bottom > ul{
	height:100%;
	width:100%;
}
.bottom > ul > li{
	box-sizing: border-box;
	border-right:1px solid  #eee;
	float: left;
	width:33.333%;
	height:100%;
	font-size:0.3rem;
	text-align: center;
	line-height: 0.6rem;
	color:#32afff;
}
.bottom > ul > li.shouhuo{
	color:#ffcf87;
	border:none;
}
.contents{
	width:7.06rem;
	height:2.04rem;
	margin: 0 auto;
	margin-top:0.24rem;
	background: #fff;
	border-radius: 0.1rem;
}
.sofa{
	float: left;
	width:2.2rem;
	height:2.04rem;
}
.contents > ul{
	width:4.76rem;
	height:100%;
	float: right;
}
.contents > ul > li.name{
	width:100%;
	height:0.66rem;
	box-sizing: border-box;
	border-bottom: 1px solid #eee ;
}
.contents > ul > li.price{
	width:100%;
	height:0.46rem;
}
.contents > ul > li.local{
	width:100%;
	height:0.48rem;
}
.contents > ul > li.fukuan{
	width:100%;
	height:0.44rem;
}
.contents > ul > li.name h1{
	height:100%;
	font-size:0.34rem;
	float: left;
	line-height: 0.66rem;
}
.contents > ul > li.name p{
	height:100%;
	font-size:0.32rem;
	float: right;
	margin-right: 0.4rem;
	line-height: 0.66rem;
	font-size:0.28rem;
	font-weight: 500;
	color:#6fc768;
}
.contents > ul > li.price h1{
	height:100%;
	font-size:0.32rem;
	float: left;
	line-height: 0.56rem;
	color:#ffb730;
}
.contents > ul > li.price p{
	height:100%;
	font-size:0.32rem;
	float: left;
	margin-left: 0.6rem;
	line-height: 0.56rem;
	font-size:0.18rem;
	font-weight: 500;
	color:#cfcfcf;
}
.local{
	font-size:0.3rem;
	line-height:0.5rem;
	color:#515151;
}
.fukuan{
	font-size:0.28rem;
	line-height: 0.44rem;
	color: #818181;
}
.contents > ul > li.fukuan > .pay{
	width:1.1rem;
	height:0.3rem;
	float: right;
	background: #32afff;
	margin-right: 0.12rem;
	margin-top:0.06rem;
	border-radius: 0.06rem;
	font-size:0.1rem;
	text-align: center;
	line-height: 0.3rem;
	color:#fff;
}

/*评价*/
.contents{
	width:7.06rem;
	height:2.04rem;
	margin: 0 auto;
	margin-top:0.24rem;
	background: #fff;
	border-radius: 0.1rem;
}
.sofa{
	float: left;
	width:2.2rem;
	height:2.04rem;
}
.contents > ul{
	width:4.76rem;
	height:100%;
	float: right;
}
.contents > ul > li.name{
	width:100%;
	height:0.66rem;
	box-sizing: border-box;
	border-bottom: 1px solid #eee ;
}
.contents > ul > li.price{
	width:100%;
	height:0.46rem;
}
.contents > ul > li.local{
	width:100%;
	height:0.48rem;
}
.contents > ul > li.fukuan{
	width:100%;
	height:0.44rem;
}
.contents > ul > li.name h1{
	height:100%;
	font-size:0.34rem;
	float: left;
	line-height: 0.66rem;
}
.contents > ul > li.name p{
	height:100%;
	font-size:0.32rem;
	float: right;
	margin-right: 0.4rem;
	line-height: 0.66rem;
	font-size:0.28rem;
	font-weight: 500;
	color:#6fc768;
}
.contents > ul > li.price h1{
	height:100%;
	font-size:0.32rem;
	float: left;
	line-height: 0.56rem;
	color:#ffb730;
}
.contents > ul > li.price p{
	height:100%;
	font-size:0.32rem;
	float: left;
	margin-left: 0.6rem;
	line-height: 0.56rem;
	font-size:0.18rem;
	font-weight: 500;
	color:#cfcfcf;
}
.local{
	font-size:0.3rem;
	line-height:0.5rem;
	color:#515151;
}
.fukuan{
	font-size:0.28rem;
	line-height: 0.44rem;
	color: #818181;
}
.contents > ul > li.fukuan > .pay{
	width:1.1rem;
	height:0.3rem;
	float: right;
	background: #32afff;
	margin-right: 0.12rem;
	margin-top:0.06rem;
	border-radius: 0.06rem;
	font-size:0.1rem;
	text-align: center;
	line-height: 0.3rem;
	color:#fff;
}