body{
    background: #f2f2f2;
}
*{
    font-size:0.24rem;
}
/*导航开始*/
nav{
    height:0.88rem;
    width:100%;
    background-image: url("../img/hyynav.png");
    background-size: 100%;
    text-align:center;
    line-height: 0.96rem;
    position: relative;
}
nav img.hyyjt{
    width:0.6rem;
    position: absolute;
    left:0.24rem;
    top:0.1rem;
}
nav img.hyyss{
    width:0.45rem;
    position: absolute;
    right:0.24rem;
    top:0.2rem;
}
nav input{
    font-size: 0.36rem;
    border:none;
    outline: none;
    height:0.56rem;
    width:4.75rem;
    border-radius: 0.1rem;
    box-sizing: border-box;
    padding:0.05rem 0.3rem;
}
nav input::-webkit-input-placeholder{ /*WebKit browsers*/
    color: #C5C5C5;
    font-size: 0.32rem;
    text-align: center;
}
nav img.hyysl{
    position:absolute;
    right:1.5rem;
    top:0.24rem;
    width:0.5rem;
}
/*隐藏*/
nav .hidden{
    height:5.35rem;
    width:7.03rem;
    background:rgba(255,255,255,0.95);
    position: absolute;
    top:95%;
    left:0.23rem;
    z-index: 222;
    display: none;
    box-shadow: 0 2px 7px 1px #B7B7B7;
    border-radius: 7px;
}
nav .hidden .san{
    width: 0;
    border: 9px solid rgba(0,0,0,0);
    border-bottom: 9px solid #fff;
    position: absolute;
    left: 24%;
    top: -6%;
    margin-left: -10px;
}

nav .hidden ul{
    width:94%;
    height:100%;
    text-align: left;
}
nav .hidden ul li{
    line-height: 0.63rem;
    width:100%;
    height:0.63rem;
    border-bottom:1px solid #E3E3E3;
}
nav .hidden ul li a{
    display: block;
    height:100%;
    width:100%;
}
nav .hidden ul li a p{
    color:#6A6A6A;
    padding-left:0.3rem;
    box-sizing: border-box;
}
nav .hidden ul li a p span{
    color:#FFDAA2;
}
#wrapper {
    position: absolute;
    z-index: 1;
    top: .88rem;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    width: 100%;
    height:600px;
}

/*历史搜索*/
section{
    height:2.85rem;
    width:100%;
    background: #fff;
}
.hyyjl{
    height:1.6rem;
    width:92%;
    margin:0 auto;
    text-align: center;
    position: relative;
}
.hyyjl p{
    float:left;
    height:0.5rem;
    width:1.34rem;
    color:#fff;
    background:#32ABFF;
    margin-right:0.25rem;
    border-radius:0.25rem;
    line-height: 0.5rem;
    margin-top:0.2rem;
}
.hyyjl p:nth-child(3){
    width:1.8rem;
}
.hyyjl p:nth-child(5){
    width:2.65rem;
}
.hyyjl p:nth-child(6){
    width:1.47rem;
}
.hyyjl p:nth-child(2n){
    background:#31C7FF;
}
.hyyjl span{
    position: absolute;
    font-size:30px;
    color:#31C7FF;
    font-weight: bold;
}
.hyyjl span:nth-of-type(1){
    left:1.32rem;
    top:0.03rem;
}
.hyyjl span:nth-of-type(2){
    left:2.9rem;
    top:0.03rem;
}
.hyyjl span:nth-of-type(3){
    left:4.95rem;
    top:0.03rem;
}
.hyyjl span:nth-of-type(4){
    left:2.62rem;
    top:0.73rem;
}
.headline span{
    color:#DFDFDF;
    float:right;
    margin-top:0.2rem;
}
.hyydi{
    width:92%;
    height:0.4rem;
    margin:0 auto;
}
.hyydi img{
    width:2.88rem;
}
.hyydi span{
    color:#C5C5C5;
}
/*热门搜索*/
div.hyyhot{
    height:2.5rem;
    width:100%;
    background: #fff;
    margin:0.25rem 0;
}
.hyyhj{
    height:1.6rem;
    width:92%;
    margin:0 auto;
    text-align: center;
    position: relative;
}
.hyyhj p{
    float:left;
    height:0.5rem;
    width:1.30rem;
    border:1px solid #FFCA68;
    color:#FFCA68;
    margin-right:0.25rem;
    border-radius:0.25rem;
    line-height: 0.5rem;
    margin-top:0.2rem;
}
.hyyhj p:nth-child(3){
    width:1.8rem;
}
.hyyhj p:nth-child(5){
    width:2.65rem;
}
.hyyhj p:nth-child(6){
    width:1.47rem;
}
.hyyhj p:nth-child(2n){
    border:1px solid #69C1FF;
    color:#69C1FF;
}
.hyyhj span{
    position: absolute;
    font-size:30px;
    color:#31C7FF;
    font-weight: bold;
}
.hyyhj span:nth-of-type(1){
    left:1.32rem;
    top:0.03rem;
}
.hyyhj span:nth-of-type(2){
    left:2.9rem;
    top:0.03rem;
}
.hyyhj span:nth-of-type(3){
    left:5rem;
    top:0.03rem;
}
.hyyhj span:nth-of-type(4){
    left:2.68rem;
    top:0.77rem;
}
/*推荐*/
div.recommend{
    height:5.6rem;
    width:100%;
    background:#fff;
}
.headline{
    width:7.02rem;
    height:0.8rem;
    margin:0 auto;
}
.headline img{
    height:75%;
    margin-top:0.1rem;
}
div.recommend .hyysf{
    height:1.88rem;
    width:7.02rem;
    border:1px solid #32ABFF;
    border-radius: 10px;
    margin:0 auto;
}
div.recommend .hyysf1{
    margin-top:0.2rem;
}
div.recommend .hyysf div{
    float:left;
}
div.recommend .hyysf div.left{
    width:30%;
    height:100%;
}
div.recommend .hyysf div.left img{
    width:100%;
    margin-top:0.2rem;
    margin-left:0.08rem;
}
div.recommend .hyysf div.right{
    width:65%;
    height:100%;
    margin-left:5%;
}
div.recommend .hyysf div.right h3{
    font-weight:bold;
    color:#484848;
    font-size:0.36rem;
    margin-top:0.08rem;
    float:left;
}
div.recommend .hyysf div.right .hyyf{
    float:right;
    margin-top:0.15rem;
    margin-right:0.2rem;
    color:#C6C6C6;
}
div.recommend .hyysf div.right img{
    width:100%;
}
div.recommend .hyysf div.right .hyyrmb{
    color:#FFB730;
    font-size:0.36rem;
    font-weight:900;
    font-style:italic;
    letter-spacing: 0.01rem;
}
div.recommend .hyysf div.right .hyysrmb{
    color:#C6C6C6;
    margin-left:0.3rem;
}
div.recommend .hyysf div.right p{
    color:#000;
}
