body, html {
  width: 100%;
  height: 100%;
  position:relative;
}

.ly-spy {
  width: 100%;
  height: 100%;
}

.ly-spy .ly-spydian {
  bottom: 70px;
}

.ly-spy .ly-spydian .swiper-pagination-bullet {
  background: yellow;
}

.ly-spytu {
  width: 100%;
  height: 100%;
}

.ly-spytu img {
  width: 100%;
  /*height: 100%;*/
  padding-top:1.17rem;
}
.ly-spy>a{
	width:1rem;
	height:0.5rem;
	background:#FFD516;
	position:absolute;
	bottom:0.5rem;
	left:3.3rem;
	z-index:111;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.5rem;
	color:white;	
}
