body,html{
    width:100%;
    height:100%;
    overflow: hidden;
    position:relative;
}
.zc{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    position:absolute;
    z-index:2;
}
.ly-zccg{
    width:5.11rem;
    height:5.69rem;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index:10;
    >img{
        width:100%;
    }
}
.ly-zc{
    width:100%;
    height:100%;
    background-image: url(../img/ly/zcbg.png);
    background-size: 100% 100%; 
    >a{
    width:3.06rem;
    height:0.67rem;
    position:absolute;
    left:3.2rem;
    top:8.5rem;
    z-index:20;
    >img{
        width:100%;
    } 
 } 
//  position:relative;
    .top{
        width:100%;
        height:1rem;       
        >a{
            display: block;
            width:0.44rem;
            height:0.5rem;
            float:left;
            margin-top:0.25rem;
            margin-left:0.12rem;
            
            img{
               width:100%;              
            };
        }
        >img{
            width:1.05rem;
            height:0.5rem; 
            float:left;
            margin-top:0.25rem;
            margin-left:2.80rem;
        }
    }
}
.ly-ljzc{
    width:5.55rem;
    height:6.68rem;
    position:absolute;
    top:3.08rem;
    left:1rem;
    background:white;
    border-radius:0.02rem;
    >a{
        display:block;
        margin:0.7rem auto;       
        width:1.26rem;
        height:0.43rem;
        img{
            width:100%;
            
        }
    }
    .ly-sjzc{
        width:50%;
        height:0.72rem;
//      background:red;
        float:left;
        text-align: center;
//      line-height: 0.72rem;
        font-size: 0.24rem;
        border-radius: 0.05rem;
    }
    .ly-yxzc{
        width:50%;
        height:0.72rem;
//      background:blue;
        float:right;
        text-align: center;
//      line-height: 0.72rem;
        font-size: 0.24rem;
        border-radius: 0.05rem;
    } 
    .sjl{
        width:50%;
        height:0.26rem;
        background:white;
        float:left;
        margin-top:-0.26rem;
        border-radius: 0.03rem 0.03rem 0 0;
    }
    .sjr{
        width:50%;
        height:0.26rem;
        background:white;
        float:left;
        margin-top:-0.26rem;
        border-radius: 0.03rem 0.03rem 0 0;
        display:none;       
    }   
    form{
        width:100%;
        height:4.2rem;
        margin-top:0.9rem; 
        .message{
            width:100%;
            height:0.6rem;
            margin-top:0.5rem;
            a{
                display: block;
                width:1.26rem;
                height:0.43rem;
                float:left;
                img{
                    width:100%;
                    height:100%ï¼›
                    
                }
            }
            .ck{
                width:0.26rem;
                height:0.2rem;
                float:left;
                line-height:0.38rem;
                margin-left:0.5rem;
                img{
                    width:100%;
                    height:100%;
                }
            }
            .ly-sjh{
                width:0.72rem;
                height:0.38rem;
                margin-left:0.45rem;
                float:left;
                img{
                    width:100%;
                    height:100%;
                }
            }
            input{
                border:none;
                float:left;
                line-height:0.38rem;
            }
        }
        .ly-xian{
            width:4.76rem;
            height:0.12rem;
            margin-left:0.5rem;
            img{
                width:100%;
                height:100%;
            }
        }       
    }  
}
