body{
	/*height:50rem;*/
	background:#f8f8f8;
}
/*下拉*/
.yzf-slide .active5{
	display: block;
}
.yzf-slide{
	width:2.91rem;
	height:6.05rem;
	background:#fff;
	border-radius:5px;
	position:absolute;
	top:0.8rem;
	right:0.3rem;
	z-index:20000000;
	display: none;
}
.yzf-slide .yzf-sanjiao{
	width: 0;
    height: 0;
    border-left: 0.2rem solid transparent;
    border-right: 0.1rem solid transparent;
    border-bottom: 0.1rem solid #fff;
    position:absolute;
    top:-0.1rem;
    right:0.2rem;
}
.yzf-slide .yzf-sanjiao ul{
	width:100%;
	height:100%;
}
.yzf-rect li{
	width:80%;
	height:auto;
	border-bottom:1px dotted #ffdc3b;
	margin:0.35rem auto;
	padding-bottom:0.1rem;
}
.yzf-rect  li  img{
	width:0.52rem;
	height:0.52rem;
	vertical-align: middle;
}
.yzf-rect  li  span{
	margin-left:0.2rem;
}
.yzf-nav{
	width:100%;
	height:1rem;
	background: #ffdc3b;
	position:absolute;
	top:0;
	left: 0;
	z-index:1000;
}
.yzf-nav img:first-child{
	display: block;
	float: left;
	width: 0.16rem;
	height: 0.28rem;
	margin:0.4rem auto 0.3rem 0.32rem;
}
.yzf-nav img:nth-child(2){
	display: block;
	float: left;
	width: 2.5rem;
	height: 0.7rem;
	margin: 0.15rem auto 0.14rem 2rem;
}
.yzf-nav img:nth-child(3){
	display: block;
	float: right;
	width: 0.5rem;
	height: 0.2rem;
	margin:0.4rem 0.34rem 0.34rem auto;
}
/*内容*/
.yzf-box{
	background: #fff;
	height:auto;
	overflow: hidden;
	padding-bottom:0.5rem;
}
.yzf-box1{
	width:7rem;
	height:3.33rem;
	margin:0 auto;
	box-shadow: 5px;
	padding-top:1.3rem;
}
.yzf-box1 .photo1{
	width:2.8rem;
	height:3rem;
	margin-top: 0.15rem;
	margin-left: 0.1rem;
	float:left;
}
.yzf-box2{
	width:0.47rem;
	height:0.47rem;
	border-radius:50%;
	background:blue;
	float:left;
	margin:0.35rem auto auto 0.2rem;
}
.yzf-box2 img{
	width:0.6rem;
	height:0.6rem;
}
.yzf-box1 h5{
	float:left;
	margin-top:0.3rem;
	margin-left:0.2rem;
	font-size:0.24rem;
}
.yzf-box1 h6{
	float:left;
	margin-left:0.2rem;
	font-size:0.2rem;
}
.yzf-box3{
	width:0.66rem;
	height:0.25rem;
	background:#ffe157;
	float:left;
	margin-left:3.2rem;
	margin-top:0.2rem;
	border-radius:5px;
	font-size:0.2rem;
	color:#fff;
	line-height:0.25rem;
}
.yzf-box1 span{
	display: block;
	width:3.6rem;
	height:1rem;
	float:left;
	margin-top:0.2rem;
	margin-left:0.3rem;
	color:#bfbfbf;
	font-size:0.22rem;
}
.yzf-font2{
	float:left;
	width:auto;
	height:0.2rem;
	margin-top:0.4rem;
	margin-left:0.3rem;
}
.yzf-font3{
	width:0.3rem;
	height:0.2rem;
	float: left;
}
.yzf-font2 p{
	display: block;
	font-family: "Tahoma";
	font-size:0.22rem;
	float: left;
	margin-left:0.3rem;
	margin-top: -0.05rem;
}
.yzf-font4{
	width:0.3rem;
	height:0.2rem;
	float: left;
	margin-left:0.3rem;
	line-height: 0.2rem;
}
/*食材料理*/
.yzf-shicai{
	width:3.3rem;
	height:1rem;
	margin: 0 auto;
	margin-top: 0.65rem;
	background:#fff;
}
.yzf-shicai img{
	width:3.3rem;
	height:1rem;	
}
.yzf-list{
	width:100%;
	height:auto;
	overflow: hidden;
}
.yzf-list li{
	width:100%;
	height:0.7rem;
	float:left;
	line-height: 0.7rem;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
.yzf-list li:first-child span{
	color: #FFFFFF;
	font-size:0.24rem;
	display: block;
	float: left;
	margin-left:0.67rem;
}
.yzf-list li:first-child p{
	color: #FFFFFF;
	font-size:0.18rem;
	display: block;
	float: left;
}
.yzf-list li:first-child{
	background: #ffe157;
	line-height: 0.7rem;
}
.yzf-list li:first-child span:nth-child(1){
	color: #FFFFFF;
	font-size:0.24rem;
	display: block;
	float: left;
	margin-left:0.67rem;
}
.yzf-list li:first-child span:nth-child(2){
	color: #FFFFFF;
	font-size:0.18rem;
	display: block;
	float: left;
}
.yzf-list li:nth-child(3){
	background: #ffe157;
	line-height: 0.7rem;
}
.yzf-list li:nth-child(3) span:nth-child(1){
	color: #FFFFFF;
	font-size:0.24rem;
	display: block;
	float: left;
	margin-left:0.67rem;
}
.yzf-list li:nth-child(3) span:nth-child(2){
	color: #FFFFFF;
	font-size:0.18rem;
	display: block;
	float: left;
	margin-left:0.67rem;
}
.yzf-list li span:first-child{
	color: #000;
	font-size:0.24rem;
	display: block;
	float: left;
	margin-left:0.67rem;
}
.yzf-list li span:nth-child(2){
	color: red;
	font-size:0.18rem;
	display: block;
	float: right;
	margin-right:0.67rem;
}
.yzf-box5{
	width:80%;
	height:0.32rem;
	margin-left:0.8rem;
	border-radius: 5px;
	margin-top:0.3rem;
	float:left;
	display: flex;
	justify-content: space-around;
	color:#fff;
	margin-bottom:0.5rem;
}
.yzf-box5 > a{
	color:#fff;
}
.yzf-box5 span:first-child{
	font-size:0.14rem;
	display: block;
	width:1.05rem;
	height:0.32rem;
	border-radius:10px;
	background: #fb7070;
	float:left;
	text-align: center;
	line-height:0.32rem;
	color:#fff;
}
.yzf-box5 span:nth-child(2){
	font-size:0.14rem;
	display: block;
	width:1.05rem;
	height:0.32rem;
	border-radius:10px;
	background: #ffe157;
	float:left;
	text-align: center;
	line-height:0.32rem ;
}
.yzf-box5 span:nth-child(3){
	font-size:0.14rem;
	display: block;
	width:1.05rem;
	height:0.32rem;
	border-radius:10px;
	background: #4088ff;
	float:left;
	text-align: center;
	line-height:0.32rem ;
}
/*美食做法*/
.yzf-box4{
	background:#fff;
	width:7rem;
	height:auto;
	margin:0 auto;
	overflow: hidden;
	margin-top:0.3rem;
	padding-bottom: 0.6rem;
}
.yzf-box4 > li{
	width:100%;
	height:auto;
	float:left;
	line-height:1.65rem;
	float:left;
}
.yzf-box4 > li > span{
	width:auto;
	height:auto;
	display: block;
	margin-left:0.3rem;
	float:left;
}
.yzf-box4 > li > img{
	width:3.5rem;
	height:1.65rem;
	float:right;
	position: relative;
	transition: all 0.3s;
}

/*.yzf-box4 > li.zl-big{
	width:100%;
	height:auto;
	float:left;
	line-height:1.65rem;
	float:left;
}
.yzf-box4 > li.zl-big > span{
	width:auto;
	height:1.65rem;
	display: block;
	margin-left:0.3rem;
	float:left;
}
.yzf-box4 > li.zl-big > img{
	width:3.5rem;
	height:1.65rem;
	float:right;
}*/


/*步骤视频*/
.yzf-box6{
	background:#fff;
	width:100%;
	height:auto;
	overflow: hidden;
	padding-bottom: 0.5rem;;
}
.yzf-shipin{
	width:7rem;
	height:3.28rem;
	margin:0 auto;
}
.yzf-shipin img{
	width:7rem;
	height:3.28rem;
}
.yzf-pengren{
	width:100%;
	height:2rem;
	margin:0 auto;
	text-align: center;
	line-height: 3.28rem;
}
.yzf-pengren img{
	width:2.8rem;
	height:0.8rem;
}
.yzf-shiimg{
	width:100%;
	height:auto;
	margin:0 auto;
	text-align: center;
}
.yzf-shiimg img{
	width:3.2rem;
	height:0.9rem;
}
.yzf-font{
	width:90%;
	height:auto;
	margin:0 auto;
	line-height: 0.48rem;
}
.yzf-font h4 span{
	color:#ffe157;
	font-size:0.24rem;
}
.yzf-font h4{
	color:#282828;
	font-size:0.24rem;
}
/*评论*/
.yzf-pinglun{
	width:100%;
	height:auto;
	margin-top:0.2rem;
	margin-left:0.2rem;
}
.yzf-pinglun img{
	width:1.5rem;
	height:0.65rem;
}
.yzf-man{
	width:7rem;
	height:1.7rem;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	margin:0 auto;
}
.photo{
	width:0.48rem;
	height:0.48rem;
	border-radius: 50%;
	background:red;
	display: block;
	margin-left:0.2rem;
	margin-top:0.1rem;
	float:left;
}
.photo img{
	width:0.6rem;
	height:0.6rem;
}
.yzf-man > span:nth-child(2){
	color:#ffe157;
	display: block;
	float:left;
	margin-left:0.2rem;
}
.yzf-man > span:nth-child(3){
	color:#ffe157;
	display: block;
	float:left;
	margin-left:0.2rem;
}
.yzf-man > span:nth-child(4){
	width:80%;
	color:#ffe157;
	display: block;
	float:left;
	margin-left:0.2rem;
}
.yzf-man > span:nth-child(5){
	width:90%;
	display: block;
	float:left;
	margin-top:0.3rem;
	margin-left:0.2rem;
}
.pinglun2{
	width:1.6rem;
	height:0.42rem;
	border-radius:10px;
	background: #ffe157;
	line-height: 0.42rem;
	text-align: center;
	float:left;
	margin-left:2rem;
	margin-top:0.3rem;
}
.pinglun2 a{
	color:#fff;
}
.pinglun3 a{
	color:#fff;
}
.pinglun3{
	color:#fff;
	width:1.6rem;
	height:0.42rem;
	border-radius:10px;
	background: #4088ff;
	line-height: 0.42rem;
	text-align: center;
	float:right;
	margin-right:2rem;
	margin-top:0.3rem;
}
.yzf-box7{
	width:100%;
	height:0.8rem;
	text-align: center;
	background:#fff;
	padding-bottom: 0.3rem;;
}
.yzf-box7 img{
	width:3rem;
	height:0.8rem;
}



/*滑动轮播*/
div.zl-banner2{
	width:100%;
	height:4.7rem;
	position: relative;
	overflow: hidden;
	background:#fff;
}
div.zl-banner2 >ul{
	/*width:100%;*/
	height:4rem;
	background:#fff;
}
div.zl-banner2 >ul >li{
	width:3rem !important;
	margin-right:0.3rem;
	height:4rem;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	border-radius: 0.05rem;
}
div.zl-banner2 >ul >li >img{
	display: block;
	width:100%;
	height:2.42rem;
}
div.zl-banner2 >ul >li >div.zl-content{
	width:100%;
	height:1.58rem;
	position:relative;
	padding-left:0.15rem;
	box-sizing: border-box;
}
div.zl-banner2 >ul >li >div.zl-content >div.zl-xing{
	width:0.5rem;
	height:0.5rem;
	position: absolute;
	top:-0.25rem;
	right:0.2rem;
	background:url(../img/zl/index_26.png) no-repeat center;
	background-size:100%;
}
div.zl-banner2 >ul >li >div.zl-content >h6{
	/*width:100%;*/
	height:0.48rem;
	line-height:0.48rem;
	font-size:0.24rem;
	color:rgb(35,35,35);
	font-family:'苹方';
}
div.zl-banner2 >ul >li >div.zl-content >p{
	/*width:100%;*/
	height:0.22rem;
	line-height:0.22rem;
	font-size:0.2rem;
	color:rgb(251,230,48);
	font-family:'三番';
}
div.zl-banner2 >ul >li >div.zl-content >div.zl-star{
	/*width:100%;*/
	height:0.24rem;
	margin:0.03rem 0;
}
div.zl-banner2 >ul >li >div.zl-content >div.zl-star >span{
	width:0.24rem;
	height:0.24rem;
	float:left;
	margin-right:0.05rem;
	background:url(../img/zl/index_32.png) no-repeat center;
	background-size:100%;
}
div.zl-banner2 >ul >li >div.zl-content >div.zl-star >span.zl-on{
	background:url(../img/zl/index_30.png) no-repeat center;
	background-size:100%;
}
div.zl-banner2 >ul >li >div.zl-content >div.zl-customer{
	/*width:0.24rem;*/
	height:0.58rem;
	line-height:0.58rem;
	display: flex;
	/*justify-content: ;*/
	align-items: center;
}
div.zl-banner2 >ul >li >div.zl-content >div.zl-customer >.zl-head{
	width:0.5rem;
	height:0.5rem;
}
div.zl-banner2 >ul >li >div.zl-content >div.zl-customer >.zl-head >img{
	width:100%;
	height:100%;
}
div.zl-banner2 >ul >li >div.zl-content >div.zl-customer >.zl-name{
	font-size:0.2rem;
	color:rgb(162,162,162);
	font-family:'三番';
	padding-left:0.1rem;
	/*width:100%;*/
	height:100%;
	flex:auto;
}
div.zl-banner2 >ul >li >div.zl-content >div.zl-customer >a{
	display: block;
	font-size:0.2rem;
	color:rgb(255,255,255);
	font-family:'三番';
	width:0.72rem;
	height:0.22rem;
	line-height: 0.22rem;
	text-align: center;
	text-transform: uppercase;
	border-radius: 0.11rem;
	background:rgb(251,112,112);
	margin-right:0.1rem;
}


.icon{
	width:100%;
	display: flex;
	justify-content: space-around;
	background:#fff;
	padding-bottom: 0.5rem;
}
.icon img{
	display: block;
	width:0.57rem;
	height:0.5rem;
}

div.zhezhao{
	width:100%;
	height:13rem;
	background:rgba(0,0,0,0.5);
	position:fixed;
	top:1rem;
	left:0;
	display: none;
	z-index:100000;
}
div.zhezhao img:first-child{
	width:5.5rem;
	height:9.8rem;
	position:absolute;
	top:1.6rem;
	left:1rem;
	/*z-index:1000;*/
}
div.zhezhao img:nth-child(2){
	width:0.5rem;
	height:0.5rem;
	position:absolute;
	top:1.3rem;
	left:6.3rem;
}
