html,body{
	background: #fff;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 0.88rem;
	bottom: 1.36rem;
	left: 0;
	width: 100%;
	background: #fff;
	overflow: hidden;
}
.iScrollVerticalScrollbar{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 0.1rem;
	border-radius: 0.08rem;
}
.iScrollIndicator{
	position: absolute;
	right: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	z-index: 99;
	width: 100%;
	border-radius: 8px;
}
#header{
	height: 0.88rem;
	width: 100%;
	background: #ffdc3b;
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
header div:nth-child(1){
	height: 0.88rem;
	width: 0.88rem;
}
header div a img{
	height: 100%;
}
header div:nth-child(2){
	line-height: 0.88rem;
	height: 100%;
	width: 50%;
}
header div:nth-child(3){
	height: 0.88rem;
	width: 0.88rem;
}
header div a{
	width: 100%;
	height: 100%;
	display: block;
}
/*搜索框*/
header div:nth-child(2) input{
	width: 100%;
	height: 0.6rem;
	border: 0;
	border-radius: 0.5rem;
	text-align: center;
	color: #858787;
	line-height: 0.6rem;
	letter-spacing:0.06rem;
	outline: none;
	font-size: 0.24rem;
	/*取消默认的×*/
	-webkit-appearance:none;
}

/*banner开始*/

.zhc-banner {
    /*height: 3.48rem;*/
    width:100%;
   /* background:url(../img/zhc/images/zhc-banner_08.png) no-repeat center;
    background-size:auto 100%;*/
}
.zhc-circle{
	text-align: right;
	padding-right: 0.4rem;
	box-sizing: border-box;
}
.zhc-circle .swiper-pagination-bullet{
	background: #fff;
	opacity: 0.6;
}
.zhc-circle .swiper-pagination-bullet-active{
	background:#ffdc3b ;
	opacity: 1;
}
/*菜品推荐*/
.zhc-cbox{
	width: 100%;
	height: 8.4rem;
	position: relative;
}
/*下面的三个小点*/
.zhc-circles{
	right: 50%;
	margin-right: -0.18rem;
	bottom: 0.1rem;
}
.zhc-circles span{
	margin: 0 0.04rem;
}
.zhc-circles .swiper-pagination-bullet{
	background: #eeeeee;
}
.zhc-circles .swiper-pagination-bullet-active{
	background:#ffe511 ;
}

.zhc-tuijian{
	width: 100%;
	height: auto;
	padding: 0 0.24rem;
	box-sizing: border-box;
		overflow: hidden;
}
.zhc-biao{
	width: 100%;
	height: 1.4rem;
	line-height: 2rem;
	text-align: center;
}
.zhc-biao img{
	width: 3.2rem;
	height: 0.64rem;
}
.zhc-fubiao{
	width: 100%;
	height: 0.66rem;
	padding: 0 0.24rem;
	box-sizing: border-box;
}
.zhc-fubiao img{
	float: left;
	width: 1.88rem;
	height: 0.44rem;
}
.zhc-fubiao a{
	display: inline-block;
	height: 100%;
	float: right;
	color: #b0b0b0;
}
.zhc-fubiao a span{
	font-family: '宋体';
}
.zhc-pic{
	width: 100%;
	height: 5.6rem;
	display: flex;
	justify-content: space-between;
}
.zhc-pic .zhc-caibox{
	width: 48%;
	height: 100%;
	border-radius: 0.08rem;
	box-shadow: 0 0.06rem 0.16rem #ebebeb;
	padding: 0.08rem;
	box-sizing: border-box;
	/*margin-right: 4%;*/
}
.zhc-pic .zhc-caibox a{
	display: block;
	width: 100%;
	height:auto;
	position: relative;
}
.zhc-pic .zhc-caibox a img{
	width: 100%;
}
.zhc-pic .zhc-caibox a .zhc-star{
	width: 0.69rem;
	height: auto;
	position: absolute;
	bottom: -0.3rem;
	right: 0;
}
.zhc-pic .zhc-caibox a .zhc-star img{
	width: 100%;
}
.zhc-pic .zhc-caibox .zhc-cainame{
	width: 100%;
	height: 1.26rem;
	border-bottom: 1px dashed #b0b0b0;
	color: #454545;
}
.zhc-pic .zhc-caibox .zhc-cainame h1{
	font-weight: normal;
}
.zhc-pic .zhc-caibox .zhc-cainame h1 span{
	font-weight: normal;
	color: #fb7070;
}
.zhc-pic .zhc-caibox .zhc-cainame p{
	text-transform: uppercase;
	color: #858787;
}
.zhc-pic .zhc-caibox .zhc-cainame .zhc-back{
	width: 0.4rem;
	height: 0.04rem;
	background: #ffea3b;
	margin: 0.06rem 0;
}
.zhc-pic .zhc-caibox .zhc-pinlun{
	width: 100%;
	height: 0.5rem;
	
}
.zhc-pic .zhc-caibox .zhc-pinlun div{
	float: left;
	width: 50%;
	height: 100%;
	align-items: center;
	display: flex;
}
.zhc-pic .zhc-caibox .zhc-pinlun div img{
	width: 0.42rem;
	height: auto;
}
.zhc-pic .zhc-caibox .zhc-pinlun div span{
	color: #919191;
	margin-right: 0.1rem;
}
.zhc-pic .zhc-caibox .zhc-pinlun div i{
	font-style: normal;
	color: #454545;
}
/*分割条*/
.zhc-tiao{
	height: 0.24rem;
	width: 100%;
	background: #eeeeee;
}

/*今日推送*/ 
.zhc-jrts{
	width:100%;
	height: auto;
	overflow: hidden;
	padding: 0 0.24rem;
	box-sizing: border-box;
}
.zhc-fubiaos{
	width: 100%;
	height: 0.44rem;
	margin: 0.4rem 0;
}
.zhc-fubiaos img{
	float: left;
	width: 1.74rem;
	height: 0.32rem;
}
.zhc-fubiaos a{
	display: inline-block;
	height: 100%;
	float: right;
	color: #b0b0b0;
}
.zhc-fubiaos a span{
	font-family: '宋体';
}

.zhc-jrts .zhc-imgbox{
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 0.4rem;
}
.zhc-jrts .zhc-imgbox a{
	display: block;
	height: auto;
	width: 100%;
}
.zhc-jrts .zhc-imgbox img{
	width: 100%;
}
.zhc-jrts .zhc-imgbox .zhc-imgtiao{
	height: 0.42rem;
	width: 6.4rem;
	position: absolute;
	bottom: 0.2rem;
	left: 0.3rem;
	background: url(../img/zhc/images/zhc-tiao1_16.png);
	background-size: cover;
}
.zhc-jrts .zhc-imgbox .zhc-imgtiao h1{
	float: left;
	height: 100%;
	width: 2.12rem;
	border-radius: 0.06rem;
	line-height: 0.42rem;
	padding: 0 0.1rem;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
	letter-spacing:0.02rem;
	font-weight: normal;
}
.zhc-jrts .zhc-imgbox .zhc-imgtiao div.zhc-eir{
	float: left;
	height: 100%;
	width: 4.28rem;
	padding-left: 0.2rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.zhc-jrts .zhc-imgbox .zhc-imgtiao div.zhc-eir img{
	height: 0.28rem;
	width: 0.32rem;
	margin-left: 0.3rem;
	margin-right: 0.1rem;
}
.zhc-jrts .zhc-imgbox .zhc-imgtiao div.zhc-eir span{
	font-size: 0.2rem;
	color: #656565;
}
.zhc-jrts .zhc-imgbox .zhc-imgtiao div.zhc-eir i{
	font-size: 0.2rem;
	color: #656565;
	font-style: normal;
}

/*美食新闻*/
.zhc-new{
	width: 100%;
	padding: 0 0.24rem;
	height: auto;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 0.4rem;
}
.zhc-fbnew{
	width: 100%;
	height: 0.44rem;
	margin: 0.4rem 0;
}
.zhc-fbnew img{
	float: left;
	height: 0.34rem;
}
.zhc-fbnew a{
	display: inline-block;
	height: 100%;
	float: right;
	color: #b0b0b0;
}
.zhc-fbnew a span{
	font-family: '宋体';
}

.zhc-new .zhc-ms1{
	height: 3.6rem;
	width: 3.6rem;
	float: left;
	position: relative;
}
.zhc-new .zhc-ms1 a{
	display: block;
	width: 100%;
	height: auto;
}
.zhc-new .zhc-ms1 a img{
	width: 100%;
}
.zhc-new .zhc-ms1 .zhc-msdiv{
	width: 100%;
	height: 1rem;
	background: rgba(255,255,255,0.8);
	position: absolute;
	bottom: 0;
	left: 0;
}
.zhc-new .zhc-ms1 .zhc-msdiv p{
	float: left;
	width: 80%;
	height: 100%;
	padding: 0.2rem 0.1rem;
	box-sizing: border-box;
	color: #333;
}
.zhc-new .zhc-ms1 .zhc-msdiv div{
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
}
.zhc-new .zhc-ms1 .zhc-msdiv div img{
	margin-top: 0.2rem;
	width: 0.32rem;
	height: 0.28rem;
}
.zhc-new .zhc-ms1 .zhc-msdiv div span{
	color: #FB7070;
}

.zhc-ms2{
	float: right;
	width: 3.2rem;
	height: 3.6rem;
}
.zhc-ms2 div img{
	width: 100%;
}
.zhc-newyz{
	width: 1.48rem;
	height: 1.80rem;
	float: left;
	position: relative;
}
.zhc-newyz p{
	width: 100%;
	height: 0.34rem;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	line-height: 0.34rem;
	text-align: center;
	color: #333;
}
.zhc-newcz{
	width: 1.48rem;
	height: 1.80rem;
	float: right;
	position: relative;
}
.zhc-newcz p{
	width: 100%;
	height: 0.34rem;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	line-height: 0.34rem;
	text-align: center;
	color: #333;
}
.zhc-newdp{
	width: 100%;
	height: 1.68rem;
	float: left;
	position: relative;
	margin-top: 0.1rem;
}
.zhc-newdp div{
	width: 100%;
	height: 0.34rem;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(255,255,255,0.8);
}
.zhc-newdp div p{
	float: left;
	width: 70%;
	height: 100%;
	font-size: 0.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.zhc-newdp div h1{
	float: left;
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
}
.zhc-newdp div h1 img{
	height: 0.28rem;
	width: 0.32rem;
	margin-left: 0.06rem;
}
.zhc-newdp div h1 span{
	color: #FB7070;
	font-size: 0.2rem;
	margin-left: 0.06rem;
}

/*美食课堂*/
.zhc-mskt{
	height: auto;
	width: 100%;
	padding: 0 0.24rem;
	box-sizing: border-box;
	margin-bottom: 0.4rem;
}
.zhc-fbmskt{
	width: 100%;
	height: 0.44rem;
	margin: 0.4rem 0;
}
.zhc-fbmskt img{
	float: left;
	height: 0.36rem;
}
.zhc-fbmskt a{
	display: inline-block;
	height: 100%;
	float: right;
	color: #b0b0b0;
}
.zhc-fbmskt a span{
	font-family: '宋体';
}
.zhc-msktone{
	width: 100%;
	height: 2.2rem;
	display: flex;
	justify-content: space-between;
}
.zhc-msktone a{
	display: block;
	width: 2.2rem;
	height: 2.2rem;
}
.zhc-msktone a img{
	width: 100%;
}
.zhc-mskttwo{
	width: 100%;
	height: 2rem;
	display: flex;
	justify-content: space-between;
	margin-top: 0.2rem;
}
.zhc-mskttwo a{
	display: block;
	width: 2.2rem;
	height: 2rem;
}
.zhc-mskttwo a img{
	width: 100%;
}
/*猜您喜欢*/
.zhc-cnxh{
	width: 100%;
	height: auto;
	padding: 0 0.24rem;
	box-sizing: border-box;
}
.zhc-fbcnxh{
	width: 100%;
	height: 0.44rem;
	margin: 0.4rem 0;
}
.zhc-fbcnxh img{
	float: left;
	height: 0.36rem;
}
.zhc-fbcnxh a{
	display: inline-block;
	height: 100%;
	float: right;
	color: #b0b0b0;
}
.zhc-fbcnxh a span{
	font-family: '宋体';
}
.zhc-cnxh section{
	width: 100%;
	height: 2.66rem;
	background: url(../img/zhc/images/cnxhback_77.png);
	background-size: cover;
	box-shadow: 0 0 6px #f7f7f7;
}
.zhc-cnxh section a{
	display: block;
	width: 100%;
	height: 2.2rem;
}
.zhc-cnxh section a .zhc-cnxhtop{
	width: 100%;
	height: 2.2rem;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhl{
	float: left;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 0.04rem;
	background: #fff;
	margin: 0.15rem;
	padding: 0.04rem;
	box-sizing: border-box;
	box-shadow: 0 0 0.08rem #fcefe8;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhl img{
	width: 100%;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhr{
	width: 4.8rem;
	float: right;
	height: 100%;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhr h1{
	width: 100%;
	height: auto;
	margin-top: 0.1rem;
	display: flex;
	align-items: center;
	font-weight: normal;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhr h1 span{
	font-size: 0.28rem;
	color: #333;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhr h1 img{
	height: 0.2rem;
	width: 0.2rem;
	margin: 0 0.04rem;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhr .zhc-zs{
	width: 100%;
	height: 0.06rem;
	background: url(../img/zhc/images/zhc-tiaoss_73.png);
	background-size:cover ;
	margin: 0.08rem 0;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhr h2{
	color: #454545;
	font-family: "arial, helvetica, sans-serif";
	font-size: 0.24rem;
	font-weight: normal;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhr .zhc-bq{
	width: 100%;
	height: 0.48rem;
	margin: 0.3rem 0;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhr .zhc-bq .zhc-bqone{
	float: left;
	padding: 0.04rem 0.2rem;
	background: #fdd335;
	color: #fff;
	border-radius: 0.2rem;
	margin-right: 0.2rem;
	line-height: 0.4rem;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhr .zhc-bq .zhc-bqtwo{
	float: left;
	padding: 0.04rem 0.2rem;
	background: #fb7070;
	border-radius: 0.2rem;
	margin-right: 0.2rem;
	color: #fff;
	line-height: 0.4rem;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhr .zhc-bq .zhc-bqthree{
	float: left;
	display: flex;
	align-items: center;
	height: 100%;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhr .zhc-bq .zhc-bqthree img{
	width: 0.36rem;
	margin-right: 0.1rem;
	margin-left: 0.1rem;
}
.zhc-cnxh section a .zhc-cnxhtop .zhc-cnxhr .zhc-bq .zhc-bqthree span{
	color: #333;
	font-size: 0.2rem;
}
.zhc-cnxh section ul{
	height: 0.66rem;
	width: 100%;
}
.zhc-cnxh section ul li{
	float: left;
	width: 33.333%;
	height: 60%;
	border-right: 1px solid #d0d0d0;
	padding-left: 0.4rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	margin-top: 0.04rem;
}
.zhc-cnxh section ul li:last-child{
	border: none;
}
.zhc-cnxh section ul li img{
	width: 0.25rem;
	height: 0.25rem;
}
.zhc-cnxh section ul li span{
	color: #333;
}
.zhc-cnxh section ul li span:nth-of-type(1){
	margin: 0 0.1rem;
}


/*底部*/
div.zl-footer{
	/*display: none;*/
	position:absolute;
	left:0;
	width:100%;
	height:1.36rem;
	bottom:0;
	z-index: 10;
	background:rgb(255,255,255) url(../img/zl/index3_02.png) no-repeat center;
	background-size:auto 100%;
}
div.zl-shouye{
	position: absolute;
	left:50%;
	bottom:0;
	height:0.9rem;
	width:1.36rem;
	margin-left:-3rem;
	background:url(../img/zhc/images/zhc-shouye_03.png) no-repeat center;
	background-size: auto 100%;
}
div.zl-shouye a{
	display: block;
	width: 100%;
	height: 100%;
}
div.zl-dl{
	position: absolute;
	left:50%;
	bottom:0;
	height:1.36rem;
	width:1.36rem;
	margin-left:-0.68rem;
}
div.zl-tuijian{
	position: absolute;
	right:50%;
	bottom:0;
	z-index: 2;
	height:0.9rem;
	width:1.36rem;
	margin-right:-3rem;
	background:url(../img/zhc/images/zhc-tj1_05.png) no-repeat center;
	background-size: auto 100%;
}
div.zl-tuijian a{
	display: block;
	width: 100%;
	height: 100%;
}
html,body{
	width:100%;
	height:100%;
}
/*底部按钮们*/
div.zl-zao{
	width:100%;
	/*height:100%;*/
	height:0;
	background:rgba(0,0,0,0.5);
	position:absolute;
	left:0;
	bottom:0;
	z-index: 666;
	overflow: hidden;
	transition:height 0.2s;
}
div.zl-yuandi{
	width:3.5rem;
	height:3.5rem;
	position: absolute;
	bottom:0;
	left:50%;
	margin-left:-1.75rem;
	margin-bottom:-2rem;
	background:rgb(255,255,255);
	border-radius: 50%;
	transition:all 0.2s;
}

div.zl-close{
	width:0.82rem;
	height:0.82rem;
	position: absolute;
	top:0;
	left:50%;
	z-index: 6;
	margin-left:-0.41rem;
	margin-top:0.43rem;
	border-radius: 50%;
	background:url(../img/zl/click_13.png) no-repeat center;
	background-size:100%;
}
div.zl-meishi,div.zl-fatie{
	width:0.82rem;
	height:0.82rem;
	position: absolute;
	top:0;
	left:50%;
	margin-left:-0.41rem;
	margin-top:0.6rem;
	border-radius: 50%;
	background:rgb(251,230,48);
}
div.zl-chuancai{
	width:0.82rem;
	height:0.82rem;
	position: absolute;
	top:0;
	right:50%;
	margin-right:-0.41rem;
	margin-top:0.6rem;
	border-radius: 50%;
	background:rgb(251,230,48);
}
div.zl-show >div.zl-meishi{
	width:1.14rem;
	height:1.14rem;
	position: absolute;
	top:0;
	left:50%;
	margin-left:-2.47rem;
	margin-top:-0.8rem;
	border-radius: 50%;
	background:url(../img/zl/click_06.png) no-repeat center;
	background-size:100%;
	transition:all 0.2s;
}
div.zl-show >div.zl-fatie{
	width:1.14rem;
	height:1.14rem;
	position: absolute;
	top:0;
	left:50%;
	margin-left:-0.57rem;
	margin-top:-1.8rem;
	border-radius: 50%;
	background:url(../img/zl/click_03.png) no-repeat center;
	background-size:100%;
	transition:all 0.2s;
}
div.zl-show >div.zl-chuancai{
	width:1.14rem;
	height:1.14rem;
	position: absolute;
	top:0;
	right:50%;
	margin-right:-2.47rem;
	margin-top:-0.8rem;
	border-radius: 50%;
	background:url(../img/zl/click_09.png) no-repeat center;
	background-size:100%;
	transition:all 0.2s;
}

/*侧滑*/
body{
	perspective:1000px;
}
div.zl-you{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	transition: all 0.5s;
	transform-origin:center left;
}
div.zl-zuo{
	position:absolute;
	left:-5.8rem;
	top:0;
	width:5.8rem;
	height:100%;
	background:#212121;
	transition: all 0.5s;
}
div.zl-user{
	width:100%;
	height:4.78rem;
}
div.zl-user >img{
	width:100%;
	height:100%;
}
div.zl-xgq{
	height:1.1rem;
	width:100%;
	display: flex;
	justify-content: center;
	border-bottom:1px dotted rgb(255,220,59);
}
div.zl-xgq >p{
	margin-top:0.5rem;
	height:0.25rem;
	line-height: 0.25rem;
	text-align: center;
	width:1.7rem;
	font-size:0.24rem;
	color:rgb(255,255,255);
	position: relative;
	font-family: '苹方';
}
div.zl-xgq >p:first-child~p{
	border-left:1px solid rgb(255,220,59);
}
div.zl-xgq >p >span{
	position: absolute;
	top:-0.3rem;
	left:50%;
	margin-left:-0.77rem;
	height:0.25rem;
	line-height: 0.25rem;
	text-align: center;
	width:1.55rem;
	font-size:0.24rem;
	color:rgb(255,220,59);
	font-family: '三番';
}
div.zl-xgq >p >i{
	position: absolute;
	top:-0.2rem;
	left:0.85rem;
	height:0.3rem;
	line-height: 0.3rem;
	text-align: center;
	width:0.3rem;
	font-size:0.18rem;
	color:rgb(255,255,255);
	font-family: '三番';
	font-style:normal;
	background:rgb(255,220,59);
	border-radius: 50%;
}
ul.zl-grsz{
	width:100%;
	height:auto;
}
ul.zl-grsz >li{
	width:100%;
	height:1rem;
	line-height: 1rem;
}
ul.zl-grsz >li >a{
	display: block;
	width:100%;
	height:100%;
	font-size:0.24rem;
	color:rgb(255,255,255);
	font-family: '三番';
	padding-left:0.6rem;
	box-sizing: border-box;
	position: relative;
}
ul.zl-grsz >li >a >img{
	/*display: block;*/
	width:0.4rem;
	height:0.4rem;
	vertical-align: -0.11rem;
}
ul.zl-grsz >li >a >img{
	/*display: block;*/
	width:0.4rem;
	height:0.4rem;
	vertical-align: -0.11rem;
}
ul.zl-grsz >li >a >span{
	/*display: block;*/
	/*float:right;*/
	width:0.4rem;
	height:0.4rem;
	background:url(../img/zl/cehua_10.png) no-repeat center;
	background-size:100%;
	position:absolute;
	right:0.1rem;
	top:50%;
	margin-top:-0.2rem;
}