* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-touch-action: none;
}

body,ul,li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    /*font-size: 12px;*/
    background: #fff;
    font-family: "苹方";
    font-family: ubuntu, helvetica, arial;
    overflow: hidden; /* this is important to prevent the whole page to bounce */
}

#header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.76rem;
    line-height: 0.88rem;
    background: #e13838;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: '苹方 常规';
}

#footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 7.5rem;
    height: 0.98rem;
    background: #eeeeee;
    padding: 0;
    /*border-top: 1px solid #444;*/
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 1.76rem;
    bottom: 0.96rem;
    left: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 7.5rem;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}

/*自己*/
#header img{
    height: 0.34rem;
    position: absolute;
    left: 0.24rem;
    top:0.27rem;
}
#header p{
    font-size: 0.38rem;
}
.cll-box{
    height: 0.88rem;
    width: 100%;
    background:#e13838 ;
    border-top: 0.01rem dotted #666;
    box-sizing: border-box;
}
.cll-box > div{
    width: 50%;
    height: 100%;
    font-size: 0.34rem;
    line-height: 0.88rem;
    float: left;
}
.cll-box > div:first-child{
    text-align: left;
    padding-left:0.24rem ;
    box-sizing: border-box;
}
.cll-box > div:last-child{
    text-align: right;
    padding-right:0.24rem ;
    box-sizing: border-box;
}
/*音量*/
.volume{
    width: 100%;
    height: 0.88rem;
    background:#fff;
    box-sizing: border-box;
    padding: 0 0.24rem;
}
.volume > img{
    float: left;
    height: 100%;
}
.volume > span{
    font-size: 0.18rem;
    color: #d53434;
    float: left;
    margin-left: 0.24rem;
    margin-top: 0.32rem;
    margin-right: 0.04rem;
}
.volume > span:nth-of-type(2){
    margin-left: 0.04rem;
}

.volume > .bom{
    width:5rem;
    height:100%;
    float: left;
    padding: 0.42rem 0;
}
.bom > .pro{
    width: 100%;
    height: 0.01rem;
    background: #9e9e9e;
    position: relative;
}
.bom > .pro > .bar{
    width: 60%;
    height: 100%;
    background: #ff0000;
    position: absolute;
    left: 0 ;
    top:0;
}
.bom > .pro > .circle{
    width:0.06rem ;
    height:0.06rem ;
    position: absolute;
    left: 3rem;
    top: -0.02rem;
    background: #ff0000;
    box-shadow: 0 0 0.1rem red;
}
/*伴奏音量和原唱音量*/
.acc{
    width: 100%;
    height: 2.28rem;
    background: #f7f7f7;
    padding: 0.74rem 0.24rem;
    box-sizing: border-box;
}
.acc > div{
    width: 100%;
    height: 50%;
    float: left;
}
.acc > div:last-child{
    margin-top: 0.14rem;
}
.acc > div > img:nth-of-type(1){
    height: 100%;
    float: left;
}
.acc > div > span {
    font-size:0.24rem;
    color: #2e2d40;
    float: left;
    margin-left: 0.12rem;
    margin-right: 0.24rem;
}
.acc > div > img:nth-of-type(2){
    width: 5.1rem;
    margin-top: 0.07rem;
    float: left;
}
/*音效*/
.sound{
    width: 100%;
    height: 6.04rem;
    background: #fff;
    padding: 0 0.24rem;
    box-sizing: border-box;
}
.sound > p{
    width: 100%;
    height: 0.88rem;
    font-size: 0.3rem;
    color: #d53434;
    text-align: center;
    line-height: 0.88rem;
}
.sound > .box{
    width: 100%;
    height: 5.16rem;
    display: flex;
    flex-wrap:wrap ;
    /*justify-content: space-around;*/
}
.sound > .box > div{
    width: 25%;
    height:2.58rem;
    padding-top: 0.6rem;
    box-sizing: border-box;
}
.sound > .box > div > .box1{
    width: 1.14rem;
    height:1.14rem ;
    border-radius: 50%;
    /*border:0.04rem solid #9d9d9d;*/
    background:#929292 ;
    margin-left: 0.24rem;
    margin-bottom: 0.16rem;
}
.sound > .box > div > .box1 > img{
    width: 1.1rem;
    margin-top: 0.02rem;
    margin-left: 0.02rem;
}
.sound > .box > div > .box2{
    width: 1.08rem;
    height: 0.36rem;
    border-radius: 0.18rem;
    border: 0.02rem solid #e54541;
    background: #fff;
    font-size: 0.24rem;
    color: #e54541;
    margin-left: 0.26rem;
    text-align: center;
    line-height: 0.36rem;
}
/*选中*/
.sound > .box > div.active > .box1{
    background: #d53434;
}
.sound > .box > div.active > .box2{
    background:#d53434 ;
    color: #fff;
}

/*底部*/
#footer > img{
    width: 50%;
    float: left;
}