h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size:0.24rem;
}
img{
    display: block;
}
body{
    background:#fff;
}
.zxq-top1{
    width:100%;
    height:0.88rem;
    background:#e13838;
    position: fixed;
    left:0;
    top:0;
}

.zxq-top1 a{
    display: block;
    width:0.4rem;
    height:0.4rem;
    margin-top:0.23rem;
    float:left;
    background-size:100%;
}
.zxq-top1 span{
    display: inline-block;
    width:6rem;
    /*height:100%;*/
    margin:0 auto;
    margin-top:0.25rem;
    font-size:0.3rem;
    float:left;
    color:#fff;
    font-family: '苹方';
    text-align: center;
}
.zxq-top1 a:first-child{
    margin-left:0.19rem;
    background-image: url("../img/zxq-an1.png");
}
.zxq-top1 a:last-child{
    margin-right:0.25rem;
    float:right;
    background-image: url("../img/zxq-an2.png");
}
.zxq-top2{
    width:100%;
    height:0.88rem;
    background:#e13838;
    position: fixed;
    left:0;
    top:0.88rem;
}
.zxq-top2 ul{
    width:7.36rem;
    height:100%;
    margin:0 auto;
}
.zxq-top2 ul li{
    width:1.32rem;
    height:0.49rem;
    margin-top:0.19rem;
    margin-bottom:0.2rem;
    float:left;
    margin-right:0.19rem;
}
.zxq-top2 ul li:last-child{
    margin-right:0;
}
.zxq-top2 ul li a{
    display: block;
    width:100%;
    height:auto;
    float: left;
}
.zxq-top2 ul li img{
    display: block;
    float:left;
    height:0.33rem;
    margin-top:0.07rem;
    margin-left:0.21rem;

}
.zxq-top2 ul li:nth-child(4) img{
    margin-top:0.1rem;
}
.zxq-top2 ul li span{
    float: left;
    font-size: 0.3rem;
    line-height: 0.49rem;
    color:rgba(255,255,255,0.7);
    margin-left:0.06rem;
}
.active{
    background:#c83030;
    border-radius: 0.3rem;
}
/*以上为头部*/
/*内容*/
.fh-content{
    width:7.02rem;
    height:auto;
    background: #fff;
    margin:0 0.24rem;
    border:0.01rem solid #e4e4e4;
}
.fh-content ul{
    height:auto;
    width:100%;
}
.fh-content ul li{
    width:100%;
    height:1.15rem;
    padding:0.21rem 0.23rem 0 0.23rem;
    box-sizing: border-box;
}
.fh-content ul li h1{
    float:left;
    font-size:0.24rem;
    color:#111;
    margin-right:0.15rem;
}
.fh-content ul li img{
    float:left;
    margin-right:0.05rem;
    height:0.26rem;
    margin-top:0.05rem;
}
.fh-content ul li .fh-last{
    float:none;
}
.fh-content ul li h2{
    margin-top:0.12rem;
    color:#7f7f7f;
    font-size:0.2rem;
}
.fh-content ul li .fh-mai{
    float:right;
    height:0.4rem;
    margin-top:0.12rem;
}
.fh-line{
    width:100%;
    height:0.02rem;
    background:#e4e4e4;
    margin-top:0.2rem;
}
.fh-kongbai{
    height:0.9rem;
    width:100%;
}


.zxq-bottom{
    width:100%;
    height:0.98rem;
    background: #fff;
    position:fixed;
    bottom:0;
    left:0;
    box-sizing:border-box;
    z-index: 2;
}
.zxq-bottom .zxq-icon{
    width:0.95rem;
    height:0.95rem;
    background-image:url('../img/zxq-xt.png');
    background-size:100% 100%;
    background-position:center;
    background-repeat: no-repeat;
    float:left;
    margin-top:0.01rem;
    margin-left:0.01rem;
}
.zxq-bottom .zxq-play{
    width:2.15rem;
    height:100%;
    float:right;
}
.zxq-bottom .zxq-play img{
    display: block;
    float: left;
}
.zxq-bottom .zxq-play1{
    width:0.34rem;
    height:100%;
    margin-right:0.34rem;
    float:left;
}
.zxq-bottom .zxq-play1 img{
    width:100%;
    height:0.3rem;
    margin-top:0.34rem;
    /*margin-bottom:0.32rem;*/
}
.zxq-bottom .zxq-play2{
    width:0.6rem;
    height:100%;
    margin-right:0.34rem;
    float:left;
}
.zxq-bottom .zxq-play2 img{
    width:100%;
    height:0.6rem;
    margin-top:0.18rem;
}
.zxq-bottom .zxq-play3{
    width:0.3rem;
    height:100%;
    margin-right:0.23rem;
    float:left;
}
.zxq-bottom .zxq-play3 img{
    width:100%;
    height:0.29rem;
    margin-top:0.34rem;
}
.zxq-bottom .zxq-tiao{
    width:100%;
    height:0.01rem;
    background: #a0a0a0;
    position:relative;
    margin-top:0.01rem;
    z-index:3;
}
.zxq-bottom .zxq-tiao .zxq-ctiao{
    width:0%;
    height:0.01rem;
    border-radius:4px;
    background:#ff0000;
    position:absolute;
    top:0;
    left:0;
    z-index:4;
}
.zxq-bottom  .zxq-tiao .zxq-ctiao .zxq-yuan{
    width: 0.1rem;
    height: 0.01rem;
    background: #ff0000;
    position: absolute;
    right: -1px;
}
.zxq-bottom .zxq-statues{
    height:100%;
    float:left;
    margin-left:0.24rem;
}
.zxq-bottom .zxq-statues .zxq-author{
    width:100%;
    height:100%;
    color:#fff;
    text-align: left;

}
.zxq-bottom .zxq-statues .zxq-author span:first-child{
    display:block;
    width:100%;
    height:auto;
    font-size: 0.24rem;
    color:#111111;
    font-family: 'San Francisco Display';
    margin-top:0.10rem;
}
.zxq-bottom .zxq-statues .zxq-author span:last-child{
    display:block;
    height:auto;
    font-size: 0.22rem;;
    color:#5f5f5f;
    font-family: 'San Francisco Display';
    margin-top:0.15rem;
}
.zxq-bottom canvas{
    z-index: 50;
}