@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }

@media screen and (min-width: 750px) {
    html {
        font-size: 100px; } }
.pack{
    width: 100%;
    height: 13.34rem;
    background: #f1f1f1;
}
.zxq-top1{
    width:100%;
    height:0.88rem;
    background:#e13838;
}
.zxq-top1 a{
    display: block;
    width:auto;
    height: auto;
    float: left;
}
.zxq-top1 a img{
    display: block;
    width:0.4rem;
    height:0.4rem;
    margin-top:0.23rem;
    float:left;
}
.zxq-top1 span{
    display: inline-block;
    width:6rem;
    /*height:100%;*/
    margin:0 auto;
    margin-top:0.25rem;
    font-size:0.3rem;
    float:left;
    color:#fff;
    font-family: '苹方';
    text-align: center;
}
.zxq-top1 a:first-child  img{
    margin-left:0.19rem;
}
.zxq-top1 a:last-child{
    float:right;
}
.zxq-top2{
    width:100%;
    height:0.88rem;
    background:#e13838;
}
.zxq-top2 ul{
    width:7.36rem;
    height:100%;
    margin:0 auto;
}
.zxq-top2 ul li{
    width:1.32rem;
    height:0.49rem;
    margin-top:0.19rem;
    margin-bottom:0.2rem;
    float:left;
    margin-right:0.19rem;
}
.zxq-top2 ul li:last-child{
    margin-right:0;
}
.zxq-top2 ul li a{
    display: block;
    width:100%;
    height:auto;
    float: left;
}
.zxq-top2 ul li img{
    display: block;
    float:left;
    height:0.33rem;
    margin-top:0.07rem;
    margin-left:0.21rem;

}
.zxq-top2 ul li:nth-child(4) img{
    margin-top:0.1rem;
}
.zxq-top2 ul li span{
    float: left;
    font-size: 0.3rem;
    line-height: 0.49rem;
    color:rgba(255,255,255,0.7);
    margin-left:0.06rem;
}
.active{
    background:#c83030;
    border-radius: 0.3rem;
    /*color:#fff;
    font-size:0.3rem;*/
}

.top{
    width: 100%;
    height: 1.76rem;
}
.center{
    width: 100%;
    height: 1.75rem;
    display: flex;
    background: #fff;
    margin-top: 0.33rem;
}
.center-1{
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.tu{
    width: 0.7rem;
    height: 0.7rem;
    background: url("../img/sc-img/shalou.png")no-repeat;
    background-size: cover;
    display: block;
}
.tu-2{
    width: 0.8rem;
    height: 0.7rem;
    background: url("../img/sc-img/lian.png")no-repeat;
    background-size: cover;
    display: block;
}
.tu-3{
    width: 0.8rem;
    height: 0.7rem;
    background: url("../img/sc-img/yifu.png")no-repeat;
    background-size: cover;
    display: block;
}
.center ul{
    width: 66.66%;
    height: 100%;
}
.center .tu-zi{
    color: #7e7e7e;
    font-size: 0.38rem;
}
.center li{
    width: 50%;
    height: 50%;
    float: left;
    text-align: center;
    line-height: 0.87rem;
    border-left: 1px solid #efefef;
    box-sizing: border-box;
    position: relative;
}
.center .xia{
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
}
li .left{
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 1rem;
    position: absolute;
    left: -0.05rem;
    bottom: -0.05rem;
    background: #efefef;
}
li .right{
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 1rem;
    position: absolute;
    right: -0.05rem;
    bottom: -0.05rem;
    background: #efefef;
}
.center li a{
    display: block;
    color: #1a1a1a;
    font-size: 0.36rem;
}
.duo{
    width: 100%;
    height: 0.87rem;
    background: #fff;
    border-top: 1px solid #efefef;
    display: flex;
}
.duo a{
    width: 100%;
    height: 100%;
    display: block;
    color: #1a1a1a;
    font-size: 0.36rem;
    text-align: center;
    line-height: 0.87rem;
}
.duo-1{
    width: 33.33%;
    height: 100%;
    border-right: 1px solid #efefef;
    box-sizing: border-box;
}
.duo-2{
    width: 33.33%;
    height: 100%;
}
.zxq-bottom{
    width:100%;
    height:0.98rem;
    position:fixed;
    bottom:0;
    left:0;
    box-sizing:border-box;
    z-index: 2;
    background: #fff;
}
.zxq-bottom .zxq-icon{
    width:0.95rem;
    height:0.95rem;
    background-image:url('../img/zxq-xt.png');
    background-size:100% 100%;
    background-position:center;
    background-repeat: no-repeat;
    float:left;
    margin-top:0.01rem;
    margin-left:0.01rem;
}
.zxq-bottom .zxq-play{
    width:2.15rem;
    height:100%;
    float:right;
}
.zxq-bottom .zxq-play img{
    display: block;
    float: left;
}
.zxq-bottom .zxq-play1{
    width:0.34rem;
    height:100%;
    margin-right:0.34rem;
    float:left;
}
.zxq-bottom .zxq-play1 img{
    width:100%;
    height:0.3rem;
    margin-top:0.34rem;
    /*margin-bottom:0.32rem;*/
}
.zxq-bottom .zxq-play2{
    width:0.6rem;
    height:100%;
    margin-right:0.34rem;
    float:left;
}
.zxq-bottom .zxq-play2 img{
    width:100%;
    height:0.6rem;
    margin-top:0.18rem;
}
.zxq-bottom .zxq-play3{
    width:0.3rem;
    height:100%;
    margin-right:0.23rem;
    float:left;
}
.zxq-bottom .zxq-play3 img{
    width:100%;
    height:0.29rem;
    margin-top:0.34rem;
}
.zxq-bottom .zxq-tiao{
    width:100%;
    height:0.02rem;
    background: #a0a0a0;
    position:relative;
    margin-top:0.01rem;
    z-index:3;
}
.zxq-bottom .zxq-tiao .zxq-ctiao{
    width:0%;
    height:0.02rem;
    border-radius:4px;
    background:#ff0000;
    position:absolute;
    top:0;
    left:0;
    z-index:4;
}
.zxq-bottom  .zxq-tiao .zxq-ctiao .zxq-yuan{
    width: 0.1rem;
    height: 0.01rem;
    background: #ff0000;
    position: absolute;
    right: -1px;
}
.zxq-bottom .zxq-statues{
    height:100%;
    float:left;
    margin-left:0.24rem;
}
.zxq-bottom .zxq-statues .zxq-author{
    width:100%;
    height:100%;
    color:#fff;
    text-align: left;

}
.zxq-bottom .zxq-statues .zxq-author span:first-child{
    display:block;
    width:100%;
    height:auto;
    font-size: 0.24rem;
    color:#111111;
    font-family: 'San Francisco Display';
    margin-top:0.10rem;
}
.zxq-bottom .zxq-statues .zxq-author span:last-child{
    display:block;
    height:auto;
    font-size: 0.22rem;;
    color:#5f5f5f;
    font-family: 'San Francisco Display';
    margin-top:0.15rem;
}
.zxq-bottom canvas{
    z-index: 50;
}
