@media screen and (max-width:768px){
    .bannerxm{
        width:100%;
        height:1019px;
        overflow:hidden;
        position:relative;
    }
    .bannerxm>.nav{
        height:107px;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:100;
    }
    .bannerxm>.nav>.container{
        width:83.4%;
        padding-top:19px;
        box-sizing:border-box;
    }
    .bannerxm>.nav>.container>.logo{    
        float:left;
        width:35px;  
    }
    .bannerxm>.nav>.container>.name{
        margin-left:6px;
        width:80px; 
    }
    .bannerxm>.nav>.container>.set{
        float:right;  
        width:30px; 
    }
    .bannerxm>.nav>.container>.search{
        float:right;  
        margin-right:10px;
        width:30px;
    }
    .bannerxm>.list{
        width:338px;
        height:108px;
        position:absolute;
        top:28%;
        left:50%;
        margin-top:-54px;
        margin-left:-164px;
        z-index:101;
    }
    .bannerxm>.list>a{
        float:left;
        width:33.33%;
        height:50%;
        border-radius:10px;
        border:2px solid #fff;
        line-height:54px;
        text-align:center;
        color:#d7d7d7;
        font-size:20px;
    }
    .bannerxm>.list>.active1{
        background:#fff;
        color:#d93f3a;
        font-weight:bold;
    }
    .bannerxm>.screen{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        transition:opacity 0.6s linear;
    }
    .bannerxm>.screen>img{
        width:100%;
    }
    .bannerxm>.screen:nth-child(1){
        z-index:1;
    }
    .bannerxm>.circle{
        width:114px;
        height:14px;
        position:absolute;
        bottom:60px;
        left:50%;
        z-index:2;
        margin-left:-57px;
    }
    .bannerxm>.circle>div{
        width:10px;
        height:10px;
        border-radius:50%;
        border:2px solid #fff;
        float:left;
        margin-left:8px;
    }
    .bannerxm>.circle>.active{
        width:35px;
        height:10px;
        border-radius:10px;
    }
   /*floor1*/   
   .js{
    width:100%;
    text-align:center;
   }
   .js>img{
    width:80%;
   }
   .zx{
    width:100%;
    text-align:left;
    margin-top:40px;
    padding-left:20px;
    box-sizing:border-box;
   }
   .zx>img{
    width:40%;
   }
   .pho1{
    width:100%;
    text-align:left;
    margin-top:40px;
   }
   .pho1>img{
    width:100%;
   }
   .jt2{
    width:100%;
    text-align:left;
    margin-top:40px;
   }
   .jt2>img{
    width:100%;
   }
   .jt3{
    width:100%;
    text-align:center;
    margin-top:40px;
   }
   .jt3>img{
    width:100%;
   }
   .bea{
    width:100%;
    text-align:left;
    margin-top:40px;
    padding:15px;
    box-sizing:border-box;
   }
   .bea>img{
    width:80%;
   }
   .cir{
    width:100%;
    padding:15px;
    box-sizing:border-box;
    font-size:16px;
    color:#CDCDCD;
   }
   .show{
    width:100%;
    padding:15px;
    box-sizing:border-box;
    font-size:20px;
   }
   .show>a{
        color:DD5752;
   }
    .vid{
    width:100%;
    text-align:left;
    margin-top:40px;
    box-sizing:border-box;
   }
   .vid>img{
    width:80%;
   } 
   .vider{
     width:100%;
     text-align:center;
   } 
    .vider>img{
       width:100%; 
    }
    .vider>.meinv{
       width:100%; 
       text-align:center;
       margin:0 auto;
    }
    .vider>.meinv>img{
        width:80%;
    }
    .vider>.beauty{
       width:100%; 
       text-align:left;
       margin:0 auto;
       padding:15px;
        box-sizing:border-box;
    }
    .vider>.beauty>img{
        width:60%;
    }
    .vider>.cle{
        font-size:16px;
        color:#CDCDCD;
        text-align:left;
        padding:15px;
        box-sizing:border-box;
    }
    .dibu1{
            width:100%;
        }
}