@media screen and (max-width: 1920px)  and (min-width: 768px){
    .zxq-daping{
        nav{
            width:100%;
            height:49px;
        }
       nav>.container{
            width:1200px;
            height:100%;
            margin:0 auto;
       } 
       nav>.container>.logo{
          height:43px;
          margin-top:3px;
          float:left;
       } 
       nav>.container>.name{
          height:31px;
          margin-top:9px;
          float:left;
          margin-left:4px;
       }
       nav>.container>.letter{
          float:left;
          line-height:49px;
          margin-left:41px;
       }
       nav>.container>.letter>a{
          float:left;
          padding-left:10px;
          padding-right:10px;
          height:49px;
          color:#e63f3a;
          font-size:17px;
          margin-left:10px;
          text-align:center;
       }
       a:hover{
           text-decoration: none;
       }
       nav>.container>.letter>.active{ 
          background:#e63f3a;
          color:#fff;
          text-decoration: none;
       }
       nav>.container>form{
          float:right;
          margin-top:11px;
          margin-right:72px;
          width:182px;
          height:28px;
          background-image:url('../img/lp/index-3.png');
          background-size:100%;
          background-position:center;
          position:relative;
       }
       nav>.container>form>input{
          border:none;
          outline:none; 
          width:150px;
          height:23px;
          position:absolute;
          top:3px;
          left:7px;
          z-index:3;
       }
       nav>.container>form>.search{
          position:absolute;
          right:4px;
          top:4px;
          width:19px; 
          z-index:4;    
       }
        .zxq-header{
            width:100%;
            height:auto;
            img{
                width:100%;
                height:auto;     
            }
        }
        .zxq-first{
            width:1200px;
            margin:0 auto;
            img{
                width:457px;
                height:127px;
                margin-left:350px;    
            }
        }
        .zxq-fenlei{
            width:1200px;
            height:40px;
            margin:0 auto;
            margin-top:50px;
            margin-bottom:0;
            .zxq-ul{
                width:438px;
                height:40px;
                margin:0 auto;
                
                li{
                    width:96px;
                    height: auto;
                    float:left;
                    color:#b5b5b6;
                    text-align: center;
                    font-size:18px;
                    border-right:1px solid #c9c9c9;
                    position: relative;
                    cursor: pointer;
                    img{
                        position: absolute;
                        top:30px;
                        left:40px;
                        display: none;
                    }
                    .active1{
                        display: block;
                    }
                }
                li.active2{
                    color:#e72924;
                }
                li:last-child{
                    width:126px;
                    border-right: 0;
                }
            }
        }
        
        .zxq-hslfyy{
            width:1200px;
            height:722px;
            margin:0 auto;
            .zxq-left{
                width:719px;
                height:628px;
                float:left;
                position: relative;
                .zxq-img1{
                    width:302px;
                    height:407px;
                    position: absolute;
                    left:123px;
                    top:56px;
        //          margin-top:56px;
        //          margin-left:123px;
                    z-index:1;
                }
                .zxq-img2{
                    width:301px;
                    height:419px;
                    position: absolute;
                    left:316px;
                    top:132px;
                    z-index: 2;
        //          margin-top:132px;
        //          margin-left:316px;
        //          z-index:2;
                }
            }
            .zxq-right{
                width:481px;
                height:628px;
                float: left;
                h3{
                    width:451px;
                    height:136px;
        //          line-height: 146px;
                    margin-top:40px;
                    color:#ead7d1;
                    font-size: 48px;
                    margin-bottom:0;
                }
                p{
                    width:481px;
                    height:240px;
                    line-height: 24px;
                    font-size: 12px;
                    color:#727171;
                    margin-bottom:0;
                    margin-top:-10px;
                }
                .zxq-xiaotu{
                    width:481px;
                    height: 225px;
                    img{
                        width:70px;
                        height:70px;
                        margin-right:56px;
                    }
                }
            }
            .zxq-bottom{
                width:1200px;
                height:136px;
               float: left;
               p{
                   color:#c4c4c5;
                   font-size: 12px;
                   line-height: 100px;
               }
            }
        }
        .zxq-hslftwo{
            width:1200px;
            height: 647px;
            margin:0 auto;
            .zxq-left1{
                width:580px;
                height:337px;
                float: left;
                h3{
                    height:80px;
        //          line-height: 80px;
                    color:#ead7d1;
                    font-size: 48px;
                    margin-left:119px;
                    margin-top:0;
                }
                p{
        //          width:481px;
                    height:247px;
                    line-height: 24px;
                    font-size: 12px;
                    color:#727171;
                    margin-bottom:0;
                    margin-left:119px;
                }
                .zxq-xiaotu{
                    width:461px;
                    height: 150px;
                    margin-left:119px;
                    img{
                        width:70px;
                        height:70px;
                        margin-right:56px;
                    }
                }
            }
            .zxq-right1{
                width:620px;
                height:487px;
                float:left;
                position: relative;
                .zxq-img1{
                    width:302px;
                    height:407px;
                    position: absolute;
                    left:0;
                    top:80px;
                    z-index:2;
                }
                .zxq-img2{
                    width:301px;
                    height:419px;
                    position: absolute;
                    left:181px;
                    top:0;
                    z-index: 1;
                }
            }
            .zxq-bottom1{
                width:1200px;
                height:160px;
                float: left;
               p{
                   color:#c4c4c5;
                   font-size: 12px;
                   line-height: 160px;
               }
            }
        }
        .zxq-hslfthree{
            width:1200px;
            height:699px;
            margin:0 auto;
            .zxq-left{
                width:719px;
                height:628px;
                float:left;
                position: relative;
                .zxq-img1{
                    width:302px;
                    height:407px;
                    position: absolute;
                    left:123px;
                    top:0;
                    z-index:1;
                }
                .zxq-img2{
                    width:301px;
                    height:419px;
                    position: absolute;
                    left:316px;
                    top:76px;
                    z-index: 2;
                }
            }
            .zxq-right{
                width:481px;
                height:628px;
                float: left;
                h3{
                    width:481px;
                    height:88px;
        //          line-height: 100px;
                    color:#ead7d1;
                    font-size: 48px;
                    margin-top:0;
                }
                p{
                    width:481px;
                    height:247px;
                    line-height: 24px;
                    font-size: 12px;
                    color:#727171;
                    margin-bottom:0;
                }
                .zxq-xiaotu{
                    width:481px;
                    height: 205px;
                    img{
                        width:70px;
                        height:70px;
                        margin-right:56px;
                    }
                }
            }
            .zxq-bottom{
                width:1200px;
                height:136px;
                float: left;
                margin-top:-107px;
               p{
                   color:#c4c4c5;
                   font-size: 12px;
                   line-height: 100px;
               }
            }
        }
        .zxq-hslffour{
            width:1200px;
            height: 647px;
            margin:0 auto;
            .zxq-left1{
                width:580px;
                height:337px;
                float: left;
                h3{
                    height:80px;
                    color:#ead7d1;
                    font-size: 48px;
                    margin-left:119px;
                    margin-top:0;
                }
                p{
        //          width:481px;
                    height:247px;
                    line-height: 24px;
                    font-size: 12px;
                    color:#727171;
                    margin-bottom:0;
                    margin-left:119px;
                }
                .zxq-xiaotu{
                    width:461px;
                    height: 150px;
                    margin-left:119px;
                    img{
                        width:70px;
                        height:70px;
                        margin-right:56px;
                    }
                }
            }
            .zxq-right1{
                width:620px;
                height:487px;
                float:left;
                position: relative;
                .zxq-img1{
                    width:302px;
                    height:407px;
                    position: absolute;
                    left:0;
                    top:80px;
                    z-index:2;
                }
                .zxq-img2{
                    width:301px;
                    height:419px;
                    position: absolute;
                    left:181px;
                    top:0;
                    z-index: 1;
                }
            }
            .zxq-bottom1{
                width:1200px;
                height:160px;
                float: left;
               p{
                   color:#c4c4c5;
                   font-size: 12px;
                   line-height: 160px;
               }
            }
        }
        .zxq-ns{
            width:1200px;
            height: 330px;
            margin: 0 auto;
            .zxq-ns1{
                width:1065px;
                height: 330px;
        //      margin:0 auto;
                margin-left:67px;
                margin-right:67px;
                .zxq-zz{
                    width:243px;
                    height: 330px;
                    margin-right:26px;
                    position: relative;
                    cursor: pointer;
                    float: left;
                    .first{
                        z-index:1;
                    }
                    .zhezhao{
                        position:absolute;
                        left:0;
                        top:0;
                        z-index:2;
//                      display: none;
                        opacity: 0;
                    }
                    .zhezhao:hover{
                        transition:opacity  1s ;
                        opacity: 1;
                    }
               
                }
                div:last-child{
                    margin-right: 0;
                }
                
                
            }
        }
        
        .zxq-zi{
            width:1200px;
            height: 177px;
            margin:0 auto;
            img{
              width:1200px;
              height:177px;
              margin-left:70px;
            }
        }
        .zxq-zi2{
            width:1200px;
            height:60px;
            margin:0 auto;
            p.zxq-zi1{
                width:1070px;
                height:60px;
                margin-left:68px;
                margin-right:68px;
                font-size: 14px;
                line-height: 30px;
                color:#b5b4b4;
            }
        }
        .dibu{
        width: 100%;
        height: 500px;
        float: left;
        div{
            width: 100%;
            height: 100%;
            background-image: url(../img/gx/gx-dibubg.png);
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            .phone{
                width:150px;
                height: 20px;
//              text-align: center;
                font-size: 20px;
                color: white;
                position: absolute;
                top: 45%;
                left: 21%;
            }  
            .ooo{
                width:150px;
                height: 20px;
//              text-align: center;
                font-size: 12px;
                color: #a89c9c;
                position: absolute;
                top: 55%;
                left: 21%;
            }
            .add{
                width:215px;
                height: 20px;
//              text-align: center;
                font-size: 12px;
                color: #a89c9c;
                position: absolute;
                top: 62.5%;
                left: 21%;
            }
            .yinwen{
                width:430px;
                height: 20px;
//              text-align: center;
                font-size: 12px;
                color: #ccc5c5;
                position: absolute;
                top: 75%;
                left: 19%;
            }
            input{
                width: 300px;
                height: 40px;
                position: absolute;
                top: 27%;
                right: 13%;
            }
            div{
               width: 60px;
                height: 39px;
                position: absolute;
                top: 27.2%;
                right: 8.5%; 
                background: white;
                img{
                    width: 45%;
                    height: auto;
                    margin-left: 25%;
                    margin-top:10%;
                }
            }
            .fenxiang{
                width: 110px;
                height: auto;
                position: absolute;
                top: 37%;
                right: 8.5%; 
            }
            .silei{
                width: 370px;
                height: auto;
                position: absolute;
                bottom: 22%;
                right: 8.5%; 
            }
        }
    }
    .dibu1{
        display: none;
    }
        
//      nav{
//          width:463px;
//          height:141px;
//          margin:0 auto;
//          background: red;
//          text-align: center;
//          ul.pagination{
//              margin-bottom: 0;
//          }
//          
//      }
    }
    .zxq-xiaoping{
        display: none;
    }
}
    

@media screen and (max-width: 768px) {
//  /*小屏*/
//  html{
//      width: 100%;
//      height: 100%;
//      overflow: hidden;
//      position: relative;
//  }
//  body{
//      width: 100%;
//      height: 100%;
//      overflow: auto;
//  }
    .zxq-xiaoping{
        width:100%;
        height:auto;
        padding:0;
        margin:0;
        .bannerxm{
            width:100%;
            height:1019px;
            overflow:hidden;
            position:relative;
        }
        .bannerxm>.nav{
            height:107px;
            width:100%;
            position:absolute;
            top:0;
            left:0;
            z-index:100;
        }
        .bannerxm>.nav>.container{
            width:83.4%;
            padding-top:19px;
            box-sizing:border-box;
        }
        .bannerxm>.nav>.container>.logo{    
            float:left;
            width:35px;  
        }
        .bannerxm>.nav>.container>.name{
            margin-left:6px;
            width:80px; 
        }
        .bannerxm>.nav>.container>.set{
            float:right;  
            width:30px; 
        }
        .bannerxm>.nav>.container>.search{
            float:right;  
            margin-right:10px;
            width:30px;
        }
        .bannerxm>.list{
            width:338px;
            height:108px;
            position:absolute;
            top:28%;
            left:50%;
            margin-top:-54px;
            margin-left:-164px;
            z-index:101;
        }
        .bannerxm>.list>a{
            float:left;
            width:33.33%;
            height:50%;
            border-radius:10px;
            border:2px solid #fff;
            line-height:54px;
            text-align:center;
            color:#d7d7d7;
            font-size:20px;
        }
        .bannerxm>.list>.active1{
            background:#fff;
            color:#d93f3a;
            font-weight:bold;
        }
        .bannerxm>.screen{
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            transition:opacity 0.6s linear;
        }
        .bannerxm>.screen>img{
            width:100%;
        }
        .bannerxm>.screen:nth-child(1){
            z-index:1;
        }
        .bannerxm>.circle{
            width:114px;
            height:14px;
            position:absolute;
            bottom:60px;
            left:50%;
            z-index:2;
            margin-left:-57px;
        }
        .bannerxm>.circle>div{
            width:10px;
            height:10px;
            border-radius:50%;
            border:2px solid #fff;
            float:left;
            margin-left:8px;
        }
        .bannerxm>.circle>.active{
            width:35px;
            height:10px;
            border-radius:10px;
        }  
        .zxq-first{
            width:70%;
            margin:0 auto;
            img{
                width:100%;    
            }
        }
        .zxq-fenlei{
            width:100%;
            height:auto;
            margin:0 auto;
            padding-top:37px;
            margin-bottom:0;
            overflow: hidden;
            padding-left:12px;
            padding-right:12px;
            overflow: hidden;
            box-sizing: border-box;        
            .zxq-ul1{
                width:100%;
                height:40px;
                margin:0 auto;
                text-align: center;
                li{
                    float:left;
                    width:20%;
                    height: auto;  
                    color:#b5b5b6;
                    text-align: center;
                    font-size:18px;
                    border-right: 1px solid #c9c9c9;
                    box-sizing:border-box;
                    position: relative;
                    cursor: pointer;
                    img{
                        position: absolute;
                        top:30px;
                        left:38%;
                        display: none;
                    }
                    .active1{
                        display: block;
                    }
                }
                li:first-child{
                    width:20%;
                }
                li.active2{
                    color:#e72924;
                }
                li:last-child{
                    width:40%;
                    border-right:0;
                }
            }
        }  
        .zxq-hslfyy{
            width:100%;
            height:auto;
            margin:0 auto;
            overflow: hidden;
            padding-left:12px;
            padding-right:12px;
            padding-top:30px;
            overflow: hidden;
            box-sizing: border-box;
            .zxq-left{
                width:100%;
                height:auto;
                float:left;
                position: relative;
                .zxq-img1{
                    width:60%;
                    height:auto;
                    margin-top:30px;
                    margin-left:0;
                    z-index:1;
                } 
                .zxq-img2{
                    width:60%;
                    height:auto;
                    z-index: 2;
                    margin-top:-68%;
                    margin-left:40%;
                }
            }
            .zxq-right{
                width:100%;
                height:auto;
                float: left;
                h3{
                    width:100%;
                    height:50px;
//                  margin-top:20px;
                    color:#ead7d1;
                    font-size: 36px;
                    margin-bottom:10px;
                    margin-top:0;
                }
                p{
                    width:100%;
                    height:auto;
                    line-height: 36px;
                    font-size: 20px;
                    color:#b2b2b2;
                    margin-bottom:0;
//                  margin-top:-10px;
                }
                
            }
            .zxq-xiaotu{
                width:100%;
                height: auto;
                float: left;
                img{
                    width:25%;
                    height:25%;
                    margin-right:8%;
                    margin-top:50px;
                }img:last-child{
                    margin-right: 0;
                }
            }
            .zxq-bottom{
                width:100%;
                height:auto;
                float: left;
               p{
                   color:#c4c4c5;
                   font-size: 18px;
                   line-height: 80px;
                   color: #c4c4c5;
               }
            }
            
        }
        .zxq-hslftwo{
            width:100%;
            height: auto;
            margin:0 auto;
            overflow: hidden;
            padding-left:12px;
            padding-right:12px;
            overflow: hidden;
            box-sizing: border-box;
            .zxq-left1{
                width:100%;
                height:auto;
                float: left;
                margin:0 auto;
                h3{
                    width:100%;
                    height:auto;
                    color:#ead7d1;
                    font-size: 32px;
//                  margin-left:80px;
                    margin-top:0;
                    margin-bottom:15px;
                }
                p{ 
                    width:100%;
                    height:auto;
                    line-height: 36px;
                    font-size: 20px;
                    color:#b2b2b2;
                    margin-bottom:0;
//                  margin-left:80px;
                }
                
            }
            .zxq-right1{
                width:100%;
                height: auto;
                float:left;
                .zxq-img1{
                    width:65%;
                    height:auto;
                    margin-left:0;
                    margin-top:20px;
                    z-index:20;
                }
                .zxq-img2{
                    width:65%;
                    height:auto;
                    margin-top:-75%;
                    margin-left:35%;
                    z-index: 1;
                }
            }
            .zxq-xiaotu1{
                width:100%;
                height: auto;
//              margin-left:70px;
                float: left;
                img{
                    width:25%;
                    height:25%;
                    margin-right:8%;
                    margin-top:70px;
                }img:last-child{
                    margin-right: 0;
           
                }
            }
            .zxq-bottom1{
                width:100%;
                height:auto;
                float: left;
               p{
                   color:#c4c4c5;
                   font-size: 18px;
                   line-height: 80px;
                   margin-bottom: 10px;
               }
            }
        }

        .zxq-zi{
            width:100%;
            height: auto;
            margin:0 auto;
            overflow: hidden;
            padding-left:12px;
            padding-right:12px;
            box-sizing: border-box;
            img{
              margin-top:30px;
              width:200%;
              height:auto;
//            margin-left:70px;
            }
        }
        .zxq-zi2{
            width:100%;
            height:auto;
            margin:0 auto;
            padding-left:12px;
            padding-right:12px;
            overflow: hidden;
            box-sizing: border-box;
            p.zxq-zi1{
                width:100%;
                height:auto;
//              margin-left:68px;
//              margin-right:68px;
                font-size: 20px;
                line-height: 30px;
                color:#b5b4b4;
                text-align: justify;
            }
        }
//      nav{
//          width:463px;
//          height:141px;
//          margin:0 auto;
//          background: red;
//          text-align: center;
//          ul.pagination{
//              margin-bottom: 0;
//          }
//          
//      }
        .zxq-zizi{
            width:100%;
            height: auto;
//          padding:0;
            margin-bottom: 20px;
            img{
                width:100%;
                height:auto;
            }
        }
        .dibu{
            display: none;
        }
        .dibu1{
           width:100%;
        }
    }
    
    .zxq-daping{
        display: none;
    }

}
    




