*{
  margin:0;
  padding:0;
  list-style: none;
}
a{
  text-decoration:none;
}
body{
  width:100%;
  height:100%;
}
.d-content{
  width:100%;
  height:auto;
  margin:0 auto;
  padding:0;
}
.row{
  padding:0;
  margin:0;
}
.circle{
  display:none;
}
section.navigation{
  display:none;
  width:100%;
  height:140px;
  line-height: 140px;
}
section.header{
  text-align: center;
  height:auto;
  font-family: "San Francisco Display";
  h2{
    color:#97785f;
    font:{
      size:21px;
      weight:normal;
    }
  }
  h4{
    color:#717171;
    font:{
      size:15px;
      weight:normal;
    }
  }
  p{
    margin:0 auto;
    width:80%;
    height:auto;
    font-size:12px;
    color:#592e16;
  }
}
section.floor1{
  width:100%;
  height:auto;
  background: #fff;
  position: relative;
  z-index:10;
  .floor1-left{
    >img{
      display:block;
    }
    background:none;
    height:50%;
    margin:0;
    padding:0;
  }
  .floor1-right{
    display:none;
    background: #fff;
    height: 100%;
    padding:0;
    .r-top{
      width:100%;
      height:50%;
      background: {
        image: url("../img/img/图文3.jpg");
        size: 100%;
        position: center top;
        repeat: no-repeat;
      };
    }
    .r-bottom{
      padding:25px;
      box-sizing: border-box;
      width:100%;
      height:50%;
      background-color: #f7f7f7;
      text-align: center;
      h5{
        margin-top: 35px;
        font:{
          size:20px;
          family: "微软雅黑";
        }
      }
    }
  }
  a.circle{
    text-decoration: none;
    display:none;
    width:44px;
    height:44px;
    background:#f09646;
    position:absolute;
    right:31.33%;
    bottom: 82px;
    border-radius: 50%;
    color:#fff;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
  }
}
section.small-floor1{
  background:#f7f7f7;
  text-align:center;
  display:block;
  height:auto;
  width:100%;
  padding:0;
  margin:0;
  >div{
    background:#F9F9F9;
  }
  >.floor1-right{
    padding:0;
    margin:0;
    background:#fff;
    .r-bottom{
      background:#f7f7f7;
      padding-top:10px;
      box-sizing: border-box;
      width:100%;
      height:50%;
      text-align: center;
      h5{
        margin:0;
        font:{
          size:12px;
          family: "微软雅黑";
        }
      }
      p{
        font-size:10px;
      }
      img.aa{
        width:30px;
      }
      img.dzq-img{
        width:80%;
      }
    }
    .r-top{
      background:#f7f7f7;
    }
  }

}
section.floor2{
  background:rgba(0,0,0,0);
  z-index:0;
 .floor1-left{

 }
  .floor1-right{
    .r-bottom{
      background-color: #fff;
      div{
        width:100%;
        height:50px;
        line-height: 50px;
        margin-top: 30px;
        padding-left:40px;
        box-sizing: border-box;
        img,span{
          display:block;
          float:left;
          margin-right:5px;
          font:{
            size:20px;
            family: 'San Francisco Display';
          }
          b{
            font-family: "微软雅黑";
          }
        }
      }
      p{
        float:left;
        color:#353535;
        font:{
          family: 'San Francisco Display';
          size:14px;
        }
      }
    }
    .r-top{
      background:{
        color:#fff;
        image: url("../img/img/图文7.png");
        size: 100% ;
      }
    }
  }
  a.circle{
    display:none;
    text-decoration: none;
    cursor: inherit;
    left:31.33%;
    top:150px;
    background-color: yellow;
    color:#000;
  }
}
section.floor3{
  width:100%;
  height:auto;
  position:relative;
  //top:-90px;
  .floor1-left{
    background:none;
    height:auto;
    margin:0;
    padding:0;
  }
  .floor1-right{
    height:auto;
    margin:0;
    text-align: center;
    padding:0;
    box-sizing: border-box;
    line-height: 25px;
    div.img-box{
      width:100%;
      height:auto;
      overflow: hidden;
      position: relative;
      img{
        width:100%;
      }
      div.color-block{
        width:60px;
        height:6px;
        background:#592e16;
        position: absolute;
        left:50%;
        top:11px;
        margin-left:-30px;
      }
    }
    h2{
      margin:{
        top:20px;
        bottom:0;
      }
      font:{
        family: 'San Francisco Display';
        size:18px;
      }
      b{
      font-size:30px;
    }
    }
    h3{
      margin-top:6px;
      font:{
        size:18px;
        weight: bold;
        family: "微软雅黑";
      }
    }
    p{
      margin-left:45px;
      width:80%;
      height:auto;
      color:#0d0d0d;
      font:{
        size:14px;
        family: "微软雅黑";
      }
      margin-top:20px;
    }
    a{
      //display:none;
      float: right;
      margin: 20px;
    }
  }

}

section.floor4{
  width:100%;
  height:110px;
  margin:{
    top:50px;
    right:auto;
    left:auto;
    bottom:0;
  }
  position: relative;
  img.bgl{
    position: absolute;
    left:-299px;
    top:-250px;
    display:none;
  }
  img.bg2{
    position: absolute;
    right:-202px;
    top:-150px;
    display:none;
  }
  .d-f4-content{
    padding:0;
    margin:0;
    height:auto;
    overflow: hidden;
    .f4-1{
      position:relative;
      z-index:100;
      margin:55px auto 0;
      width:90%;
      height:auto;
      overflow: hidden;
      line-height:50px;
      font-family: "San Francisco Display";
      div.product-features{
        width:85px;
        height:40px;
        line-height:40px;
        text-align: center;
        color:#592e16;
        float: left;
        font:{
          size:20px;
          family: "微软雅黑";
        }
        background: {
          image: url("../img/img/图文11.jpg");
        };
      }
      div.rect{
        float:left;
        width:5px;
        height:35px;
        margin:{
          left:6px;
          top:3px;
          right:6px;
        }
        background:#592e16;
      }
      div.font{
        width:auto;
        height:100%;
        //float: left;
        display: flex;
        flex-direction: column;
        span{
          display: block;
          height:20px;
          width:auto;
          line-height: 20px;
          color:#b87b59;
          b{
            font-size: 12px;
            color:#592e16;
          }
        }
        p{
          font-size: 10px;
          color:#592e16;
          height:20px;
          width:auto;
          line-height: 20px;
          margin:0;
          padding:0;
        }

      }
    }
    div.img-box{
      width:90%;
      height:10px;
      margin:0 auto;
      line-height: 10px;
      top:10px;
      overflow: hidden;
      position: relative;
      z-index:1000;
      div.color-block{
        width:136px;
        height:4px;
        position: absolute;
        left:0;
        top:4px;
        background:#b28850;
      }
    }
    div.selling-title{
      position: relative;
      width:90%;
      height:auto;
      margin:40px auto 0;
      div.selling-rect{
        width:9px;
        height:9px;
        background:#592e16;
        float:left;
        margin:{
          top:5px;
          right:10px;
        }
      }
      span:first-of-type{
        color:#464646;
        font:{
          size:16px;
          weight: bold;
          family: "微软雅黑";
        }
      }
      span:nth-of-type(2){
        color:#d5d5d5;
        font:{
          size:16px;
          weight:bold;
        }
      }
      span:nth-of-type(3){
        color:#d5d5d5;
        font:{
          weight:bold;
          family: 'San Francisco Display';
        }
      }
    }
  }

}
section.floor5{
  width:100%;
  height:auto;
  background:#fff;
  margin-top:60px;
  text-align: center;
  .d-f5-content{
    padding:0;
    h1{
      font:{
        weight: bold;
        size:30px;
        family: 'San Francisco Display';
      }
      margin-top:50px;
    }
    div.center{
      width:78%;
      //padding-left:30px;
      height:auto;
      margin:0 auto;
      overflow: hidden;
      text-align: center;
      //padding-left:97px;
      box-sizing: border-box;
      div{
        display:none;
        width:60px;
        height:2px;
        background:#000;
        float:left;
        margin:{
          top:8px;
          left:10px;
          right:10px;
        }
      }
      span{
        float:left;
        color:#141414;
        font:{
          size:14px;
        }
      }
    }
    p{
      width:75%;
      height:auto;
      margin:20px auto 0 ;
      color:#141414;
      font:{
        size:10px;
      }
    }
  }

}
section.floor6{
  width:100%;
  margin:0 auto 100px;
  height:auto;
  .f6-1{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    div.f6-rect{
      //margin-top:20px;
      height:auto;
      overflow: hidden;
      padding:10px 15px;
      background-clip: content-box;
      div.inset{
        position: relative;
        padding: 5px;
        margin:30px auto 0;
        box-sizing: border-box;
        width:95%;
        height:auto;
        transition: all 0.3s;
        img.diamond{
          width:50px;
          position: absolute;
          top:-18px;
          left:50%;
          margin-left: -25px;
          //left:90px;
          display:none;
          transition: all 0.3s;
        }
        div.inset-img{
          width:100%;
          height:auto;
          overflow: hidden;
          background-repeat: no-repeat;
          background-size:100%;
          img.img{
            width:100%;
          }
          >img{
            display:block;
          }
        }
        img.img-icon{
          width:20px;
          z-index:300;
          display:none;
          transition: all 0.3s;
        }
        img.img-icon1{
          position: absolute;
          left:2px;
          top:2px;
        }
        img.img-icon2{
          position: absolute;
          right:2px;
          top:2px;
        }
        img.img-icon3{
          position: absolute;
          left:2px;
          bottom:2px;
        }
        img.img-icon4{
          position: absolute;
          right:2px;
          bottom:2px;
        }
        h4{
          //margin-top:25px;
          //padding-left:15px;
          box-sizing: border-box;
          font:{
            size:13px;
            weight: 500;
            family: "微软雅黑";
          }
          span{
            color:#cfcfcf;
            font-weight: normal;
          }
        }
        h5{
          color:#515151;
          font:{
            size:10px;
          }
          //padding-left:15px;
          box-sizing: border-box;
        }
        ul.num{
          width:100%;
          height:auto;
          display:flex;
          color:#515151;
          //padding-left:22px;
          box-sizing: border-box;
          li{
            width:50%;
            height:auto;
            .num-circle{
              width:7px;
              height:7px;
              background:#ccc;
              border-radius: 50%;
              float:left;
              margin:{
                top:0;
                right:2px;
              }
            }
            h5{
              font-weight: 100;
              font-size: 6px;
              float:left;
              margin:0;
            }
          }
        }

      }
      div.inset:hover{
          box-shadow: 0 0 25px 0  rgba(0,0,0,0.2) ;
          transform: scale(1.05);
          img.diamond{
            display:block;
          }
          img.img-icon{
            display:block;
          }
      }

    }
  }

}
@media screen and (min-width: 1200px){
  body{
    background: {
      color:#fff;
      image: url("../img/img/background1.png");
      repeat: no-repeat;
      position:right 17%;
      size:70% auto;
    };
    .circle{
      display:block;
    }
  }
  .d-content{
    width:70%;
  }
  section.navigation{
    display:block;
  }
  section.header{
    top:0;
    height:240px;
  }
  section.floor1{
    height:435px;
    .floor1-left{
      >img{
        display:none;
      }
      height:100%;
      background: {
        color:#fff;
        image:url("../img/img/图文2.jpg");
        repeat: no-repeat;
        position:0 0;
        size:100% auto;
      }
    }
    .floor1-right{
      display:block;
      .r-top{
        background-size:100% auto ;
        background-position: center bottom;
      }
    }
  }
  section.small-floor1{
    display:none;
  }
  section.floor2{
    top:-90px;
    .floor1-left{
      background:{
        image: url("../img/img/图文5.jpg");
        size:100% auto;
        position: 0 bottom;
        color:rgba(0,0,0,0);
      }
    }
    .floor1-right{
      .r-top{
        background-size:100% auto ;
        background-position: center bottom;
      }
      .r-bottom{
        div{
          margin-top:85px;
        }
      }
    }
    a.circle{
      display:block;
    }
  }
  section.floor3{
    height:435px;
    top:-90px;
    .floor1-left{
      height:100%;
      background: {
        image:url("../img/img/图文9.jpg");
        repeat: no-repeat;
        position:0 top;
        size:100% auto;
      }
      img{
        display:none;
      }
    }
    .floor1-right{
      height:100%;
      text-align: left;
      padding:{
        left:50px;
        top:20px;
      }
      a{
        display:inline-block;
      }
      p{
        width:100%;
        margin-left:0;
      }
      div.img-box{
        div.color-block{
          width:20px;
          height:4px;
          background:#592e16;
          position: absolute;
          left:25px;
          top:11px;
          //margin-left:-30px;
        }
      }
    }
  }
  section.floor4{
    img.bgl{
      display:inline-block;
    }
    img.bg2{
      display:inline-block;
    }
    .d-f4-content{
      .f4-1{
        div.product-features{
          width:132px;
          font-size: 30px;
        }
        div.font{
          span{
            b{
              font-size:18px;
            }
          }

          p{
            font-size: 12px;
          }
        }
      }
    }
  }
  section.floor5{
    .d-f5-content{
      padding:0;
      h1{
        font-size: 30px;
        margin-top:100px;
      }
      div.center{
        padding-left:0;
        width:48%;
        div{
          width:112px;
        }
      }
      p{
        width:70%;
        font-size: 14px;
      }
    }

  }
  section.floor6{
    .f6-1{
      div.f6-rect{
        height:450px;
        div.inset{
          height:90%;
          h4,h5,ul.num{
            padding-left:0;
          }
          h4{
            font-size: 20px;
            margin-top:10px;
          }
          H5{
            font-size: 18px;
          }
          div.inset-img{
            height:268px;
            >img{
              display:none;
            }
          }
          div.inset-img1{
            background: {
              image: url("../img/img/图文13.jpg");
              position: center;
            };
          }
          div.inset-img2{
            background: {
              image: url("../img/img/图文14.jpg");
              position: center;
            };
          }
          div.inset-img3{
            background: {
              image: url("../img/img/图文15.jpg");
              position: center;
            };
          }
          div.inset-img4{
            background: {
              image: url("../img/img/图文16.jpg");
              position: center;
            };
          }
          div.inset-img5{
            background: {
              image: url("../img/img/图文17.jpg");
              position: center;
            };
          }
          div.inset-img6{
            background: {
              image: url("../img/img/图文18.jpg");
              position: center;
            };
          }
          ul.num{
            li{
              .num-circle{
                width:11px;
                height:11px;
                margin-right: 10px;
              }
              h5{
                font-size: 12px;
              }
            }

          }
        }
      }

    }

  }
}