@mixin imgs(){
  width:90%;
}
nav{
  background:#17AEB7;
  height:60px;
  border-radius:30px;
  margin-top: 30px;
  position: relative;
  img{
    height:60px;
    position: absolute;
    left:15%;
    top:4px;
  }
  ul{
    height:100%;
    width:50%;
    margin:0 auto;
    li{
      height:100%;
      width:15%;
      float:left;
      text-align: center;
      line-height: 60px;
      font:{
        size:18px;
      }
      a{
        color:#fff;
      }
    }
  }
}
.banner{
  height:auto;
  width:92%;
  margin:0 auto;
  background:#9CD622;
  border-radius: 0 0 20px 20px;
  position: relative;
  .img1{
    @include imgs();
  }
  .img2{
    @include imgs();
  }
  .img3{
    @include imgs()
  }
  .img4{
    @include imgs()
  }
  .img5{
    @include imgs()
  }
  .img6{
    @include imgs()
  }
}
.position{
  height:40px;
  width:90%;
  margin:60px auto 0;
  border:1px solid #C9C9C9;
  border-radius:30px;
  position: relative;
  ul{
    height:100%;
    width:100%;
    li{
      height:100%;
      width:80px;
      float:left;
      margin-left: 5px;
      span{
        display: block;
        color:#C9C9C9;
        margin:{
          top:12px;
          left:15px;
        }
        font-weight:500;
      }
      img{
        position: absolute;
        left:72px;
        top:0;
      }
    }
    li:nth-child(2){
      width:12px;
    }
    li:nth-child(3){
      margin-top:4px;
      height:80%;
      background:#65D7FD;
      border-radius:15px;
      span{
        color:#939A9D;
        line-height:8px
      }
    }
    li:nth-child(4){
      margin-top:4px;
      height:80%;
      background:#E9E9E9;
      border-radius:15px;
      span{
        color:#7C7C7C;
        line-height:8px
      }
    }
  }
}
.daohang{
  width:40%;
  height:auto;
  margin:0 auto;
  img{
    width:100%;
  }
}
.acsy-img{
  height:auto;
  margin-left:50px;
  img{
    width:90%;
  }
}
@media screen and(max-width:750px){
  .acsy-img{
    margin-left:0;
  }
}
.background{
  width:100%;
  height:1000px;
  overflow: hidden;
  .sousuo{
    height:70px;
    width:70px;
    background:#9CD622;
    margin-top:100px;
    img{
      margin:{
        top:9px;
        left:9px;
      }
    }
  }
  background-image: url("../img/bg-xs.png");
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
  .h_nav{
    height:90%;
    width:42%;
    background:#2E2E2E;
    position: absolute;
    right: 0;
    top:100px;
    ul{
      height:85%;
      width:100%;
      //margin:0 auto;
      li{
        height:120px;
        width:100%;
        //margin:0 auto;
        border-top:1px solid #9CD622;
        a{
          display: block;
          height:100%;
          width: 80%;
          margin:0 auto;
          span{
            font-size:18px;
            line-height:80px;
          }
          p{
            font-size:24px;
            line-height:0px;
          }
          span:first-child{
            color:#9CD622;
          }
        }
      }
      li:hover{
        background:#E6E6E6;
      }
    }
  }
  div.jiantou{
    position: absolute;
    right:30px;
    bottom:0;
    height:15%;
    img{
      animation:fu 0.8s linear infinite alternate;
    }
  }
}
.dog,.cat{
  width:96%;
  height:auto;
  margin:0 auto;
  overflow: hidden;
  position:relative;
  background:#fff;
  z-index:999;
  li{
    height:auto;
    float:left;
    position: relative;
    transition: all 0.5s;
    &>a{
      display: block;
      width:100%;
      height:auto;
      img{
        width:100%;
      }
    }
    p{
      width:100%;
      height:30px;
      line-height:35px;
      color:#858585;
      margin:0;
      font-size:16px;
      &:nth-child(3){
        height:25px;
        line-height:25px;
      }
      a{
        color:#000;
        font-weight:600;
        font-size:14px;
      }
    }
    &:last-child{
      width:100%;
      height:140px;
      padding:7% 10%;
      box-sizing: border-box;
      button{
        width:4rem;
        height:30px;
        float:left;
        background:#65d7fd;
        border-radius:26px;
        border:0;
        font-size: .08rem;
        outline: none;
        margin:0 20px;
      }
      a{
        width:2rem;
        height:30px;
        display:block;
        border-radius:26px;
        float:left;
        line-height:30px;
        text-align: center;
        color:#244e5b;
        &:last-child{
          float:right;
        }
      }
      p{
        width:auto;
        height:30px;
        float:left;
        line-height:30px;
      }
      a:hover{
        background:#65d7fd;
      }
      input{
        width:12%;
        height:30px;
        float:left;
        border-radius:15px;
        outline: none;
        border:1px solid #aaa9a9;
        text-indent: 2em;
        margin-left:20px;
      }
    }
  }
  .active{
    box-shadow: 0 0 10px 0 #666;
  }
}
@media screen and (max-width:750px){
  .relative{
    display: none;
  }
  .dog,.cat{
    li:last-child{
      height:80px;
      button{
        float:left;
        &:last-of-type{
          float:right;
        }
      }
    }
  }
  .foot{
    margin-top:20px !important;
  }
}
.relative{
  width:100%;
  height:200px;
  position:relative;
}
.mix{
  width:100%;
  height:auto;
  padding:0;
  overflow: hidden;
  position:absolute;
  top:-220%;
  .mix-left{
    width: 40%;
    height:100%;
    float:left;
    img{
      width:100%;
    }
  }
  .mix-right{
    width:60%;
    height:71%;
    float:left;
    position:absolute;
    bottom:0;
    right:0;
    img{
      width:100%;
    }
  }
}
.foot{
  width:100%;
  height:60px;
  margin-top:164px;
  background:rgb(156, 214, 34);
  p{
    text-align: center;
    line-height:60px;
    color: rgb(9, 12, 2);
  }
}
