body,h1,h2,h3,h4,h5,h6,p,pre,ol,ul,li,form,input,textarea,dl,dt,dd{
  margin:0;
  padding:0;
  color:#666;
 }
ul,ol{
  list-style:none;
 }
a{
  text-decoration:none;
 }
body{
background:#fff;
 }
*{
  font-family:"微软雅黑","仿宋",sans-serif;
 }
img{border:none;}
div{color:#666666;}
a{color:#666666;}
