.bj{
	/* width: 7.5rem; */
	height: 10.87rem;
	background-image: url('../img/l-img/2_01.png');
	overflow: hidden; 
	padding-left: 0.24rem;
	padding-right: 0.24rem;
}
.l-banner>a{
    display: block;
    float: left;
    height:.48rem;
    margin-top: -0.2rem;
}
.l-banner>img{
	margin: 0 auto;
	float: left;
	width: 35%;
	margin-left: 1.8rem;
	margin-top: 0.2rem;
}
.l-banner>span{
	float: right;
	font-size: 0.3rem;
	margin-top: 0.3rem;
	color: #fff;
}
.l-z{
	width: 1.75rem;
	height: 0.43rem;
	margin-top: 1.2rem;
	font-size: 0;
}
.l-z>img{
	width: 100%;
}
.l-h{
	width: 7.02rem;
	margin: 0 auto;
	height: 3.12rem;
	background: #fff;
	margin-top: 0.3rem;	
}

.l-h>p{
	font-size: 0.3rem;
	line-height: 0.8rem;
	margin-left: 0.2rem;
	color: #383838;
}
.l-h>h1{
	font-size: 0.3rem;
	line-height: 0.2rem;
	margin-left: 1rem;
	color: #383838;
}
.l-h>h3{
	font-size: 0.3rem;
	margin-top: 0.1rem;
	margin-left: 1rem;
	color: #e6e6e6;
	font-weight: normal;
}
.l-h>a>h5{
	font-size: 0.3rem;
	margin-top: 0.1rem;
	margin-left: 1rem;
	color: #FFDC3E;
}
.l-h>h6{
	font-size: 0.3rem;
	margin-top: -0.4rem;
	margin-left: 2.5rem;
	color: #FFDC3E;
}
.l-h>h2{
	font-size: 0.3rem;
	margin-top: -0.3rem;
	margin-left: 5rem;
	color: #383838;
}
.l-h>h4{
	font-size: 0.3rem;
	margin-top: -0.4rem;
	margin-left: 5rem;
	color: #e6e6e6;
	font-weight: normal;
}
.l-zz{
	width: 1.75rem;
	height: 0.43rem;
	margin-top: 0.5rem;
	font-size: 0;
}
.l-zz>img{
	width: 100%;
}
.l-imgg{
	width: 2.85rem;
	height: 0.72rem;
	margin: 0 auto;
	margin-top: 0.3rem;
	position: relative;
	font-size: 0;
}
.l-imgg>img{
	width: 100%;
}
.l-imgg>a>p{
	font-size: 0.3rem;
	position: absolute;
	left: 30%;
	color: #fff;
	top: 15%;
}