@import url('common.css');
html,body{
	width:100%;
	height:100%;
	background-image:url(../img/qyh-img/xinxi.png) ;
	background-size: cover;
	overflow: hidden;
}
#header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 45px;
    background-size:100% 100%;
    padding: 0;
    color: #eee;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    height:.88rem;
}
#header .z-return{
    padding-left: 0.36rem;
    display: block;
    float: left;
    height:.48rem;
    margin-top: .2rem;
}
#header .z-tupian1{
	height: 0.52rem;
    float: left;
    margin-left: 1.65rem;
    margin-top: .18rem;
}
body > div{
	width:100%;
	height:1.5rem;
	text-align: center;
	margin-top: .9rem;
}
body > div >p{
	color:#fff;
	font-size: 0.32rem;
	width:100%;
	text-align: center;
	line-height: 1.8em;
}
section	{
	width: 100%;
	height:auto;
}
section p{
	font-size: 0.24rem;
	color: #fff;
}
section > p{
	
	color: #FFDC3B;
	margin-left: 0.4rem;
}
section > p:last-of-type{
	border-bottom: 1px dotted #FFDC3B;
	width:4rem;
	margin-left: 0.8rem;
}
section > .tianjia{
	width:100%;
	height:1rem;
	padding:0.3rem 0.5rem;
	box-sizing: border-box;
}
section > .tianjia > li{
	float: left;
	width:1.5rem;
	height:100%;
	border-radius: 10px;
	text-align: center;
	line-height: 0.4rem;
	
}
section > .tianjia > li.zong{
	background: #fb7070;
}
section > .tianjia > li:not(.zong){
	background: #FFDC3B;
	margin-left: 0.5rem;
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
	/*line-height: 1rem;*/
}
section > .xuanze{
	width:94%;
	margin:0 auto;
	height:7.86rem;
	padding:0.2rem 0.3rem;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
section > .xuanze > li{
	background: #FFDC3B;
	border-radius:50%;
	width:1.37rem;
	height:1.37rem;
	text-align: center;
	float: left;
	position: relative;
}

section > .xuanze > li.neirong > img{
	width:80%;
	height: 80%;
	margin-top:10% ;
}
section > .xuanze > li.neirong > p:first-of-type{
	position: absolute;
	top:28%;
	left:27%;
}
section > .xuanze > li.neirong > p:last-of-type{
	position: absolute;
	top:47%;
	left:27%;
}
section > .xuanze > li.xiang{
	width:2.16rem;
	height:2.16rem;
	margin-top:0.86rem;
	margin-left: 0.69rem;
}
section > .xuanze > li.xiang >p:first-of-type{
	top:33%;
	left:34%;
}
section > .xuanze > li.xiang >p:last-of-type{
	top:47%;
	left:34%;
}
section > .xuanze > li.guo{
	margin-top:1.65rem;
	margin-left: 0.6rem;
}
section > .xuanze > li.ma{
	width:1.54rem;
	height:1.54rem;
	position: absolute;
	right:-0.3rem;
	top:1.85rem;
}
section > .xuanze > li.suan{
	width:1.6rem;
	height:1.6rem;
	position: absolute;
	left:0rem;
	top:3.7rem;
}
section > .xuanze > li.xian{
	width:1.6rem;
	height:1.6rem;
	position: absolute;
	left:2.1rem;
	top:3.3rem;
}
section > .xuanze > li.cong{
	width:2rem;
	height:2rem;
	position: absolute;
	left:3.7rem;
	top:4.3rem;
}
section > .xuanze > li.ku{
	width:1.16rem;
	height:1.16rem;
	position: absolute;
	right:-0.1rem;
	top:4.2rem;
}
section > .xuanze > li.qi{
	width:1.37rem;
	height:1.37rem;
	position: absolute;
	right:3.3rem;
	top:5.6rem;
}
section > .xuanze > li.q-aa{
	width:0.47rem;
	height:0.47rem;
	position: absolute;
}
section > .xuanze > li.q-dian1{
	left:3.4rem;
	top:1.5rem;
}
section > .xuanze > li.q-dian2{
	left:5rem;
	top:3.5rem;
}
section > .xuanze > li.q-dian3{
	left:5.7rem;
	top:5.5rem;
}
section > .xuanze > li.q-dian4{
	left:1.4rem;
	top:5.5rem;
}
body>a>img{
	width:3.03rem;
	height: 1.12rem;
	position: absolute;
	bottom:1rem;
	left: 2.1rem;
}
