.address {
  width: 100%;
  height: 38px;
  /*margin-top: 50px;*/
}

.address span {
  font-size: 12px;
  color: #333333;
}
.address span a {
  color: #333;
}

.imgbox {
  width: 100%;
  height: 110px;
  text-align: center;
}

.imgbox img {
  display: block;
  margin: 0 auto;
}

.main {
  position: relative;
}

.main div.xian {
  display: block;
}

.main .tu {
  display: none;
}

.main .circle {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -45px;
  width: 90px;
  height: 10px;
  z-index: 100;
}

.main .circle span {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #858585;
  box-sizing: border-box;
  margin-left: 10px;
}

.main .circle span:first-child {
  margin-left: 0;
}

.main .circle .active {
  width: 30px;
}

.one, .two {
  padding-bottom: 100px;
}

.one {
  border-bottom: 1px solid #333333;
}

.zjg-title {
  width: 100%;
  height: auto;
  padding: 25px 0;
}

.zjg-title p {
  color: #4C4C4C;
  font-size: 24px;
}

.zjg-title div {
  font-size: 24px;
}

.zjg-title div span:first-child {
  color: #F39800;
}

.zjg-title div span:last-child {
  color: #333333;
}

.img {
  width: 100%;
  position: relative;
}

.img img {
  width: 100%;
}

.img div {
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  text-align: center;
  line-height: 52px;
  color: #fff;
  font-size: 20px;
}

.img .active {
  height: 52px;
}

@media screen and (max-width: 768px) {
  .word {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
  }
  .word .left {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  .word .left img {
    margin-top: 18px;
  }
  .word .right {
    width: auto;
    height: auto;
    float: left;
  }
  .word .right p:first-child {
    margin-top: 26px;
    padding-left: 40px;
    box-sizing: border-box;
  }
  .word .right p:last-child span:first-child {
    color: #676BFF;
  }
}

@media screen and (min-width: 768px) {
  .word {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .word .left {
    width: 10%;
    height: auto;
    float: left;
  }
  .word .left img {
    margin-top: 26px;
  }
  .word .right {
    width: 90%;
    height: auto;
    float: left;
  }
  .word .right p:first-child {
    margin-top: 26px;
  }
  .word .right p:last-child span:first-child {
    color: #676BFF;
  }
}
