
.zwlarge,ul,.col-xs-6,.col-xs-3,.zwenglish{
	padding: 0;
}
@media screen and (min-width: 1200px) {
	.zwlarge ul{
		width: 100%;
		height: 715px;
		overflow: hidden;
		position: relative;
		margin-bottom: 0;
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.zwlarge ul{
		width: 100%;
		height: 600px;
		overflow: hidden;
		position: relative;
		margin-bottom: 0;
	}
}
@media screen and (max-width: 992px) and (min-width: 768px) {
	.zwlarge ul{
		width: 100%;
		height: 400px;
		overflow: hidden;
		position: relative;
		margin-bottom: 0;
	}
}
@media screen and (max-width: 768px) {
	.zwlarge ul{
		width: 100%;
		height: 200px;
		overflow: hidden;
		position: relative;
		margin-bottom: 0;
	}
	div.zwbox{
		padding: 0 40px;
	}
	.zwcenter1{
		padding-right: 0 ;
	}
	.zwcenter2{
		padding-left: 0;
	}
}
.iconfont{
    float: left;
    margin-top: 1.5px;
}
.zwsy{
	text-align: center;
	padding: 60px 0;
}
.zwsy img{
	display: block;
	margin: 0 auto;
}
.zwlarge ul li.first{
	z-index: 1;
}
.zwlarge ul li{
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	bottom: 0;
}
.zwlarge img{
	width: 100%;
}
.zw{
	height: 160px;
	background: #fff;
	box-shadow: -5px 0 10px 0 #060001;
	text-align: center;
	overflow: hidden;
}
.zw h6{
	margin-top: 55px;
}
.zworange{
	width: 100%;
	height: 20px;
	background: #F39700;
	float: left;
}
.zwyellow{
	color: #F39700;
}
p{
	font-size: 14px;
	color: #333333;
}
.zwtitle{
	margin-top: 60px;
	padding: 0;
}
.zwtitle p,.zwenglish p{
	text-align: justify;
}
.zwenglish{
	margin-top: 20px;
}
.zwhd{
	margin-top: 100px;
}
.zwhd h5,.zwhd p{
	font-size: 30px;
	font-style: normal;
}
.zwhd p span{
	color: #FF9600;
}
a{
	color: #333333;
}
h6 a:hover{
	color: #333333;
}
.zwhd span.zwmore{
	float: right;
	display: inline-block;
	margin-top: -55px;
	font-size: 30px;
}
.zwhdcontent{
	margin-top: 10px;
}
.zwcenter1{
	padding-left: 0 ;
}
.zwcenter2{
	padding-right: 0;
}
.zwcenter1 img{
	width: 100%;
	margin-top: 20px;
}
.zwcenter1 div~p{
	padding: 20px 0 0;
	text-align: justify;
}
.zwcenter2 div~p{
	padding: 20px 0 0;
	text-align: justify;
}