.bread {
  color: #333; 
  /*margin-top:20px;*/
  }
  .bread span {
    color: #333; }
  .bread a {
    color: #333;
    font-size: 12px }

.title {
  display: block;
  margin: 20px auto; }

.img-thumbnail {
  width: 100%;
  display: block;
  border: 0;
  margin-bottom: 10px; }

span {
  color: #787878;
  font-size: 12px; }

p {
  color: #a9a9a9;}

p:first-child {
  margin-top: 10px;
  font-size: 20px; }

p:nth-child(2) {
  font-size: 18px; }

p:last-child {
  font-size: 16px;
  line-height: 26px; }

.fynav {
  width: 80%;
  height: 30px;
  margin: 50px auto; }

.dian {
  width: 14%;
  border: 1px solid #565656;
  text-align: center;
  border-radius: 10px;
  float: left;
  height: 20px;
  margin-right: 20px; }

.ye {
  width: 40%;
  float: left;
  margin-left: 20px; }

.ye > li {
  float: left;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background: #898989;
  text-align: center;
  color: #fff; }

.ye > li:nth-child(4), .ye > li:nth-child(5) {
  background: #fff;
  color: #000; }

.tz {
  width: 16%;
  border: 1px solid #565656;
  text-align: center;
  border-radius: 10px;
  float: left;
  height: 20px; }

.tz > div {
  width: auto;
  float: right;
  border: 1px solid #565656;
  font-size: 12px;
  border-radius: 10px; }

.col-lg-12 .fynav {
  width: 80%;
  height: 30px;
  margin: 50px auto; }
  .col-lg-12 .fynav .dian {
    width: 14%;
    border: 1px solid #565656;
    text-align: center;
    border-radius: 10px;
    float: left;
    height: 20px;
    margin-right: 0px; }
  .col-lg-12 .fynav .ye {
    width: 50%;
    float: left;
    margin-left: 20px; }
    .col-lg-12 .fynav .ye li {
      float: left;
      margin-left: 10px;
      width: 20px;
      height: 20px;
      background: #898989;
      text-align: center;
      color: #fff;
      margin-right: 10px; }
    .col-lg-12 .fynav .ye li:nth-child(8), .col-lg-12 .fynav .ye li:nth-child(11) {
      background: #fff;
      color: #000; }
  .col-lg-12 .fynav .tz {
    width: 14%;
    border: 1px solid #565656;
    text-align: center;
    border-radius: 10px;
    float: left;
    height: 20px;
    margin-left: 15px; }
    .col-lg-12 .fynav .tz div {
      width: 50%;
      float: right;
      border: 1px solid #565656;
      font-size: 12px;
      border-radius: 10px; }

.up {
  width: 100%;
  height: 320px;
  border-bottom: 1px solid #a9a9a9; }
  .up .col-lg-6:nth-child(2) > ul {
    margin-top: -20px; }

.da {
  padding: 0;
  position: relative; }

.la{
	padding: 0;
  position: relative;
}
.la img{
	padding:0;
}

.hiddenss {
  width: 100%;
  position: absolute;
  
  bottom: 0px;
  height: 0px;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear; }
.hiddens {
  width: 98.9%;
  position: absolute;
  left: 4px;
  bottom: 16px;
  height: 0px;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear; }

.da:hover .hiddens {
  height: 50px; }
.la:hover .hiddenss {
  height: 50px; }
.col-lg-6 > ul > li {
  margin-top: 20px; }
  .col-lg-6 > ul > li img {
    width: 555px;
    height: 290px; }
li.da{
	width:auto;
	height:auto;
}
@media screen and (max-width:376px ) {
	.row p{
		font-size: 14px;
	}
}
.zjl>.col-xs-12{
  background: #fff;
}