body,html{
    width:100%;
    height:100%;
    background: #f0f0f0;
}
header{
    width:100%;
    height:1.28rem;
    background: #e13838;
    position: fixed;
    left:0;
    top:0;
    overflow: hidden;
    z-index: 10000;
}
header>.F-title{
    width:100%;
    height:1.28rem;
    padding:0 0.24rem;
    line-height: 0.87rem;
    box-sizing: border-box;
    text-align: justify;
}
header>.F-title:after{
    content: "";
    width: 100%;
    display: inline-block;
}
header>.F-title>div{
    display: inline-block;
    font-size: 0.3rem;

    color:#fff;
}
header>.F-title>div>a{
    width:0.4rem;
    height:0.4rem;
    display: block;
}
header>.F-title>div>a>img{
    width:0.4rem;
}
main{
    background:#F1F1F1;
}
main>div>div:first-child{
    width:100%;
    height:0.66rem;
    box-sizing:border-box;
    padding:0 0.88rem;
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid #D6D6D6;
}
main>div>div:first-child>span{
    width:0.6rem;
    height:100%;
    font-size:0.3rem;
    color:#111111;
    line-height:0.66rem;
    text-align:center;
    display:block;
}


#wrapper {
    position: absolute;
    z-index: 1;
    top: 1.28rem;
    bottom:0rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    background: #fff;
}
#scroller {
    position:absolute;
    z-index: 1;
    width: 100%;
    background:#fff;
}

#scroller ul {

    margin:0 0.24rem;
    box-sizing: border-box;
    overflow: hidden;
}
#scroller li {
    height: 1.05rem;
    line-height: 1.07rem;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #ffffff;
    width:8.46rem;
    /*position:relative;*/
}
#scroller li>div:first-child{
    float:left;
    height:0.84rem;
    width:7.04rem;
    margin-top:0.21rem;
    transition: margin-left 0.2s linear;
}
#scroller li.yidong > div:first-child{
    margin-left: -0.5rem;
}
#scroller li>div:first-child>div:first-child{
    height:0.24rem;
    width:auto;
    margin-bottom:0.20rem;
    line-height:0.24rem;
}


#scroller li>div:first-child>div:first-child>span:nth-child(1){
    color:#000;
    display:block;
    float:left;
    margin-right:0.15rem;
    font-size:0.24rem;
    line-height:0.21rem;
}
#scroller li>div:first-child>div:first-child>span:nth-child(2){
    color:#ffffff;
    background:#E8BC37;
}
#scroller li>div:first-child>div:first-child>span:nth-child(3){
    color:#ffffff;
    background:#C83937;
}
#scroller li>div:first-child>div:first-child>span:nth-child(4){
    color:#ffffff;
    background:#C83937;
}
#scroller li>div:first-child>div:first-child>span:nth-child(n+2){
    display:block;
    border-radius:2px ;
    float:left;
    margin-right:0.07rem;
    font-size:0.18rem;
}
#scroller li>div:first-child>div:last-child{
    height:0.21rem;
    width:auto;
    line-height:0.21rem;
    font-size:0.2rem;
}
#scroller li>div:first-child>div:last-child>span:first-child{
    color:#7F7F7F;
}
#scroller li>div:first-child>div:last-child>span:last-child{
    color:#111111;
}
#scroller li>div.tupian{
    width:1.42rem;
    float:left;
    overflow: hidden;
    height:98%;
}
#scroller li>div.tupian > a{
    float: left;
    width:0.71rem;
    height:100%;
    background:#eb3b3b;
    overflow: hidden;
    text-align: center;
    line-height: 0.9rem;
}
#scroller li>div.tupian > a >img{
    width:auto;
    height:0.5rem;
}
/*底部*/
footer > .image > a{
    display:block;
    width:100%;
    height:100%;
}









