body,html{
    width:100%;
    height:100%;
}
body,p,pre,ul,ol,li,dl,dt,dd,form,input,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
ul,li,ol,dl,dt,dd{
    list-style:none;
}
a{
    text-decoration: none;
}
img,input{
    border: 0;
}
body{
    background: #D53434;
}
.pack {
    width: 100%;
    /*height: 13.34rem;*/
    background: url("../img/C-img/bj1.png") no-repeat;
    background-size: cover;
}
.top{
    width:100%;
    height:0.4rem;
}
.tou{
    width:2rem;
    height:2rem;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    margin:0 auto;
    margin-top: 1.06rem;
    margin-bottom: 0.7rem;
    background: url("../img/C-img/tou1.png")no-repeat;
    background-size: cover;
}
.cuowu{
    width: 3.5rem;
    height:0.3rem;
    margin-left: 1.15rem;
}
.cuowu-1{
    width: 3.5rem;
    height:0.3rem;
    color: #D53434;
    background: #ffffff;
    font-size: 0.2rem;
    border-radius: 0.1rem;
    display: flex;
    align-items: center;
    display: none;
}
.cuowu a{
    width: 0.3rem;
    height:0.3rem;
    background: url("../img/C-img/cuowu.png")no-repeat;
    background-size: cover;
    display: block;
    margin: 0 0.05rem;
}
.from{
    width: 5.2rem;
    height: 2.1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.from .from-1{
    width:100%;
    height:0.86rem;
    background: #fff;
    display: flex;
    align-items: center;
    margin-top: 0.1rem;
    border-radius: 0.1rem;
    opacity: 0.5;
}
.from-1 a{
    width: 0.5rem;
    height:0.5rem;
    background: url("../img/C-img/zh.png")no-repeat;
    background-size: cover;
    display: block;
    margin: 0 0.2rem;
}
.from-1 p{
    width: 0.05rem;
    height: 0.45rem;
    background: url("../img/C-img/shu.png")no-repeat;
    background-size: cover;
    margin-right: 0.2rem;
}
.from-1 input{
    width: 3.5rem;
    height: 100%;
    border-radius: 0.1rem;
    font-size: 0.26rem;
    outline: none;
}
.from-1 em{
    width: 0.16rem;
    height:0.17rem;
    background: url("../img/C-img/x.png")no-repeat;
    background-size: cover;
    display: block;
}
.from .from-2{
    width:100%;
    height:0.86rem;
    margin-top: 0.3rem;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.1rem;
    opacity: 0.5;
}
.from-2 a{
    width: 0.5rem;
    height:0.5rem;
    background: url("../img/C-img/mm.png")no-repeat;
    background-size: cover;
    display: block;
    margin: 0 0.2rem;
}
.from-2 p{
    width: 0.05rem;
    height: 0.45rem;
    background: url("../img/C-img/shu.png")no-repeat;
    background-size: cover;
    margin-right: 0.2rem;
}
.from-2 input{
    width: 3.5rem;
    height: 100%;
    border-radius: 0.1rem;
    font-size: 0.26rem;
    outline: none;
}
.from-2 em{
    width: 0.3rem;
    height:0.2rem;
    background: url("../img/C-img/y.png")no-repeat;
    background-size: cover;
    display: block;
}
.zi{
    width:5rem;
    height:0.6rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zi .zi-left a{
    color: #ffffff;
    font-size: 0.26rem;
    line-height: 0.6rem;
    display: block;
}
.zi .zi-right a{
    color: #ffffff;
    font-size: 0.26rem;
    line-height: 0.6rem;
    display: block;
}
.login{
    width: 5.2rem;
    height:0.82rem;
    background: #FDBD24;
    border: 3px solid #ffffff;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.9rem;
    border-radius: 1rem;
}
.login .login-1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.login a{
    width: 100%;
    color: #ffffff;
    font-size: 0.28rem;
}
.login .a2{
    color: #ffffff;
    font-size: 0.24rem;
}
.san-login{
    width: 6.66rem;
    height:0.6rem;
    margin: 0 auto;
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.xian{
    width: 2.37rem;
    height:0.02rem;
    background: url("../img/C-img/xian.png")no-repeat;
    background-size: cover;
}
.san-login a{
    color: #ffffff;
    font-size: 0.28rem;
}
.icon{
    width: 6.66rem;
    height: 2.3rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icon a{
    display: block;
    width: 1rem;
    height: 1rem;
}
.icon a:nth-child(1){
    background: url("../img/C-img/qq1.png")no-repeat;
    background-size: cover;
}
.icon a:nth-child(2){
    background: url("../img/C-img/wx1.png")no-repeat;
    background-size: cover;
}
.icon a:nth-child(3){
    background: url("../img/C-img/xl1.png")no-repeat;
    background-size: cover;
}
.mask{
    width: 100%;
    height:100%;
    background: #000;
    opacity: .5;
    position: absolute;
    top:0;
    left:0;
}
.imgs{
    width: 6.08rem;
    height: 4.08rem;
    background: url("../img/C-img/shibai.png")no-repeat;
    background-size: cover;
    position: absolute;
    top:2.3rem;
    left: 50%;
    margin-left: -3rem;
    text-align: center;
    line-height: 0.5rem;
}
.cancel{
    width: 1.3rem;
    height:0.5rem;
    background: #D53434;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
}
.cancel a{
    width:100%;
    height:100%;
    color: #ffffff;
    font-size: 0.28rem;
    display: block;
}
.setting{
    width: 1.3rem;
    height:0.5rem;
    background: #D53434;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
}
.setting a{
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 0.28rem;
    display: block;
}
