body,ul,li,ol,p,pre,h1,h2,h3,h4,h5,h6,input{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
    display:block;
}
a,button,input{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
    -webkit-user-select:none;
    -webkit-text-size-adjust:100%;
    -webkit-overflow-scrolling:touch;
}
*{
    font-family: "helvetica";
    max-height:9999999px;
    font-size:12px;
}

body,html{
    width:100%;
    height:100%;
    overflow:hidden;
}
.bg{
    width:100%;
    height:100%;
    background-image: url(../img/C-img/bg.png);
    background-size:100%;
    background-repeat: no-repeat;
}
.bg > img{
    margin:0 auto;
    padding-top:1.46rem;
    
    display:block;
    width:1.91rem;
    height:auto;
    margin-bottom:0.33rem;
}
.bg li{
	padding-bottom:0.24rem;
}
.bg li:last-child{
	padding:0;
}
.login{
    margin:0 auto;
    width:5.17rem;
    height:0.82rem;
    background:rgba(255,255,255,0.5);
    border-radius: 0.1rem 0.1rem;
    /*margin-bottom:0.24rem;*/
    position:relative;
}
.login > img{
    display:block;
    float:left;
    width:17%;
    height:0.65rem;
    margin-left:0.3rem;
    box-sizing:border-box;
    margin-top:0.1rem;

}
.cuowu{
    width:3.50rem;
    height:0.3rem;
    background:#fff;
    border-radius: 0.3rem 0.3rem;
    margin-bottom:0.1rem;
    overflow: hidden;
    position:absolute;
    left:0;
    top:-0.34rem;
    display:none;
}

.cuowu > img{
    float:left;
    display:block;
    width:auto;
    height:0.24rem;
    margin-top:0.03rem;
    margin-left:0.1rem;
}
.error{
    width:auto;
    color:red;
    font-size:0.26rem;
    float: left;
    margin-left:0.05rem;
    margin-top:0.03rem;

}

input{
    padding-left: 0.25rem;
    width:71%;
    height:auto;
    border:0;
    background:rgba(255,255,255,0);
    outline: medium;
    font-size: 0.26rem;
    margin-top: 0.3rem;
}
input::-webkit-input-placeholder{
    font-family:'苹方 中等';
    color:#fff;
    font-size:0.26rem;
    margin-left:0.85rem;
}
.yanzheng{
    display:block;
    width: 1.5rem;
    height:0.65rem;
    background: url("../img/C-img/yan.png")no-repeat;
    background-size: cover;
    position:absolute;
    right:0.1rem;
    top:0.1rem;
}

.zi{
    width:5rem;
    height:0.6rem;
    margin: 0.24rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zi .zi-left{
    display: flex;
    align-items: center;
}
.zi .zi-left a{
	float:left;
    color: #ffffff;
    font-size: 0.26rem;
    display: block;
}
.zi strong{
    color: #000000;
}
.zi > .zi-left > input{
	float:left;
	padding-left:0;
	margin-top: 0;
    width: 0.24rem;
    height:0.24rem;
    border: 2px solid rgba(255,255,255,0.8);
    border-radius: 0.03rem;
}
.DengLu{
    display:block;
    margin:0 auto;
    margin-top:1.15rem;
    width:5.20rem;
    height:0.82rem;
    background:#fdbd24;
    border-radius: 0.41rem 0.41rem;
    border:0.03rem solid #fff;
    box-sizing: border-box;
}
button{
    outline: none;
}

.DengLu > a{
    color:#fff;
    font-size:0.26rem;
    letter-spacing: 0.05rem;
    margin-top:0.05rem;
    font-family:'苹方 中等';
}
