@charset "UTF-8";
body {
  background: #f1f1f1;
}

section.d-option a:first-child {
  color: rgba(255, 255, 255, 0.7);
}

section.d-option a:nth-child(2) {
  color: #fff;
}

section.d-member {
  width: 100%;
  height: auto;
  background: #fff;
}

section.d-member ul.d-card {
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

section.d-member ul.d-card li {
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 0.35rem 0 0.3rem;
  box-sizing: border-box;
}

section.d-member ul.d-card li img {
  float: left;
  height: 0.8rem;
  margin-top: 0.2rem;
}

section.d-member ul.d-card li h4 {
  color: #f81919;
  font-size: 0.36rem;
  font-family: "苹方 中等";
  float: left;
  margin-left: 0.1rem;
}

section.d-member ul.d-card li div.d-open {
  float: right;
  width: 1.2rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  background: #e13838;
  margin-top: 0.35rem;
  border-radius: 0.1rem;
}
section.d-member ul.d-card li div.d-open > a {
  display:block;
  width:100%;
  height:100%;
  color: #fff;
  font-size: 0.3rem;
  font-family: "苹方 中等";
  /*padding:0.05rem;*/
}

section.d-member ul.d-card li span {
  margin-left: 0.3rem;
  float: left;
  color: #c6c4c4;
  font-size: 0.2rem;
  font-family: "Adobe 黑体 Std";
}

section.d-privilege {
  width: 100%;
  height: auto;
  background: #f1f1f1;
  padding: 0 0.24rem;
  box-sizing: border-box;
}

section.d-privilege div.d-privilege-head {
  width: 100%;
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  color: #111111;
  font-size: 0.3rem;
  font-family: "苹方 中等";
}

section.d-privilege div.d-privilege-head span {
  font-size: 0.3rem;
  color: #e13838;
}

section.d-privilege > ul.d-privilege-function {
  width: 100%;
  height: auto;
  background: #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.4rem 0 0;
  box-sizing: border-box;
  margin-top: 0;
  border-radius: 0.25rem;
}

section.d-privilege > ul.d-privilege-function > li {
  width: 50%;
  height: 1.1rem;
  line-height: 1.1rem;
  text-align: center;
}

section.d-privilege > ul.d-privilege-function > li > a {
  width: 100%;
  height: 100%;
  display: block;
}

section.d-privilege > ul.d-privilege-function > li > a img {
  width: 65%;
}

section.d-privilege > ul.d-privilege-function li:nth-child(2) ~ li {
  margin-top: 0;
}

section.d-explain {
  padding: 0 0.8rem;
  box-sizing: border-box;
  margin-top: 0.3rem;
}

section.d-explain h4 {
  color: #949597;
  font-size: 0.22rem;
  font-family: "苹方 中等";
}

section.d-explain > div {
  margin-top: 0.2rem;
  color: #949597;
  font-size: 0.2rem;
  font-family: "苹方 中等";
}

section.d-explain > div span {
  display: block;
  margin-top: 0.2rem;
}
