body,html{
    width:100%;
    height:100%;
    background: #f0f0f0;
}
header{
    width:100%;
    height:1.75rem;
    background: #e13838;
    position: fixed;
    left:0;
    top:0;
    overflow: hidden;
    z-index: 100;
}
header>.F-title{
    width:100%;
    height:0.87rem;
    padding:0 0.24rem;
    line-height: 0.87rem;
    box-sizing: border-box;
    text-align: justify;
}
header>.F-title:after{
    content: "";
    width: 100%;
    display: inline-block;
}
header>.F-title>div{
    display: inline-block;
    font-size: 0.3rem;

    color:#fff;
}
header>.F-title>div>a{
    width:0.4rem;
    height:0.4rem;
    display: block;
}
header>.F-title>div>a>img{
    width:0.4rem;
}
header>nav{
    height:0.88rem;
    margin:0 0.24rem;
    box-sizing: border-box;
    position: relative;
}
header>nav>ul{
    text-align: justify;
    width:100%;
    height:100%;
    position: absolute;

}
header>nav>ul:after {
    content: "";
    width: 100%;
    display: inline-block;
}
header>nav>ul>li{
    display: inline-block;
    height:100%;
    text-align: center;
    line-height: 100%;
    overflow: hidden;
    opacity: 0.7;
}
header>nav>ul>li>a{
    display: block;
    width:100%;
    height:100%;
}
header>nav>ul>li.choose{
    opacity: 1;
}
header>nav>ul>li:first-child>a>img{
    width:0.23rem;
    margin-top:0.3rem;
}
header>nav>ul>li>a>img{
    width:0.3rem;
    color:#fff;
    float: left;
    margin-top:0.32rem;
    margin-left:0.2rem;
}
header>nav>ul>li>a>span{
    padding-top:0.2rem;
    float: left;
    font-size: 0.3rem;
    line-height: 0.49rem;
    margin-left: 0.07rem;
    color:#fff;
    overflow: hidden;
}
header>nav>div{
    width:1.32rem;
    height:0.49rem;
    border-radius: 0.3rem;
    position: absolute;
    right: 1.32rem;
    top:0.24rem;
}
header>nav>div.chose{
    background:#c83030;
}
#wrapper {
    position: absolute;
    z-index: 1;
    top: 1.76rem;
    bottom:0.98rem;
    left: 0;
    width: 100%;
    overflow: hidden;
}
#scroller {
    position:absolute;
    z-index: 1;
    width: 100%;
    background:#fff;
}

#scroller ul {
    width: 100%;
    padding:0 0.24rem;
    box-sizing: border-box;
}
#scroller li {
    padding: 0 0.23rem;
    height: 1.05rem;
    line-height: 1.07rem;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #ffffff;
}
#scroller li>div:first-child{
    float:left;
    height:0.84rem;
    width:50%;
    margin-top:0.21rem;
}
#scroller li>div:first-child>div:first-child{
    height:0.24rem;
    width:auto;
    margin-bottom:0.20rem;
    line-height:0.24rem;
}
#scroller li>div:first-child>div:first-child>span:nth-child(1){
    color:#000;
    display:block;
    float:left;
    margin-right:0.15rem;
    font-size:0.24rem;
    line-height:0.21rem;
}
#scroller li>div:first-child>div:first-child>span:nth-child(2){
    color:#ffffff;
    background:#E8BC37;
}
#scroller li>div:first-child>div:first-child>span:nth-child(3){
    color:#ffffff;
    background:#C83937;
}
#scroller li>div:first-child>div:first-child>span:nth-child(4){
    color:#ffffff;
    background:#C83937;
}
#scroller li>div:first-child>div:first-child>span:nth-child(n+2){
    display:block;
    border-radius:2px ;
    float:left;
    margin-right:0.07rem;
    font-size:0.18rem;
}
#scroller li>div:first-child>div:last-child{
    height:0.21rem;
    width:auto;
    line-height:0.21rem;
    font-size:0.2rem;
}
#scroller li>div:first-child>div:last-child>span:first-child{
    color:#7F7F7F;
}
#scroller li>div:first-child>div:last-child>span:last-child{
    color:#111111;
}

footer{
    width:100%;
    height:0.97rem;
    background:#ffffff;
    box-sizing:border-box;
    border-top:1px solid #A0A0A1;
    position:fixed;
    bottom: 0;
}
footer>div:first-child{
    width:0.95rem;
    height:0.95rem;
    position:absolute;
    left:0;
    bottom:0;
    background-image:url(../img/L-img/5.png);
    background-size:100% 100%;
    background-position:contain;
}
footer>div:nth-child(2){
    width:1.23rem;
    height:100%;
    position:absolute;
    left:1.2rem;
    bottom:0;
}
footer>div:nth-child(2)>h4{
    font-size:0.26rem;
    color:#000;
    font-weight:normal;
    margin-top:0.24rem;
}
footer>div:nth-child(2)>h6{
    font-size:0.15rem;
    color:#5F5F5F;
}
footer>div:nth-child(3){
    position:absolute;
    bottom:0;
    right:2.3rem;

}
footer>div:nth-child(4){
    width:2.26rem;
    height:100%;
    float:right;
    display:flex;
    justify-content:space-between;
}
footer>div:nth-child(4)>span:nth-child(2){
    font-size:0.58rem;
    color:#E7332E;
    margin-top:0.195rem
}
footer>div:nth-child(4)>span:nth-child(odd){
    font-size:0.31rem;
    color:#B3B2B3;
    margin-top:0.33rem;
}
footer>div>a{
    display: block;
    width:100%;
    height:100%;
}