html,body{
    width:100%;
    height:100%;
}
header{
    height:1.28rem;
    width:100%;
    background:#E13838;
    overflow:hidden;
}
nav{
    height:0.88rem;
    width:100%;
    margin-top:0.4rem;
    display:flex;
    justify-content:space-between;
}
nav>div{
    height:100%;
    width:0.8rem;
}
nav>div>a{
    width:100%;
    height:100%;
}
nav>div>a>img{
    width:100%;
    height:100%;
    display:block;
}
main{
    height:11.09rem;
    width:100%;
    background:#F1F1F1;
    position:relative;
}
main>div{
    height:100%;
    width:7.03rem;
    margin:0 auto;
    background:#FFFFFF;
}
main>div>div:first-child{
    width:100%;
    height:0.66rem;
    box-sizing:border-box;
    padding:0 0.88rem;
    display:flex;
    justify-content:space-around;
    border-bottom:1px solid #D6D6D6;
}
main>div>div:first-child>.wor{
    width:0.6rem;
    height:100%;
    font-size:0.3rem;
    color:#111111;
    line-height:0.66rem;
    text-align:center;
    display:block;
}
main>div>div:last-child{
    position:absolute;
    height:9.6rem;
    width:0.2rem;
    top:0.7rem;
    right:0.4rem;
    background:#F1F1F1;
    z-index:1;
    border-radius:0.1rem;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
main>div>div:last-child>div{
    font-size:0.12rem;
}


#wrapper {
    height:10.43rem;
    width:100%;
    background: #fff;
    overflow: hidden;
    position:relative;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller ul {
    width: 100%;
}
#scroller li {
    padding: 0 0.23rem;
    height: 1.05rem;
    line-height: 1.07rem;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #ffffff;
}
#scroller li>div:nth-child(1){
    width:0.83rem;
    height:0.83rem;
    float:left;
    margin-top:0.11rem;
    border-radius:50%;
    background-image:url('../img/L-img/4.jpg');
    background-position:center center;
    background-size:100% 100%;
}
#scroller li>div:nth-child(2){
    float:left;
    margin-left:0.35rem;
    width:1rem;
    height:100%;
    text-align:center;
    line-height:1.05rem;
    color:#000000;
    font-size:0.26rem;
}



footer{
    width:100%;
    height:0.97rem;
    background:#ffffff;
    box-sizing:border-box;
    border-top:1px solid #A0A0A1;
    position:relative;
}
footer>div:first-child{
    width:0.95rem;
    height:0.95rem;
    position:absolute;
    left:0;
    bottom:0;
    background-image:url(../img/L-img/5.png);
    background-size:100% 100%;
    background-position:contain;
}
footer>div:nth-child(2){
    width:1.23rem;
    height:100%;
    position:absolute;
    left:1.2rem;
    bottom:0;
}
footer>div:nth-child(2)>h4{
    font-size:0.26rem;
    color:#000;
    font-weight:normal;
    margin-top:0.24rem;
}
footer>div:nth-child(2)>h6{
    font-size:0.15rem;
    color:#5F5F5F;
}
footer>div:nth-child(3){
    position:absolute;
    bottom:0;
    right:2.3rem;

}
footer>div:nth-child(4){
    width:2.26rem;
    height:100%;
    float:right;
    display:flex;
    justify-content:space-between;
}
footer>div:nth-child(4)>span:nth-child(2){
    font-size:0.58rem;
    color:#E7332E;
    margin-top:0.195rem
}
footer>div:nth-child(4)>span:nth-child(odd){
    font-size:0.31rem;
    color:#B3B2B3;
    margin-top:0.33rem;
}












