body{
    background:#f2f2f2;
}
@font-face {
    font-family: 'iconfont';
    src: url('../icon/iconfont.eot');
    src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../icon/iconfont.woff') format('woff'),
    url('../icon/iconfont.ttf') format('truetype'),
    url('../icon/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon{
    font-family: 'iconfont';
    font-size:0.2rem;
}
.m-header{
     width:100%;
     height:0.88rem;
     padding:0 0.2rem;
     box-sizing: border-box;
     background: linear-gradient(to left,#31c7ff,#32abff);
     line-height:0.88rem;
     text-align: center;
     color:#fff;
     font-size:0.4rem;
 }
/*banner*/
.m-banner{
    width:100%;
    height:4.6rem;
    position:relative;
    background: url("../m-img/slide-bn.png")no-repeat;
}
.m-message{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index: 999;
}
.m-message-bg{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index: 99;
    background: linear-gradient(to left top,#8B58B4 20%,#1CA7FC 80%);
    opacity: .7;
}
.m-message .headimg{
    width:1.52rem;
    height:1.52rem;
    background:#fff url("../m-img/q-cehua-img.png") no-repeat center;
    border-radius: 50%;
    margin:0.6rem auto 0;
}
.m-message .username{
    width:100%;
    height:0.92rem;
    padding:0.06rem 0;
    box-sizing: border-box;
}
.m-message .username p{
    width:100%;
    height:50%;
    text-align: center;
    color:#E1E5F7;
    font-size:0.3rem;
    line-height:0.4rem;
}
.m-message .headxx{
    width:2rem;
    margin: auto;
    height:0.42rem;
    box-sizing: border-box;
}
.m-message .headxx span{
    display: block;
    width:0.4rem;
    height:100%;
    float:left;
    font-size: 0.32rem;
    line-height:0.42rem;
    color:#FDBA3F;
    margin: auto;
}
.m-message .headxx .white{
    color:#fff;
}
.m-message .head-message{
    width:100%;
    height:0.62rem;
    margin:0.26rem 0;
    padding:0 0.28rem;
    box-sizing: border-box;
}
.m-message .head-message li{
    width:33.3%;
    height:100%;
    float:left;
    border-right: 1px dashed #EAEAF8;
    box-sizing: border-box;
}
.m-message .head-message li:last-child{
    border:0;
}
.m-message .head-message li p{
    width:100%;
    height:0.31rem;
    font-size:0.3rem;
    text-align: center;
    color:#EAEAF8;
    line-height:0.2rem;
}
.m-message .head-message li p:last-child{
    line-height:0.4rem;
}
/*查看订单*/
.m-read{
    width:100%;
    height:0.74rem;
    padding:0 0.24rem;
    background:#fff;
    margin-top:0.36rem;
    box-sizing: border-box;
}
.m-read p{
    width:auto;
    height:100%;
    line-height:0.88rem;
    float:left;
    color:#505050;
    font-size:0.3rem;
}
.m-read span{
    display: block;
    width:0.88rem;
    height:100%;
    line-height:0.88rem;
    text-align: right;
    float:right;
    font-family: "宋体";
    font-size:0.3rem;
    color:#8b8b8b;
}
/*list*/
 .list{
    width:100%;
    height:auto;
    overflow:hidden;
    padding: 0.16rem;
    margin-top:0.05rem;
     display: flex;
     justify-content: center;
    box-sizing: border-box;
    background:#fff;
}
 .list li{
    width:2.2rem;
    height:2rem;
    float:left;
    position:relative;
    text-align: center;
}
 .list li p{
    width:0;
    height:1rem;
    border-right:0.01rem solid #cbcbcb;
    position:absolute;
    top:0.55rem;
    right:0;
}
 .list li img{
    display: block;
    width:1.1rem;
    height:0.94rem;
    margin:0 auto;
    margin-top:0.3rem;
}
 .list li span{
    display: block;
    width:100%;
    font-size:0.24rem;
    color:#919191;
}
 /*设置*/
.m-set{
    width:100%;
    height:0.74rem;
    background:#fff;
    margin-top:0.26rem;
    padding:0 0.28rem;
    box-sizing: border-box;
    position:relative;
}
.m-set > a{
    display: flex;
}
.m-set > a > p{
    width:100%;
    height:100%;
    line-height:0.74rem;
    font-size:0.3rem;
    color:#888888;
}
.m-set > a > p > span{
    font-size: .38rem;
    margin-right: .1rem;
}
.m-set > a > span{
    width:0.74rem;
    height:0.74rem;
    display: block;
    float: right;
    line-height:0.74rem;
    text-align: center;
    font-size:0.3rem;
    font-family: "宋体";
    color:#737373;
    right:0.7rem;
    top:0;
}
/*物流*/
.m-wl{
    width:100%;
    height:2rem;
    background:#fff;
    margin-top:0.05rem;
    padding:0 0.24rem;
    box-sizing: border-box;
}
.m-wl li{
    width:100%;
    height:50%;
    padding:0.1rem 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.m-wl li > span{
    display: block;
    width:1.2rem;
    height:100%;
    line-height:0.4rem;
    padding: .1rem 0;
    text-align: center;
    float:left;
    font-size:0.26rem;
    padding-top: .2rem;
    color:#505050;
}
.m-wl li p > span{
	display: block;
    width:1.2rem;
    height:100%;
    line-height:0.4rem;
    padding: .1rem 0;
    text-align: center;
    float:left;
    font-size:0.26rem;
    color:#505050;
}
.m-wl li img{
    width:0.8rem;
    float:left;
    margin-left:0.25rem;
}
.m-wl li p{
    width:4.56rem;
    height:100%;
    float:left;
    padding-left:0.15rem;
}
.m-wl li p span{
	display: block;
	width: 100%;
	height: .2rem;
    font-size:0.26rem;
    color:#d6d6d6;
    text-align: left;
    overflow: hidden;
}
.m-wl li p span:first-child{
    color:#79cbff;
}