body{
    background: #F2F2F2;
}
.top{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(to left,#31c7ff,#32abff);
}
.top .gouwuche{
    width: 3rem;
    height: 0.88rem;
    line-height: 0.88rem;
    text-align: center;
    font-size: .4rem;
    color: #fff;
    /*padding-top: .3rem;*/
    margin: 0 auto;
}
.top .bi{
    width: 0.45rem;
    position: absolute;
    right: 0.3rem;
    top:0.65rem;
}
.thing{
    width: 7.05rem;
    height: 3.7rem;
    margin-bottom: 0.19rem;
    margin-left: 0.25rem;
    position: relative;
}
.thing .thingBox{
    width: 7.05rem !important;
    height: 3.7rem;
    border-radius: .08rem;
    background: #fff;
    position: relative;
}
.thing .q-caozuo{
    width: 1.83rem !important;
    height: 100%;
    float: right;
    background: #eee;
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: .1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px dashed #ccc;
}
.q-caozuo button{
    width: 1.6rem;
    height: .81rem;
    float: right;
    border: none;
    border-radius: .1rem;
    background: #ffb11e url("../img/q-shoucang.png") no-repeat .2rem center ;
    background-size: 28%;
    color: #fff;
    font-size: .28rem;
    text-indent: .5rem;
    margin-bottom: .63rem;
    outline: none;
}
.q-caozuo button:nth-child(2){
    background: #32abff url("../img/kefu.png") no-repeat .2rem center ;
    background-size: 28%;
}
.q-caozuo button:nth-child(3){
    background: #e8e8e8 url("../img/q-shanchu.png") no-repeat .2rem center ;
    background-size: 28%;
    color: #3b3b3b;
}
.thing .zan{
    display: block;
    width: 0.44rem;
    height: 0.44rem;
    border-radius: 50%;
    border: 1px solid #FFB324;
    position: absolute;
    left: 0.1rem;
    top: 0.1rem;
}
.thing .one{
    width: 4.05rem;
    height: 1.87rem;
    margin: 0 auto;
}
.thing .one img{
    width: 100%;
}
.thing .two{
    width: 100%;
    height: 0.5rem;
}
.thing .two img{
    display: block;
    float: left;
    width: 0.45rem;
    margin-left: 0.2rem;
}
.thing .two span{
    display: block;
    float: left;
    color: #3b3b3b;
    font-size: 0.2rem;
    margin-top: 0.07rem;
    margin-left: 0.1rem;
}
.thing .two i{
    display: block;
    float: right;
    font-size: 0.45rem;
    color: #FFB730;
}
.thing .three{
    width: 100%;
    height: 0.3rem;
    padding: 0 0.25rem;
    box-sizing: border-box;
    font-size: 0.2rem;
    color: #898989;
}
.thing .four{
    width: 50%;
    height: 0.8rem;
    float: left;
    padding-left: 0.25rem;
    box-sizing: border-box;
}
.thing .five{
    width: 45%;
    height: 0.8rem;
    float: right;
    box-sizing: border-box;
}
.thing .four span{
    font-size: 0.25rem;
    display: block;
    float: left;
    color: #5e5e5e;
    margin-top: 0.3rem;
    margin-right: 0.2rem;
}

.thing .five img:nth-child(1){
    display: block;
    margin-top: 0.3rem;
    width: 0.4rem;
    float: left;
    margin-left: 0.5rem;
}
.thing .five input:nth-child(2){
    display: block;
    margin-top: 0.3rem;
    width: 1.12rem;
    height: .4rem;
    float: left;
    margin-left: 0.2rem;
    border: none;
    background: #EEEEEE;
    border-radius: .2rem;
    outline: none;
    text-align: center;
}
.thing .five img:nth-child(3){
    display: block;
    margin-top: 0.3rem;
    width: 0.4rem;
    float: left;
    margin-left: 0.2rem;
}

.guanggao{
    width: 100%;
    height: 2rem;
    overflow: hidden;
}
.guanggao img{
    width: 100%;
}
.bottom{
    width: 100%;
    height: 0.8rem;
}
.bottom .left{
    width: 2rem;
    height: 100%;
    float: left;
}
.bottom .left .circle{
    width: 0.4rem;
    height: 0.4rem;
    border: 1px solid #FFB324;
    border-radius: 50%;
    float: left;
    margin-top: 0.2rem;
    margin-left: 0.3rem;
}
.bottom .left .wenzi{
    font-size: 0.3rem;
    float: left;
    margin-top: 0.2rem;
    margin-left: 10px;
    color: #3EAFFE;
}
.bottom .right{
    width: 5.2rem;
    height:100%;
    float: right;
    margin-right: .2rem;
}
.bottom .right a{
    display: block;
    width: 100%;
    height: 100%;
    float: right;
    background: #FFB11E;
    border-radius: 20px;
}
.bottom .right a p:nth-of-type(1){
    color: #fff;
    font-size: 0.3rem;
    margin-left: 36%;
}
.bottom .right a p:nth-of-type(2){
    color: #fff;
    font-size: 0.25rem;
    margin-left: 15%;
}
#wrapper{
    width: 100%;
    height: 10.6rem;
    overflow: hidden;
    position: relative;
    top: -1.05rem;
    z-index: 999;
}

.q-xuanzhong{
    background: url("../img/p-17.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}