
.top{
    width: 100%;
    height: 4.8rem;
    overflow: hidden;
    position: relative;
}
.top img{
    width: 100%;
}
.gyx{
    width: 100%;
    height: 1.4rem;
    padding:10px 15px ;
    box-sizing: border-box;
    position: relative;
}
.gyx .box{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 10px;
}
.gyx .zhaopian{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../img/p-2.png");
    background-size: 150%;
    background-position: center;
    float: left;
}
.gyx .mingzi{
    width: 1.4rem;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 0.36rem;
    margin-top: 6px;
}
.gyx .mingzi p:nth-of-type(2){
    font-size: 0.24rem;
}
.xing{
    position: absolute;
    right: 1.5rem;
    top: 35%;
    width: 0.5rem;
}
.yiguanzhu{
    width: 0.84rem;
    height: 100%;
    line-height: 1rem;
    font-size: 0.24rem;
    float: right;
}
.zysx{
    width: 100%;
    height: auto;
    padding:0.1rem 0.3rem;
    box-sizing: border-box;
    margin-bottom: 0.98rem;
}
.zysx h6{
    font-size: 0.3rem;
    color: #3D3D3D;
    margin-bottom: 0.4rem;
}
.zysx p{
    font-size: 0.26rem;
}
.zysx img{
    width: 100%;
    display: block;
    margin-top: 0.1rem;
}
body{
    background: #F2F2F2;
}
.bottom{
    width: 100%;
    height: 0.98rem;
    background: #fff;
    margin-top: 0.3rem;
    padding: 0 0.33rem;
    display: flex;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
}
.bottom div{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom div img{
	margin-right: .1rem;
}
.bottom div span{
    font-size: 0.25rem;
    display: block;
    float: right;
}
.top a{
    color: #fff;
    position: absolute;
    left: 0.4rem;
    top: 0.3rem;
    font-size: 0.6rem;
    font-family:"宋体";
}