
.p-box{
     width: 100%;
     height: auto;
 }
.wyjy{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.jyh{
    width: 90%;
    margin:0 auto;
}
button {
    display: block;
    width: 138px;
    height: 47px;
    text-align: center;
    line-height: 47px;
    background: #62CFF4;
    margin: 50px auto;
    border: 0;
    font-size: 20px;
    border-radius: 25px;
}
button:hover{
    background: #0ECA5A;
    color: #fff;
}
.neirong{
    width: 90%;
    height: auto;
    border: 2px solid #BCBCBC;
    margin: 0 auto;
    border-radius: 20px;
    padding: 0 90px;
    box-sizing: border-box;
    margin-bottom: 70px;
}
.lysx{
    font-weight: bold;
}
.p-list{
    margin-top: 90px;
}
.p-list img{
    display: block;
    width: 100%;
}

.yema{
    width: 100%;
    height: auto;
    padding-left: 40px ;
    box-sizing: border-box;
    margin-top: 50px;
    float: left;
    margin-bottom: 50px; ;
}
.yema a{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #0A0A0A;
}
.yema a:nth-child(1){
    width: 80px;
    border-radius: 20px;
    margin-right: 40px;
    background: #65D7FD;
}
.yema a:hover{
    background: #65D7FD;
}
.yema a:nth-child(2){
    background: #65D7FD;
}
.yema a:nth-child(10){
    width: 80px;
    border-radius: 20px;
    margin:0 30px;
    background: #65D7FD;
}
.yema input{
    float: left;
    width: 80px;
    height: 30px;
    border: 1px solid #959394;
    border-radius: 20px;
    margin-right: 10px;
}
.yema a:last-child {
    background: #65D7FD;
}
.ibox{
    position: relative;
}
.zz{
    width: 98%;
    height: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}
.zz1{
    width: 80%;
    height:90%;
    background: rgba(255,255,255,.6);
    position: absolute;
    left:10%;
    bottom: 0;
    transition: all .5s .2s;
    overflow: hidden;
    color: #0A0A0A;
    opacity: 0;
}
.ibox:hover .zz{
    display: block;
}
.ibox:hover .zz1{
    opacity: 1;
}
.zz1 .btn{
    width: 67px;
    height: 23px;
    background: #65D7FD;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 80%;
    color: #fff;
    margin-left: -33px;
    line-height: 10px;
    text-align: center;
    font-size: 12px;
}
@media screen and (max-width: 770px){
    .neirong{
    padding: 0 15px;
}
    .syy{
        position: absolute;
        left: 20%;
    }
    .xyy{
        position: absolute;
        right: 20%;
    }
}

.ceshi{
    width: 200px;
    height: 200px;
    background: red;
}