@mixin imgs() {
  width: 90%;
}
nav{
  background:#17AEB7;
  height:60px;
  border-radius:30px;
  margin-top: 30px;
  position: relative;
  img{
    height:60px;
    position: absolute;
    left:15%;
    top:4px;
  }
  ul{
    height:100%;
    width:50%;
    margin:0 auto;
    li{
      height:100%;
      width:15%;
      float:left;
      text-align: center;
      line-height: 60px;
      font:{
        size:18px;
      }
      a{
        color:#fff;
      }
    }
  }
}
.banner{
  height:auto;
  width:92%;
  margin:0 auto;
  background:#9CD622;
  border-radius: 0 0 20px 20px;
  position: relative;
  .img1{
    @include imgs();
  }
  .img2{
    @include imgs();
  }
  .img3{
    @include imgs()
  }
  .img4{
    @include imgs()
  }
  .img5{
    @include imgs()
  }
  .img6{
    @include imgs()
  }
}
.position{
  height:40px;
  width:90%;
  margin:60px auto 0;
  border:1px solid #C9C9C9;
  border-radius:30px;
  position: relative;
  ul{
    height:100%;
    width:100%;
    li{
      height:100%;
      width:80px;
      float:left;
      margin-left: 5px;
      line-height:36px !important;
      span{
        display: block;
        color:#C9C9C9;
        margin:{
          top:0 !important;
          left:0 !important;
        }
        font-weight:500;
      }
      img{
        position: absolute;
        left:72px;
        top:0;
      }
    }
    li:nth-child(2){
      width:12px;
    }
    li:nth-child(3){
      margin-top:4px;
      height:80%;
      background:#65D7FD;
      border-radius:15px;
      span{
        color:#939A9D;
        line-height:33px !important;
      }
    }
    li:nth-child(4){
      margin-top:4px;
      height:80%;
      background:#E9E9E9;
      border-radius:15px;
      span{
        color:#7C7C7C;
        line-height:33px!important;
      }
    }
  }
}
.daohang{
  width:40%;
  height:auto;
  margin:0 auto;
  img{
    width:100%;
  }
}
.sqly-img{
  height:auto;
  margin-left:50px;
  img{
    width:100%;
  }
}
.background{
  width:100%;
  height:1000px;
  overflow: hidden;
  .sousuo{
    height:70px;
    width:70px;
    background:#9CD622;
    margin-top:100px;
    img{
      margin:{
        top:9px;
        left:9px;
      }
    }
  }
  background-image: url("../img/bg-xs.png");
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
  .h_nav{
    height:90%;
    width:42%;
    background:#2E2E2E;
    position: absolute;
    right: 0;
    top:100px;
    ul{
      height:85%;
      width:100%;
      //margin:0 auto;
      li{
        height:120px;
        width:100%;
        //margin:0 auto;
        border-top:1px solid #9CD622;
        a{
          display: block;
          height:100%;
          width: 80%;
          margin:0 auto;
          span{
            font-size:18px;
            line-height:80px;
          }
          p{
            font-size:24px;
            line-height:0px;
          }
          span:first-child{
            color:#9CD622;
          }
        }
      }
      li:hover{
        background:#E6E6E6;
      }
    }
  }
  div.jiantou{
    position: absolute;
    right:30px;
    bottom:0;
    height:15%;
    img{
      animation:fu 0.8s linear infinite alternate;
    }
  }
}

.m_nav{
  height:44px;
  margin-top:54px;
  border-radius:22px;
  border:1px solid #c0c0c0;
  span{
    margin:5px 0 5px 26px;
    width:110px;
    height:34px;
    display: block;
    font-size:18px;
    border-radius: 17px;
    line-height:34px;
    text-align: center;
    float:left;
    color:#c9c9c9;
    &:nth-child(2){
      background:#65d7fd;
    }
    &:nth-child(3){
      background:#e9e9e9;
    }
  }
}
.m_table{
  width:90%;
  height:auto;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 10px;
  border:1px solid #c0c0c0;
  padding:0 !important;
  .m_table-nav{
    height:66px;
    background:#9cd622;
    line-height:66px;
    text-align: center;
    margin-top:46px;
    color:#d9ebd2;
    font-size:.26rem;
  }
  .m_content{
    width:100%;
    height:auto;
    .m_content-nav{
      height:52px;
      margin-top:20px;
      font-size:.24rem;
      font-weight:600;
      color:#131313;
      line-height:52px;
    }
  }
}
.border{
   border-bottom: 1px solid #eae9ea;
}
.m_notice{
  width:100%;
  height:auto;
  margin-top:25px;
  padding:38px 15px;
  box-sizing: border-box;
  .m_notice-nav{
    width:100%;
    height:40px;
    line-height:40px;
    color:#131313;
    font-weight:600;
    font-size:.24rem;
  }
  p{
    line-height:26px;
  }
}
@media screen and(max-width:750px){
  .m_notice{
    padding:15px;
    margin-top: 0;
  }
}
.m_true{
  border-bottom: 1px solid #eae9ea;
  line-height:30px;
  color:#000;
  font-weight:600;
  font-size:20px;
  p{
    margin:20px 0;
  }
}
.m_why{
   height:180px;
   border-bottom: 1px solid #eae9ea;
   padding:20px 15px;
  p{
    width:100%;
    height:42px;
    line-height:42px;
    color:#131313;
    font-weight:600;
  }
  input{
    width:100%;
    height:66px;
  }
 }
.m_method{
  height:246px;
  border-bottom: 1px solid #eae9ea;
  ul{
    display: block;
    width:100%;
    height:auto;
    float:left;
    li{
      display: block;
      width:100%;
      height:auto;
      float:left;
    }
  }
  .m_method-nav{
    height:66px;
    line-height: 66px;
    color:#131313;
    font-weight:600;
  }
  .m_one,.m_two{
    height:35px;
    padding-right:15px;
    line-height:35px;
    float:left;
    color:#3f3f3f;
    text-align: center;
    margin:0;
  }
  .m_one-input,.m_two-input{
    height:24px;
    margin: 6px 0;
    border:1px solid #959394;
    box-sizing: border-box;
    float:left;
  }
}
.m_message{
  width:100%;
  height:336px;

  .m_message-nav{
    width:100%;
    height:66px;
    line-height: 66px;
    color:#131313;
    font-weight:600;
    font-size:.13rem;
    margin-top:20px;
  }
  ul{
    width:100%;
    height:240px;
    li{
      width:100%;
      height:40px;
      float:left;
      p{
        width:auto;
        height:100%;
        line-height:40px;
        float:left;
        margin:0 50px 0 0;
        font-size: .05rem;
      }
      input{
        float:left;
        margin:13px 4px;
        width: .8rem;
        height:.3rem;
      }
      input.m_ra{
        width: .2rem;
        height: .2rem;
      }
      span{
        width:auto;
        height:100%;
        margin-right:10px;
        display: block;
        line-height:40px;
        float:left;
      }
    }
  }
}
.m_foot{
  width:100%;
  height:206px;
  float:left;
  margin-top:50px;
  #foot{
    float:left;
    margin:58px 15px 0;
  }
  p{
    margin-top:55px;
  }
  button{
    height:.5rem;
    background:#a2e021;
    border-radius: 25px;
    border:0;
    outline: none;
    color:#343434;
    font-size:.18rem;
    font-weight:500;
    float:left;
    margin-top:42px;
    margin-left:40%;
  }
}
.foot{
  width:100%;
  height:60px;
  margin-top:164px;
  background:rgb(156, 214, 34);
  p{
    text-align: center;
    line-height:60px;
    color: rgb(9, 12, 2);
  }
}