
@media screen and (min-width: 750px) {
  .X-small{
    display: none;
  }
  .small{
  	display: none;
  }
  .X-part-one {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: -50px;
    text-align: center;
  }
  .X-part-one .X-title {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .X-part-one .X-title img {
    display: block;
    margin: 0 auto;
  }
  .X-part-one .X-title span:nth-child(2) {
    display: block;
    font-size: 14px;
    color: #454142;
    margin: 0 auto;
  }
  .X-part-one .X-title span:nth-child(3) {
    display: block;
    font-size: 24px;
    color: #282828;
    margin: 0 auto;
    margin-top: 10px;
  }
  .X-part-one .X-part-one-content {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .X-part-one .X-part-one-content div {
    margin-top: 80px;
  }
  .X-part-one .X-part-one-content div img {
    display: block;
    margin: 0 auto;
  }
  .X-part-one .X-part-one-content div:nth-child(1) img {
    float: right;
  }
  .X-part-one .X-part-one-content div:nth-child(2) img {
    margin-top:-8px;
  }
  .X-part-one .X-part-one-content div:nth-child(3) img {
    float: left;
  }
  .X-part-two {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 100px;
  }
  .X-part-two img {
    display: block;
    width: 100%;
  }
  .X-part-three {
    width: 90%;
    height: 690px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #BCBCBC;
    margin-top: 200px;
    margin-bottom: 100px;
  }
  .X-part-three .X-title img {
    width:80%;
    display: block;
    margin-left: 80px;
    margin-top: -25px;
  }
  .X-part-three .X-title-one img {
    display: block;
    margin-left: 80px;
    margin-bottom: 10px;
  }
  .X-part-three .X-content-one {
    width: 85%;
    height: 70px;
    border-bottom: 1px solid #A5A6A6;
    margin-left: 80px;
  }
  .X-part-three .X-content-one div {
    width: 33.333%;
    height: 75%;
    float: left;
    font-size: 12px;
  }
  .X-part-three .X-content-one div:nth-child(1) {
    border-right: 1px solid #787777;
  }
  .X-part-three .X-content-one div:nth-child(2) {
    border-right: 1px solid #787777;
  }
  .X-part-three .X-content-one div:nth-child(2) p {
    margin-left: 50px;
  }
  .X-part-three .X-content-one div:nth-child(3) p {
    margin-left: 50px;
  }
  .X-part-three .X-content-two {
    width: 85%;
    height: auto;
    overflow: hidden;
    margin-left: 80px;
  }
  .X-part-three .X-content-two div {
    width: 33.333%;
    height: 75%;
    float: left;
    font-size: 12px;
  }
  .X-part-three .X-content-two div p:nth-child(2) {
    margin-bottom: 20px;
  }
  .X-part-three .X-content-two div p:nth-child(4) {
    margin-bottom: 20px;
  }
  .X-part-three .X-content-two div:nth-child(1) {
    border-right: 1px solid #787777;
  }
  .X-part-three .X-content-two div:nth-child(2) {
    border-right: 1px solid #787777;
  }
  .X-part-three .X-content-two div:nth-child(2) p {
    margin-left: 50px;
  }
  .X-part-three .X-content-two div:nth-child(3) p {
    margin-left: 50px;
  }
}




@media screen and (max-width: 750px) {
  .X-big{
    display: none;
  }
  .big{
  	display: none;
  }
  .X-part-one {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: -50px;
    margin-bottom: -50px;
    text-align: center;
  }
  .X-part-one .X-title {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .X-part-one .X-title img {
    display: block;
    margin: 0 auto;
  }
  .X-part-one .X-title span:nth-child(2) {
    display: block;
    font-size: 14px;
    color: #454142;
    margin: 0 auto;
  }
  .X-part-one .X-title span:nth-child(3) {
    display: block;
    font-size: 24px;
    color: #282828;
    margin: 0 auto;
    margin-top: 10px;
  }
  .X-part-one .X-part-one-content {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .X-part-one .X-part-one-content div {
    margin-top: 80px;
  }
  .X-part-one .X-part-one-content div img {
    width:90%;
    display: block;
    margin: 0 auto;
  }
  .X-part-one .X-part-one-content div:nth-child(1) img {
    float: right;
  }
  .X-part-one .X-part-one-content div:nth-child(2) img {
    margin-top:-2%;
  }
  .X-part-one .X-part-one-content div:nth-child(3) img {
    float: left;
  }
  
  
  .X-part-two {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 100px;
  }
  .X-part-two img {
    display: block;
    width: 100%;
  }
  .X-part-three {
    width: 90%;
    height: 880px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #BCBCBC;
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
  }
  .X-part-three .X-title img {
    width:100%;
    display: block;
    margin-left: 30px;
    margin-top: 30px;
  }
  .X-part-three .X-title-one img {
    display: block;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .X-part-three .X-title-two img {
    display: block;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .X-part-three .X-content-one {
    width: 90%;
    height: 70px;
    margin-left: 30px;
  }
  .X-part-three .X-content-one div {
    font-size: 14px;
  }
  .X-part-three .X-content-one p:nth-child(2n) {
    margin-bottom: 10px;
  }
  .X-part-three .X-content-two {
    width: 660px;
    height: auto;
    overflow: hidden;
    margin-left: 30px;
  }
  .X-part-three .X-content-two div {
    font-size: 14px;
  }
  .X-part-three .X-content-two div p:nth-child(2n) {
    margin-bottom: 10px;
  }
  .X-part-three .X-content-three p {
    font-size: 14px;
    color: #C8C8C8;
    margin-top: 2px;
  }
  .X-part-three .X-content-three p:nth-child(1) {
    margin-top: 50px;
  }
}


@media screen and (max-width: 375px) {
	.X-part-one .X-part-one-content div img {
    width:120%;
    display: block;
    margin: 0 auto;
  }
  .X-part-one .X-part-one-content div:nth-child(1) img {
    float: right;
  }
  .X-part-one .X-part-one-content div:nth-child(2) img {
    margin-top:-5%;
    margin-left:-5%;
  }
  .X-part-one .X-part-one-content div:nth-child(3) img {
    float: left;
  }
  .X-part-two {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 80px;
  }
	.X-part-three {
    width: 90%;
    height: 650px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #BCBCBC;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .X-part-three .X-title img {
    width:100%;
    display: block;
    margin-left: 10px;
    margin-top: 20px;
  }
  .X-part-three .X-title-one img {
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .X-part-three .X-title-two img {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .X-part-three .X-content-one {
    width: 90%;
    height: auto;
    margin-left: 10px;
  }
  .X-part-three .X-content-two {
    width: 660px;
    height: auto;
    overflow: hidden;
    margin-left: 10px;
  }
}



@media screen and (max-width: 260px) {
	.X-part-one .X-part-one-content div {
    margin-top: 70px;
  }
	.X-part-one .X-part-one-content div img {
    width:120%;
    display: block;
    margin: 0 auto;
  }
  .X-part-three .X-title img {
    width:100%;
    display: block;
    margin-left: 5px;
    margin-top: 20px;
  }
  .X-part-three .X-title-one img {
    display: block;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  
  .X-part-three .X-title-two img {
    display: block;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .X-part-three .X-content-one {
    width: 90%;
    height: auto;
    margin-left: 5px;
  }
  .X-part-three .X-content-two {
    width: 660px;
    height: auto;
    overflow: hidden;
    margin-left: 5px;
  }
}
