*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background:#fff;
}
@media only screen and (max-width:750px){
    .yzf-banner1{
        display: none;
    }
    
    .yzf-banner{
    width: 100%;
    height:auto;
    .navmin{
            width: 100%;
            height: 40px;
            padding: 0 24px;
            box-sizing: border-box;
            position: absolute;
            top: 40px;
            left: 0;
            display: flex;
            justify-content: space-between;
            z-index: 2;
            div{
                width: 40px;
                height: 40px;
                img{
                    height: 100%;
                }
            }
            div:last-child{
                position: relative;
                ul{
                    display: none;
                    position: absolute;
                    top: 40px;
                    right: -30px;
                    width: 150px;
                    height: auto;
                    li{
                        width: 100%;
                        height: auto;
                        padding: 6px 0;
                        box-sizing: border-box;
                        position: relative;
                        a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            &:active{
                                text-decoration: none;
                                opacity: .9;
                            }
                            h1{
                                margin: 0;
                                font-size: 16px;
                                color: #fff;
                                opacity: 0.9;
                                width: 100%;
                                height: auto;
                                font-weight: normal;
                            }
                            p{
                                margin: 0;
                                margin-top: 5px;
                                width: 100%;
                                height: auto;
                                color: #fff;
                                font-size: 10px;
                                font-weight: normal;
                            }
                            div{
                                width: 100%;
                                height: 4px;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                line-height: 5px;
                                img{
                                    width: 100%;
                                }
                                .active{
                                    display: none;
                                }
                            }
                        }
                     }   
                }
            }
       }     
}
.yzf-banner img{
    width:100%;
    height:auto;
}
.box{
    width:100%;
    height:auto;
    position:relative;
}
.box1{
    width:89%;
    height:auto;
    position:relative;
    top:45px;
    left:0;
//  margin-top:-20%;
//  z-index:100;
    margin:0 auto;
    background:#fff;
    overflow: hidden;
    > .yzf-sign{
        width:100%;
        height:80px;
        background-image:url(../img/yzf/xinwen2_03.png);
        background-size:100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    > .yzf-daohang{
       position: absolute;
        top:0;
        left:12%;
        a{
            font-size: 24px;
            color:#999999;
        }
        span{
            font-size: 24px;
             color:#999999;
        }
        .yzf-active{
            color:#fe3052;
        }
    }
    > .yzf-biaoti{
        width:100%;
        height:126px;
        background-image: url(../img/yzf/xinwen2_06.png);
        background-size: cover;
        background-position: center;
        margin:0 auto;
    }
    > .yzf-down{
        width:25px;
        height:25px;
        background-image: url(../img/yzf/xin1_03.png);
        background-size:cover;
        background-position: center;
        margin:5px auto auto auto;
    }
     > .yzf-biaoti2{
        width:100%;
        height:80px;
        background-image: url(../img/yzf/xinwen2_09.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin:0 auto; 
    }
    .yzf-date{
        width:90%;
        height:auto;
        margin:0 auto;
        font-size:14px;
        font-family: "[STXihei]";
        color:#545454;
        > b{
            font-family: "微软雅黑";
            font-size: 20px;
        }
        > span {
             font-family: "[MyriadPro]";
            font-size: 18px;
            display: block;
        }
    }
    .yzf-line{
        width:100%;
        height:14px;
        background-image: url(../img/yzf/xinwen2_12.png);
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin:0 auto;
    }
    .yzf-font1{
        display: block;
        width:90%;
        margin: 30px auto;
        height:auto;
        font-size:14px;
        font-family:"宋体";
        color:#1f1f1f;
        text-align:justify; 
    }
     .yzf-font2{
        display: block;
        width:90%;
        margin: 35px auto;
        height:auto;
        font-size:12px;
        font-family:"[MyriadPro]";
        color:#3e3a39;
        text-align:justify;
    }
    .yzf-img1{
        width:40%;
        height:325px;
        background-image: url(../img/yzf/xinwen2_15.png);
        background-size: cover;
        background-position: center;
        float:left;
        margin-bottom: 0.6rem;
    }
    .yzf-img2{
        width:60%;
        height:325px;
        background-image: url(../img/yzf/xinwen2_16.png);
        background-size: cover;
        background-position: center;
        float:left;
        margin-bottom: 0.6rem;
    }
    .yzf-list1{
        width:100%;
        height:auto;
        overflow: hidden;
        margin:0 auto;
        border-bottom:1px solid #ccc;
//      background:red;
        >.one{
            width:119px;
            height:119px;
            display: block;
            float:left;
            margin: 0.2rem auto;
        }
        > p{
            font-size:14px;
            font-family: "微软雅黑";
            margin-left:20px;
            float:left;
            color:#000;
            display: block;
        }
        >.center{
            width:49%;
            height:auto;
            float:left;
            margin-top:0.2rem;
            margin-left:15px;
            color:#000;
            >p{
                display: none;
            }
            >h2{
               font-size:14px;
                font-family: "微软雅黑";
                margin:0;
//              float:left;
                color:#000;
                color: #555;
            }
               >.icon{
                    margin-top:0.2rem;
                    color:#393838;
                   > .fontone{
                       display: block;
                       float:left;
                   }
                   > .fonttwo{
                       display: block;
                       margin-top:8px;
                       float:left;
                       margin-left:0.35rem;
                   }
                   > .fontthree{
                        display: block;
                       float:left;
                       margin-left:1.2rem;
                   }
                   > .fontfour{
                        display: block;
                       margin-top:8px;
                       float:left;
                       margin-left:0.35rem;
                   }
                   > .fontfive{
                       display:none;
                       width:15px;
                       height:15px;
                       border-radius: 50%;
                       background:red;
                       float:left;
                       margin-top:8px; 
                       margin-right:0.15rem;
                   }
                   > .fontsix{
                       display: none;
                       margin-top:8px;
                       float:left;
                        margin-left:0.05rem;
                   }
               }
        }
        >.two{
            float:left;
            display: block;
            margin-top:80px;
            margin-left:30px;
            display: none;
        }
        >.three{
            float:left;
            display: block;
            margin-top:80px;
             margin-left:30px;
             display: none;
        }
    }
    .yzf-lunbo{
        width:100%;
        height:auto;
        >img{
            width:30%;
            height:auto;
            float:left;
        }
    }
    .yzf-more{
        width:146px;
        height:73px;
        background-image: url(../img/yzf/xinwen2_49.png);
        background-size:cover;
        background-position: center;
        margin:0 auto;
        margin-top:0.6rem;
    }
    .yzf-foot{
        width:317px;
        height:135px;
        background-image: url(../img/yzf/footer_03.png);
        background-size:cover;
        background-position: center;
        margin:0 auto;
         margin-top:0.6rem;
    }
}

.zhc-footer{
    display: none;
}
.zhc-footermin{
        margin-top: 10px;
        height: auto;
        width: 100%;
        background: url(../img/zhc/zhc-footermin_02.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        .zhc-fotmin{
            width: 100%;
            text-align: center;
            height: auto;
            padding: 30px 35%;
                img{
                    width: 100%;
                    display: block;
                    margin-top:30px;
                }
        }
        p{
            padding: 15px 0;
            width: 60%;
            border-bottom: 1px solid #e0e0e0;
            font-size: 16px;
            margin: 0;
            margin-left: 20%;
            color: #fff;
        }
        h5{
            width: 100%;
            height: auto;
            padding: 30px 0;
            margin: 0;
            font-size: 16px;
            color: #fff;
            text-align: center;
        }
        div{
            width: 100%;
            height: auto;
            text-align: center;
            img{
                width: 34px;
                height: 34px;
                margin: 0 10px;
            }
        }
        .zhc-fotend{
            border-top: 1px solid #b0b0b0;
            margin-top: 30px;
            padding: 30px 20%;
            width: 100%;
            height: auto;
            font-size: 14px;
            color: #fff;
            text-align: center;
        }
    }
}









@media only screen and (min-width:750px){
body{
    background:#f6f6f6;
}
    .yzf-banner{
        display: none;
    } 
.yzf-banner1{
    width: 100%;
    height:750px;
    background-image: url(../img/yzf/banner1_01.png);
    background-size:cover;
    background-position:center center;
    .navmax {
            width: 100%;
            height: 60px;
            position: absolute;
            top: 34px;
            left: 50%;
            margin-left:-50%;
            overflow: hidden;
            .juone {
                width: 10%;
                height: 60px;
                border-radius: 0  50px 50px 0;
                background: rgba(255,255,255,0.3);
                float: left;
            }
            .sy2 {
                width: 6%;
                height: 60px;
                float: left;
                background-image: url(../img/ly/sy.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 66px 60px;
                margin-left: 2%;
            }
            .jutwo {
                width: 80%;
                height: 60px;
                 background: rgba(255,255,255,0.3);
                border-radius: 50px 0 0 50px;
                margin-left:2%;
                float: left;
                .active{
                    border-bottom: 4px solid #ff0000;
                    box-sizing: border-box;
                }
                img {
                    float: left;
                }
                a{
                    height:100%;
                    float:left;
                    font-size: 18px;
                    color:white;
                    padding: 0 10px;
                    line-height: 60px;
                    text-decoration: none;
                    span{
                       font-size: 18px;
                    }
                }
                .denglu{
                    width:120px;
                    height:60px;
                    margin-left:50px;
                    float:left;
                    a{
                        font-size: 16px;
                        float:left;
                        margin-top:2px;
                    }
                }
                input{
                    width:170px;
                    height:24px;
                    border-radius: 7px;
                    margin-left:20px;
                    margin-top:16px;
                    border-color:white;
                    outline: none;
                    padding-left: 10px;
                    box-sizing: border-box;
                    background: rgba(0,0,0,0);
                    color: #fff;
                }
            }
        }
}
.box{
    width:100%;
    height:auto;
}
.box2{
    width:100%;
    height:auto;
    position:relative;
}
.box1{
    width: 89%;
    height: auto;
    position: relative;
    top: -55px;
    left:5%;
    background: #fff;
    overflow: hidden;
    > .yzf-sign{
        width:100%;
        height:115px;
        margin-top:60px;
        background-image:url(../img/yzf/xinwen2_03.png);
        background-size: 100% 100%;
        background-position: center;
//      float:left;
    }
    > .yzf-daohang{
       position: absolute;
        top:55px;
        left:12%;
        a{
            font-size: 24px;
            color:#999999;
        }
        span{
            font-size: 24px;
             color:#999999;
        }
        .yzf-active{
            color:#fe3052;
        }
    }
    > .yzf-biaoti{
        width:546px;
        height:126px;
        background-image: url(../img/yzf/xinwen2_06.png);
        background-size: cover;
        background-position: center;
        margin:0 auto;
//      float:left;
    }
    > .yzf-down{
        width:33px;
        height:33px;
        background-image: url(../img/yzf/xin1_03.png);
         background-size:cover;
        background-position: center;
         margin:5px auto auto auto;
    }
     > .yzf-biaoti2{
        width:40%;
        height:126px;
        background-image: url(../img/yzf/xinwen2_09.png);
        background-size: cover;
        background-position: center;
        margin:0 auto;
    }
    .yzf-date{
        width:90%;
        height:auto;
        margin:0 auto;
        font-size:14px;
        font-family: "[STXihei]";
        color:#545454;
        > b{
            font-family: "微软雅黑";
            font-size: 24px;
        }
        > span {
             font-family: "[MicrosoftYa...";
            font-size: 18px;
            display: block;
        }
    }
    .yzf-line{
        width:100%;
        height:14px;
        background-image: url(../img/yzf/xinwen2_12.png);
        background-size:100% 100%;
        background-position: center;
        margin:0 auto;
    }
    .yzf-font1{
        display: block;
        width:90%;
        margin: 30px auto;
        height:auto;
        font-size:14px;
        font-family:"宋体";
        color:#1f1f1f;
    }
     .yzf-font2{
        display: block;
        width:90%;
        margin: 35px auto;
        height:auto;
        font-size:12px;
        font-family:"[MyriadPro]";
        color:#3e3a39;
    }
    .yzf-img1{
        width:40%;
        height:544px;
        background-image: url(../img/yzf/xinwen2_15.png);
        background-size: cover;
        background-position: center;
        float:left;
        margin-bottom: 100px;
    }
    .yzf-img2{
        width:60%;
        height:544px;
        background-image: url(../img/yzf/xinwen2_16.png);
        background-size: cover;
        background-position: center;
        float:left;
        margin-bottom: 100px;
    }
//  .yzf-list1{
//      width:100%;
//      height:auto;
//      margin:0 auto;
//      border-bottom:1px solid #ccc;
//      overflow: hidden;
//      >.one{
//          width:119px;
//          height:119px;
//          display: block;
//          float:left;
//          margin: 43px auto;
//      }
//      > p{
//          font-size:14px;
//          font-family: "微软雅黑";
//          margin-left:20px;
//          float:left;
//          color:#000;
//          display: block;
//          margin-top:15px;
//      }
//      >.center{
//             width:580px;
//             height:155px;
//             float:left;
//             margin-top:45px;
//             margin-left:20px;
//             >h2{
//                 display:none;
//             }
//             >.icon{
//                  margin-top:20px;
////                  line-height:20px;
//                  color:#393838;
//                 > .fontone{
//                     display: block;
//                     float:left;
//                 }
//                 > .fonttwo{
//                     display: block;
//                     margin-top:8px;
//                     float:left;
//                     margin-right:25px;
//                 }
//                 > .fontthree{
//                      display: block;
//                     float:left;
//                 }
//                 > .fontfour{
//                      display: block;
//                     margin-top:8px;
//                     float:left;
//                     margin-right:25px;
//                 }
//                 > .fontfive{
//                     display: block;
//                     width:15px;
//                     height:15px;
//                     border-radius: 50%;
//                     background:red;
//                     float:left;
//                      margin-top:8px;
//                 }
//                 > .fontsix{
//                      display: block;
//                     margin-top:8px;
//                     float:left;
//                     margin-left:25px;
//                 }
//             }
//      }
//      >.two{
//          float:left;
//          display: block;
//          margin-top:80px;
//          margin-left:30px;
//      }
//      >.three{
//          float:left;
//          display: block;
//          margin-top:80px;
//           margin-left:30px;
//      }
//  }
//  .yzf-lunbo{
//      display: none;
//  }
//  .yzf-more{
//      width:146px;
//      height:73px;
//      background-image: url(../img/yzf/xinwen2_49.png);
//      background-size:cover;
//      background-position: center;
//      margin:0 auto;
//      margin-top:100px;
//  }
//  .yzf-foot{
//      width:317px;
//      height:135px;
//      background-image: url(../img/yzf/footer_03.png);
//      background-size:cover;
//      background-position: center;
//      margin:0 auto;
//  }
//}
.yzf-list1{
        width:100%;
        height:auto;
        overflow: hidden;
        margin:0 auto;
        border-bottom:1px solid #ccc;
//      background:red;
        >.one{
            width:119px;
            height:119px;
            display: block;
            float:left;
            margin: 0.2rem auto 0.2rem 0.5rem;
        }
        > p{
            font-size:14px;
            font-family: "微软雅黑";
            margin-left:20px;
            float:left;
            color:#000;
            display: block;
        }
        >.center{
            width:50%;
            height:auto;
            float:left;
            margin-top:0.25rem;
            margin-left:0.2rem;
          
            >h2{
                display: none;   
            }
               >.icon{
//                  margin-top:0.1rem;
//                  line-height:20px;
                    color:#393838;
                   > .fontone{
                       display: block;
                       float:left;
                   }
                   > .fonttwo{
                       display: block;
                       margin-top:8px;
                       float:left;
                       margin-right:0.25rem;
                   }
                   > .fontthree{
                        display: block;
                       float:left;
                   }
                   > .fontfour{
                        display: block;
                       margin-top:8px;
                       float:left;
                       margin-right:0.25rem;
                   }
                   > .fontfive{
                       display: block;
                       width:15px;
                       height:15px;
                       border-radius: 50%;
                       background:red;
                       float:left;
                       margin-top:8px;
                   }
                   > .fontsix{
                       display: block;
                       margin-top:8px;
                       float:left;
                        margin-left:0.05rem;
                   }
               }
        }
        >.two{
            width:10%;
            height:auto;
            display: block;
            float:left;
            margin-top:30px;
            margin-left:5%;
        }
        >.three{
           width:10%;
            height:auto;
            display: block;
            float:left;
            margin-top:30px;
            margin-left:5%;
        }
    }
    .yzf-lunbo{
        width:100%;
        height:auto;
        >img{
            width:30%;
            height:auto;
            float:left;
        }
    }
    .yzf-more{
        width:146px;
        height:73px;
        background-image: url(../img/yzf/xinwen2_49.png);
        background-size:cover;
        background-position: center;
        margin:0 auto;
        margin-top:0.6rem;
    }
    .yzf-foot{
        width:317px;
        height:135px;
        background-image: url(../img/yzf/footer_03.png);
        background-size:cover;
        background-position: center;
        margin:0 auto;
         margin-top:0.6rem;
    }
}
    .zhc-footer{
        width: 100%;
        height: auto;
        background: url(../img/zhc/zhc-footers_07.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
//      position:relative;
//      float: left;
        .zhc-fot{
            width: 100%;
            height: auto;
            padding: 30px 0;
            padding-top: 150px;
            overflow: hidden;
            text-align: center;
            img{
                height: 100%;
            }
        }
        .zhc-fots{
            width: 100%;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            div:first-child{
                width: 45%;
                height: 200px;
                float: left;
                img{
                    float: left;
                    height: 120px;
                    width: 120px;
                    margin: 40px;
                }
                div{
                    height: 100%;
                    width: 50%;
                    h1{
                        width: 100%;
                        margin: 0;
                        color: #fff;
                        font-size: 24px;
                        margin: 30px 0;
                    }
                    p{
                        width: 100%;
                        margin: 0;
                        color: #fff;
                        font-size: 10px;
                        margin: 20px 0;
                    }
                    img{
                        width: 34px;
                        height: 34px;
                        margin: 0;
                        margin-right: 15px;
                    }
                    
                }
            }
            div:nth-child(2){
                float: right;
                height: 200px;
                width: 45%;
                ul{
                    float: left;
                    height: 100%;
                    width: 400px;
                    li{
                        font-size: 14px;
                        color: #fff;
                        width: 100%;
                        height: auto;
                        padding: 20px 0;
                        border-bottom: 1px solid #b0b0b0;
                    }
                    li:last-child{
                        border: none;
                    }
                }
                img{
                    margin-left: 35px;
                    width: 101px;
                    height: 109px;
                    margin-top: 30px;
                }
            }
        }
        .zhc-fotss{
            width: 100%;
            height: auto;
            padding: 30px 0;
            border-top: 1px solid #fff;
            text-align: center;
            color: #fff;
            margin-top: 20px;
        }
    }
    .zhc-footermin{
        display: none;
    }
}
@media screen and (max-width:414px){


 .zhc-footermin{
        margin-top: 5px;
        height: auto;
        width: 100%;
        background: url(../img/zhc/zhc-footermin_02.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        .zhc-fotmin{
            width: 100%;
            text-align: center;
            height: auto;
            padding: 15px 25%;
                img{
                    width: 100%;
                    height:40px;
                }
        }
        p{
            padding: 7px 0;
            width: 60%;
            border-bottom: 1px solid #e0e0e0;
            font-size: 8px;
            margin: 0;
            margin-left: 20%;
            color: #fff;
        }
        h5{
            width: 100%;
            height: auto;
            padding: 15px 0;
            margin: 0;
            font-size: 8px;
            color: #fff;
            text-align: center;
        }
        div{
            width: 100%;
            height: auto;
            text-align: center;
            img{
                width: 17px;
                height: 17px;
                margin: 0 5px;
            }
        }
        .zhc-fotend{
            border-top: 1px solid #b0b0b0;
            margin-top: 15px;
            padding: 15px 20%;
            width: 100%;
            height: auto;
            font-size: 7px;
            color: #fff;
            text-align: center;
        }
    }
}