@media only screen and (max-width: 750px){
    header .zhc-lg{
        display: none;
    }
    .zhc-footer{
        display: none;
    }
    header{
        width: 100%;
        height:auto;
        .zhc-conbox{
            width: 100%;
            img:first-child{
                display: none;
            }
            img:last-child{
                display: block;
                width: 100%;
            }
        }
        .navmin{
            width: 100%;
            height: 40px;
            padding: 0 24px;
            box-sizing: border-box;
            position: absolute;
            top: 40px;
            left: 0;
            display: flex;
            justify-content: space-between;
            z-index: 2;
            div{
                width: 40px;
                height: 40px;
                img{
                    height: 100%;
                }
            }
            div:last-child{
                position: relative;
                ul{
                    display: none;
                    position: absolute;
                    top: 40px;
                    right: -30px;
                    width: 150px;
                    height: auto;
                    li{
                        width: 100%;
                        height: auto;
                        padding: 6px 0;
                        box-sizing: border-box;
                        position: relative;
                        a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            &:active{
                                text-decoration: none;
                                opacity: .9;
                            }
                            h1{
                                margin: 0;
                                font-size: 16px;
                                color: #fff;
                                opacity: 0.9;
                                width: 100%;
                                height: auto;
                                font-weight: normal;
                            }
                            p{ 
                                margin: 0;
                                margin-top: 5px;
                                width: 100%;
                                height: auto;
                                color: #fff;
                                font-size: 10px;
                                font-weight: normal;
                            }
                            div{
                                width: 100%;
                                height: 4px;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                line-height: 5px;
                                img{
                                    width: 100%;
                                }
                                .active{
                                    display: none;
                                }
                            }
                        }
                        
                    }
                }
            }
            
        }
    }
    
    main{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background: #f6f6f6;
    article{
        width: 100%;
        height: 100%;
        position: relative;
        background: #fff;
        .zhc-tiao{
            display: none;
        }
        .zhc-floor1{
            width: 100%;
            height: auto;
            .zhc-biao1{
                width: 100%;
                height: auto;
                padding: 0 20%;
                padding-top: 30px;
                img{
                    width: 100%;
                }
            }
            ul{
                width: 100%;
                margin: 50px 0;
                li{
                    text-align: center;
                    margin: 10px 0;
                    img{
                        height: 100%;
                    }
                    p{
                        margin-top: 20px;
                        width: 100%;
                        height: 30px;
                        line-height: 30px;
                        color: #222;
                        font-size: 14px;
                    }
                    span{
                        font-size: 12px;
                        display: block;
                        width: 100%;
                        height: auto;
                        color: #666;
                    }
                }
            }
            
        }
        .zhc-map{
            width: 100%;
            height: auto;
            box-shadow: 0 0 20px #dad9d9;
            img{
                width: 100%;
            }
        }
        form.container{
            width: 100%;
            margin-top: 50px;
            box-sizing: border-box;
            div{
                height: 100%;
                p{
                    width: 100%;
                    height: 30px;
                    div{
                        width: 100%;
                        height: 16px;
                    }
                    input{
                        height: 100%;
                        width: 100%;
                        border: 1px solid #999;
                        padding: 0 15px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        outline: none;
                    }
                }
                button{
                    width: 40%;
                    height: 40px;
                    border-radius: 15px;
                    border: none;
                    background: none;
                    color: #fff;
                    margin: 20px 0;
                    outline: none;
                }
                button:nth-of-type(1){
                    background: #ff0000;
                    border: 2px solid #fb7c7c;
                }
                button:nth-of-type(2){
                    background: #bfbfbf;
                    border: 2px solid #e2e2e2;
                }
                textarea{
                    width: 100%;
                    height: 200px;
                    border-radius: 10px;
                    border: 1px solid #999;
                    resize: none;
                    outline: none;
                    padding: 10px;
                    box-sizing: border-box;
                }
            }
        }
        .container{
            width: 100%;
            padding: 0 98px;
            margin-top: 30px;
            padding: 12px;
            .row:first-child{
                border-top: 1px solid #101010;
            }
            .row{
                border-bottom: 1px solid #b0b0b0;
                padding: 30px 0;
                width: 100%;
                margin: 0;
                .col-lg-3{
                    float: left;
                    height: auto;
                    overflow: hidden;
                    width: 33.333%;
                    h2{
                        width: 60px;
                        height: 60px;
                        float: left;
                        margin: 0;
                        text-align: center;
                    }
                    div{
                        float: left;
                        p{
                            font-size: 20px;
                        }
                        h5{
                            font-size: 12px;
                            i{
                                font-style: normal;
                            }
                        }
                    }
                }
                .col-lg-9{
                    float: left;
                    height: auto;
                    width: 66.6666%;
                    padding: 10px 15px;
                    box-sizing: border-box;
                    font-size: 12px;
                    line-height: 24px;
                }
            }
            .zhc-gly{
                width: 100%;
                height: auto;
                padding: 15px 15px 15px 50px;
                box-sizing: border-box;
                overflow: hidden;
                border-bottom: 1px solid #999;
                div:first-child{
                    float: left;
                    width: 20%;
                    height: auto;
                    text-align: center;
                    font-weight: bold;
                }
                div:last-child{
                    float: left;
                    width: 80%;
                    height: auto;
                }
            }
        }
        .zhc-navmax{
            display: none;
            text-align: center;
            margin-top: 50px;
            .pagination{
                border-radius: 50%; 
                display: inline-block;
                li{
                    border-radius: 50%;
                    a{
                        margin: 0 5px;
                       border-radius: 50%; 
                       color: #333;
                       font-size: 18px;
                    }
                    input{
                        width:60px;
                        padding: 10px 16px;
                        font-size: 18px;
                        line-height: 1.3333;
                        border-radius: 50%; 
                        border: none;
                        border: 1px solid #ddd;
                        text-align: center;
                        outline: none;
                        color: #333;
                    }
                }
                >li:nth-last-child{
                    >a{
                        border-radius: 50%;
                        span{
                            font-size: 18px;
                        }
                    }
                }
                li:nth-child(1){
                    a{
                        border-radius: 50%;
                    }
                }
                .active a{
                    background: #fb263f;
                    border: 4px solid #ffb8b8;
                }
            }
            .pagination-lg{
                > li:last-child{
                    > a{
                        border-radius: 50%;
                    }
                }
            }  
        }
        .zhc-navmin{
            ul{
                margin-top: 50px;
            }
            a{
                color: #000;
            }
            
        }
        .zhc-coend{
            width: 100%;
            height: auto;
            text-align: center;
            padding: 0 20%;
            img{
                width: 100%;
            }
        }
    }
}

.zhc-footermin{
        height: auto;
        width: 100%;
        background: url(../img/zhc/zhc-footermin_02.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        .zhc-fotmin{
            width: 100%;
            text-align: center;
            padding: 0 35%;
            padding-top: 50px;
            height: auto;
            box-sizing: border-box;
                img{
                    width: 100%;
                }
        }
        p{
            padding: 15px 0;
            width: 60%;
            border-bottom: 1px solid #e0e0e0;
            font-size: 16px;
            margin: 0;
            margin-left: 20%;
            color: #fff;
        }
        h5{
            width: 100%;
            height: auto;
            padding: 30px 0;
            margin: 0;
            font-size: 16px;
            color: #fff;
            text-align: center;
        }
        div{
            width: 100%;
            height: auto;
            text-align: center;
            img{
                width: 34px;
                height: 34px;
                margin: 0 10px;
            }
        }
        .zhc-fotend{
            border-top: 1px solid #b0b0b0;
            margin-top: 30px;
            padding: 30px 20%;
            width: 100%;
            height: auto;
            font-size: 14px;
            color: #fff;
            text-align: center;
        }
    }
    
}
body{
    background: #f6f6f6;
}
@media only screen and (min-width: 750px){
    .zhc-footermin{
        display: none;
    }
    .navmin{
        display: none;
    }
header{
    width: 100%;
    height: auto;
    .zhc-conbox{
        width: 100%;
        height: 100%;
        img:first-child{
            width: 100%;
            display: block;
        }
        img:last-child{
            display: none;
        }
    }
    .zhc-lg{
            width: 100%;
            height: 60px;
            position: absolute;
            top: 34px;
            left: 50%;
            margin-left:-50%;
            overflow: hidden;
            .juone {
                width: 10%;
                height: 60px;
                border-radius: 0  50px 50px 0;
                background: rgba(255,255,255,0.3); 
                float: left;
            }
            .sy2 {
                width: 6%;
                height: 60px;
                float: left;
                background-image: url(../img/ly/sy.png);
                background-position: center;
                background-size: 66px 60px;
                margin-left: 2%;
                background-repeat: no-repeat;
            }
            .jutwo {
                width: 80%;
                height: 60px;
                background: rgba(255,255,255,0.3); 
                border-radius: 50px 0 0 50px;
                margin-left:2%;
                float: left;
                .active{
                    border-bottom: 4px solid #ff0000;
                    box-sizing: border-box;
                }
                img {
                    float: left;
                }
                a{
                    height:100%;
                    float:left;
                    font-size: 18px;
                    color:white;
                    padding: 0 10px;
                    line-height: 60px;
                    text-decoration: none;
                    span{
                       font-size: 18px;
                    }
                    &:hover{
                        opacity: 0.9;
                    }
                }
                .denglu{
                    width:120px;
                    height:60px;
                    margin-left:50px;
                    float:left;
                    a{
                        font-size: 16px;
                        float:left;
                        margin-top:2px;
                    }
                }
                input{
                    width:170px;
                    height:24px;
                    border-radius: 7px;
                    margin-left:20px;
                    margin-top:16px;
                    outline: none;
                    color: #fff;
                    padding-left: 10px;
                    box-sizing: border-box;
                    background: rgba(0,0,0,0);
                    border: none;
                    border: 1px solid #fff;
                }
            }
        }
}
main{
    width: 82%;
    height: auto;
    margin:0 auto;
    box-sizing: border-box;
    background: #f6f6f6;
    article{
        width: 100%;
        height: 100%;
        position: relative;
        background: #fff;
        .zhc-tiao{
            width: 100%;
            height: 40px;
            background: #fff;
            position: absolute;
            top: -40px;
            left: 0;
        }
        .zhc-floor1{
            width: 100%;
            height: auto;
            .zhc-biao1{
                width: 100%;
                text-align: center;
                padding: 0 25%;
                box-sizing: border-box;
                img{
                    width: 100%;
                }
            } 
            ul{
                width: 100%;
                margin: 50px 0;
                li{
                    margin: 10px 0;
                    text-align: center;
                    img{
                        height: 100%;
                        transition: transform 0.3s;
                    }
                    p{
                        margin-top: 20px;
                        width: 100%;
                        height: 30px;
                        line-height: 30px;
                        color: #222;
                        font-size: 14px;
                    }
                    span{
                        font-size: 12px;
                        display: block;
                        width: 100%;
                        height: auto;
                        color: #666;
                    }
                }
            }
            
        }
        .zhc-map{
            width: 100%;
            height: auto;
            box-shadow: 0 0 20px #dad9d9;
            img{
                width: 100%;
            }
        }
        form.container{
            width: 100%;
            margin-top: 50px;
            padding:0 98px;
            box-sizing: border-box;
            div{
                height: 100%;
                p{
                    width: 100%;
                    height: 30px;
                    input{
                        height: 100%;
                        width: 100%;
                        border: 1px solid #999;
                        padding: 0 15px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        outline: none;
                    }
                }
                button{
                    width: 40%;
                    height: 40px;
                    border-radius: 15px;
                    border: none;
                    background: none;
                    color: #fff;
                    margin: 20px 0;
                    outline: none;
                }
                button:nth-of-type(1){
                    background: #ff0000;
                    border: 2px solid #fb7c7c;
                }
                button:nth-of-type(2){
                    background: #bfbfbf;
                    border: 2px solid #e2e2e2;
                }
                textarea{
                    width: 100%;
                    height: 200px;
                    border-radius: 10px;
                    border: 1px solid #999;
                    resize: none;
                    outline: none;
                    padding: 10px;
                    box-sizing: border-box;
                }
            }
        }
        .container{
            width: 100%;
            padding: 0 98px;
            margin-top: 30px;
            .row:first-child{
                border-top: 1px solid #101010;
            }
            .row{
                border-bottom: 1px solid #b0b0b0;
                padding: 30px 0;
                width: 100%;
                margin: 0;
                .col-lg-3{
                    float: left;
                    height: auto;
                    overflow: hidden;
                    width: 33.333%;
                    h2{
                        width: 60px;
                        height: 60px;
                        float: left;
                        margin: 0;
                        text-align: center;
                    }
                    div{
                        float: left;
                        p{
                            font-size: 20px;
                        }
                        h5{
                            font-size: 12px;
                            i{
                                font-style: normal;
                            }
                        }
                    }
                }
                .col-lg-9{
                    float: left;
                    height: auto;
                    width: 66.6666%;
                    padding: 10px 15px;
                    box-sizing: border-box;
                    font-size: 12px;
                    line-height: 24px;
                }
            }
            .zhc-gly{
                width: 100%;
                height: auto;
                padding: 15px 0;
                padding-left: 50px;
                overflow: hidden;
                border-bottom: 1px solid #999;
                div:first-child{
                    float: left;
                    width: 20%;
                    height: auto;
                    text-align: center;
                    font-weight: bold;
                }
                div:last-child{
                    float: left;
                    width: 80%;
                    height: auto;
                }
            }
        }
        .zhc-navmin{
            display: none;
        }
        .zhc-navmax{
            text-align: center;
            margin-top: 50px;
            .pagination{
                border-radius: 50%; 
                display: inline-block;
                li{
                    border-radius: 50%;
                    a{
                        margin: 0 5px;
                       border-radius: 50%; 
                       color: #333;
                       font-size: 18px;
                    }
                    input{
                        width:60px;
                        padding: 10px 16px;
                        font-size: 18px;
                        line-height: 1.3333;
                        border-radius: 50%; 
                        border: none;
                        border: 1px solid #ddd;
                        text-align: center;
                        outline: none;
                        color: #333;
                    }
                }
                >li:nth-last-child{
                    >a{
                        border-radius: 50%;
                        span{
                            font-size: 18px;
                        }
                    }
                }
                li:nth-child(1){
                    a{
                        border-radius: 50%;
                    }
                }
                .active a{
                    background: #fb263f;
                    border: 4px solid #ffb8b8;
                }
            }
            .pagination-lg{
                > li:last-child{
                    > a{
                        border-radius: 50%;
                    }
                }
            }  
        }
        .zhc-coend{
            width: 100%;
            height: auto;
            text-align: center;
            img{
                height: auto;
                width: auto;
            }
        }
    }
}
.zhc-footer{
        width: 100%;
        height: auto;
        position: relative;
        background: url(../img/zhc/zhc-footers_07.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .zhc-fot{
            width: 100%;
            height: auto;
            padding: 30px 0;
            padding-top: 150px;
            overflow: hidden;
            text-align: center;
            img{
                height: 100%;
            }
        }
        .zhc-fots{
            width:100%;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            div:first-child{
                width: 40%;
                height: 200px;
                float: left;
                img{
                    float: left;
                    height: 120px;
                    width: 120px;
                    margin: 40px;
                }
                div{
                    float: left;
                    height: 200px;
                    width: 50%;
                    h1{
                        width: 100%;
                        margin: 0;
                        color: #fff;
                        font-size: 24px;
                        margin: 30px 0;
                    }
                    p{
                        width: 100%;
                        margin: 0;
                        color: #fff;
                        font-size: 10px;
                        margin: 20px 0;
                    }
                    img{
                        width: 34px;
                        height: 34px;
                        margin: 0;
                        margin-right: 15px;
                    }
                    
                }
            }
            div:nth-child(2){
                float: right;
                height: 200px;
                width: 45%;
                ul{
                    float: left;
                    height: 100%;
                    width: 400px;
                    li{
                        font-size: 14px;
                        color: #fff;
                        width: 100%;
                        height: auto;
                        padding: 20px 0;
                        border-bottom: 1px solid #b0b0b0;
                    }
                    li:last-child{
                        border: none;
                    }
                }
                img{
                    margin-left: 35px;
                    width: 101px;
                    height: 109px;
                    margin-top: 30px;
                }
            }
        }
        .zhc-fotss{
            width: 100%;
            height: auto;
            padding: 30px 0;
            border-top: 1px solid #fff;
            text-align: center;
            color: #fff;
        }
    }



}
@media screen and (max-width:414px){


 .zhc-footermin{
        margin-top: 5px;
        height: auto;
        width: 100%;
        background: url(../img/zhc/zhc-footermin_02.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        .zhc-fotmin{
            width: 100%;
            text-align: center;
            height: auto;
            padding: 15px 25%;
                img{
                    width: 100%;
                    height: 40px; 
                }
        }
        p{
            padding: 7px 0;
            width: 60%;
            border-bottom: 1px solid #e0e0e0;
            font-size: 8px;
            margin: 0;
            margin-left: 20%;
            color: #fff;
        }
        h5{
            width: 100%;
            height: auto;
            padding: 15px 0;
            margin: 0;
            font-size: 8px;
            color: #fff;
            text-align: center;
        }
        div{
            width: 100%;
            height: auto;
            text-align: center;
            img{
                width: 17px;
                height: 17px;
                margin: 0 5px;
            }
        }
        .zhc-fotend{
            border-top: 1px solid #b0b0b0;
            margin-top: 15px;
            padding: 15px 20%;
            width: 100%;
            height: auto;
            font-size: 7px;
            color: #fff;
            text-align: center;
        }
    }
}