body{
	background:#F2F2F2;
	overflow: hidden;
}

/*header*/
header {
  width: 100%;
  height: 2.2rem;
  background: #1D89F7;
}

header > div {
  width: 100%;
  height: 2.2rem;
  background: #1D89F7;
  text-align: center;
  position: fixed;
  z-index: 2;
}

header > div .X-left-section {
  width: 0.64rem;
  height: 0.64rem;
  float: left;
  margin-top: 0.4rem;
  margin-left: 0.24rem;
}

header > div .X-left-section a {
  display: block;
  width: 100%;
  height: 100%;
}

header > div .X-left-section a .X-header-left {
  display: block;
  width: 0.64rem;
  height: 0.64rem;
}

header > div .X-right-section {
  width: 0.64rem;
  height: 0.64rem;
  float: right;
  margin-top: 0.4rem;
  margin-right: 0.24rem;
}

header > div .X-right-section a {
  display: block;
  width: 100%;
  height: 100%;
}

header > div .X-right-section a .X-header-right {
  display: block;
  width: 0.64rem;
  height: 0.64rem;
}

header > div .X-header-medium {
  width: 7rem;
  height: 0.24rem;
  position: absolute;
  left: 0rem;
  right: 0;
  top: 1.4rem;
  margin: auto;
}

header > div .X-header-medium-two {
  width: 1.2rem;
  height: 0.36rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-two {
  width: 2.05rem;
  height: 0.28rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-three {
  width: 1.62rem;
  height: 0.24rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-four {
  width: 1.6rem;
  height: 0.25rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-five {
  width: 1.98rem;
  height: 0.26rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-six {
  width: 1.48rem;
  height: 0.24rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-seven {
  width: 1.21rem;
  height: 0.36rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-eight {
  width: 1.26rem;
  height: 0.25rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-nine {
  width: 1.63rem;
  height: 0.27rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-shop {
  width: 50%;
  height: 0.5rem;
  font-size: 18px;
  color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  top: 0.45rem;
  margin: auto;
  z-index: 1;
  text-align: center;
}


.D-nav{
	width:5.2rem;
	height:1.62rem;
	background-image: url(../img/D-img/D-comment1.png);
	background-size:100%;
	position:absolute;
	top:1.5rem;
	left:1.2rem;
	z-index:1000;
}



#wrapper {
	position: absolute;
	left:0;
	bottom:0;
	width: 100%;
	height: 10rem;
	overflow: hidden;
}
#scroller{
	position:absolute;
	width:100%;
	overflow: hidden;
}
.D-nei{
	width:7.42rem;
	height:1.66rem;
	margin-left:0.1rem;
	background-image: url(../img/D-img/D-comment2.png);
	background-size:100%;
	padding:0.1rem 0;
	box-sizing:border-box;
	position:relative;
}
.D-neitou{
	width:1.4rem;
	height:1.62rem;
	background-image: url(../img/D-img/D-comment3.png);
	background-size:100%;
	margin-left:0.1rem;
	float:left;
}
.D-neizi{
	width:5.7rem;
	height:85%;
	margin-top:0.1rem;
	float:left;
}
.D-neizi > div:first-child{
	width:100%;
	height:0.3rem;
	font-size: 0.3rem;
	color:#faa317;
}
.D-neizi > div:nth-child(2){
	width:2.69rem;
	height:0.02rem;
	margin-top:0.05rem;
	background-image: url(../img/D-img/D-comment4.png);
	background-size: 100%;
}
.D-neizi > div:nth-child(3){
	width:100%;
	height:0.3rem;
	margin-top:0.05rem;
	font-size: 0.24rem;
	color:#3b3d41;
}
.D-neizi > div:nth-child(4){
	width:100%;
	height:3rem;
	margin-top:0.05rem;
	font-size: 0.24rem;
	color:#97999e;
}
.D-hot{
	width:0.85rem;
	height:1.05rem;
	background-image: url(../img/D-img/D-comment6.png);
	background-size: 100%;
	position:absolute;
	right:0.4rem;
	top:-0.05rem;
}
.D-xing5{
	width:1.23rem;
	height:0.26rem;
	background-image: url(../img/D-img/D-xing5.png);
	background-size: 100%;
	position:absolute;
	right:0.4rem;
	bottom:0.35rem;
}
