body{
	background:#F2F2F2;
}
.D-sear{
	width:100%;
	height:100%;
	overflow: hidden;
}
/*header*/
header{
	width:100%;
	height:3.3rem;
	background:#1D89F7;
	text-align:center;
	position:relative;
}
.X-header-top{
	width:100%;
	height:0.4rem;
	display:block;
}
a.D-left1{
	display: block;
	width:0.64rem;
	width:0.64rem;
}
.X-header-left{
	width:0.64rem;
	width:0.64rem;
	float:left;
	margin-top:0.4rem;
	margin-left:0.24rem;
}
a.D-left2{
	display: block;
	width:0.64rem;
	width:0.64rem;
	float: right;
}
.X-header-right{
	width:0.64rem;
	width:0.64rem;
	float:right;
	margin-top:0.4rem;
	margin-right:0.24rem;
}
.X-header-medium{
	width:7rem;
	height:0.24rem;
	position:absolute;
	left:-0.1rem;
	right:0;
	top:1.3rem;
	margin:auto;
}
.X-header-medium-two{
	width:1.2rem;
	height:0.36rem;
	position:absolute;
	left:-0.1rem;
	right:0;
	top:1rem;
	margin:auto;
}
header > div .X-shop {
  width: 50%;
  height: 0.5rem;
  font-size: 18px;
  color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  top: 0.45rem;
  margin: auto;
  z-index: 1;
  text-align: center;
}




.H-top-box-2 {
  width: 100%;
  height: 0.7rem;
  position:absolute;
  left:0;
  top:1.65rem;
}

.H-top-main-1 {
  background-image: url("../img/H-img/head/H-top-box.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.9rem;
  width: 2.9rem;
  height: 0.62rem;
  float: left;
  margin-left: 2.3rem; }

.H-top-main-text-1 {
  background-image: url("../img/D-img/D-top-text (1).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
  width: 1.3rem;
  height: 0.5rem;
  float: left;
  margin-left: 0.08rem;
  margin-top: 0.06rem; }

.H-top-main-text-2 {
  background-image: url("../img/D-img/D-top-text (2).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.93rem;
  width: 0.93rem;
  height: 0.5rem;
  margin-top: 0.06rem;
  margin-right: 0.3rem;
  float: right; }
  
.H-search-box {
  width: 5.76rem;
  height: 0.49rem;
  border-radius: 0.3rem;
  background: #FFFFFF;
  margin: 0 auto;
  position: absolute;
  left:0.2rem;
  top:2.54rem;
  padding-top: 0.11rem; }

#H-search {
  position: absolute;
  display: block;
  width: 4.2rem;
  height: 0.36rem;
  top: 0.11rem;
  left: 0.78rem;
  border: none; }

.H-search-icon {
  position: absolute;
  width: 0.36rem;
  height: 0.36rem;
  top: 0.11rem;
  left: 0.34rem; }

.H-search-dian {
  background: url(../img/H-img/H-main-dian.png);
  background-size: 0.23rem;
  width: 0.23rem;
  height: 0.6rem;
  position: absolute;
  top: 0;
  left: 0.04rem; }

.H-search-yy {
  background: url(../img/H-img/H-yy.png);
  background-size: 0.7rem;
  width: 0.7rem;
  height: 0.36rem;
  position: absolute;
  right: 0.2rem;
  top: 0.11rem;
}
  
.D-shuji{
	background-image: url(../img/D-img/D-search-4-1.png);
	background-size:1.45rem;
	background-repeat: no-repeat;
	width: 1.45rem;
    height: 1rem;
    position: absolute;
	right: 0.08rem;
	top: 2.35rem;
}
/*标题*/
div.D-title{
	width:100%;
	height:1.04rem;
	padding:0.15rem;
	box-sizing:border-box;
	position: relative;
}
div.D-title > div:first-child{
	background-image: url(../img/D-img/D-search-4-3.png);
	background-size:1.09rem;
	width:1.09rem;
	height:0.09rem;
	margin:0 auto;
}
div.D-title > div:nth-child(2){
	font-size:0.28rem;
	color:#14181b;
	margin:0 auto;
	width:3rem;
	font-family: "微软雅黑";
}
div.D-title > div:nth-child(2) > span:nth-child(2){
	color:#35e5db;
}
div.D-title > div:nth-child(3){
	width:2rem;
	height:0.4rem;
	margin:0 auto;
}
div.D-title > div:nth-child(3) > span:nth-child(2n+1){
	display: block;
	float:left;
	width:0.02rem;
	height:0.07rem;
	background:#E0E0E0;
	margin-top:0.15rem;
}
div.D-title > div:nth-child(3) > span:nth-child(2n){
	display: block;
	float:left;
	color:#14181b;
	font-size: 0.24rem;
	margin: 0 0.1rem;
}
div.D-title > div:nth-child(4){
	width:0.76rem;
	height:0.27rem;
	background-image: url(../img/D-img/D-qingkong.png);
	background-size: 0.76rem;
	position:absolute;
	right:0.3rem;
	top:0.5rem;
}


/*搜索*/
.D-sousuo{
	width:100%;
	height:2.8rem;
	padding:0.25rem 0;
	box-sizing:border-box;
	position:relative;
}
.D-sousuo > div{
	position:absolute;
	background-size:1.46rem;
	width:1.46rem;
	height:0.6rem;
}
.D-sousuo > div:first-child{
	background-image: url(../img/D-img/D-1.png);	
	left:2.02rem;
	top:0.25rem;
}
.D-sousuo > div:nth-child(2){
	background-image: url(../img/D-img/D-2.png);	
	left:3.96rem;
	top:0.25rem;
}
.D-sousuo > div:nth-child(3){
	background-image: url(../img/D-img/D-3.png);	
	left:1.1rem;
	top:1.1rem;
}
.D-sousuo > div:nth-child(4){
	background-image: url(../img/D-img/D-4.png);	
	left:3rem;
	top:1.1rem;
}
.D-sousuo > div:nth-child(5){
	background-image: url(../img/D-img/D-5.png);	
	left:4.9rem;
	top:1.1rem;
}
.D-sousuo > div:nth-child(6){
	background-image: url(../img/D-img/D-6.png);	
	left:2.02rem;
	top:1.85rem;
}
.D-sousuo > div:nth-child(7){
	background-image: url(../img/D-img/D-7.png);	
	left:3.96rem;
	top:1.85rem;
}



.swiper-container {
    width: 100%;
    height: 4.3rem;
    overflow: hidden;
    position:relative;
}
.swiper-container > .swiper-wrapper {
    width: 400%;
    height: 92%;
}
.swiper-container > .swiper-wrapper > .swiper-slide{
    width: 100%;
    height: 100%;
    float:left;
}
/*.swiper-pagination{
	width:1.6rem;
	height:0.2rem;
	background:red;
	margin:0 auto;
}
.swiper-pagination-bullet{
	width:0.1rem;
	height:0.1rem;
	border-radius: 50%;
	background:#B9D5F3;
	margin-right:0.07rem;
}*/
.H-like-book-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 0.1rem;
  margin:0.1rem 0; 
}

.H-like-book-1, .H-like-book-2, .H-like-book-3 {
  background-image: url("../img/H-img/H-book-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.21rem;
  width: 2.21rem;
  height: 3.57rem;
  float: left;
  margin-left: 0.24rem; }

.H-like-book-2 {
  background-image: url(../img/H-img/H-book-2.png);
  margin-left: 0.2rem; }

.H-like-book-3 {
  background-image: url(../img/H-img/H-book-3.png);
  margin-left: 0.2rem; }
  


.H-renqi-main-box {
  width: 7.02rem;
  height: 1.5rem;
  background-color: #FFFFFF;
  margin: 0 auto;
  border-radius: 0.04rem;
  margin-top: 0.12rem;
  position: relative;
}

.H-renqi-main-box .H-renqi-img-1 {
  width: 0.8rem;
  float: left;
  margin-left: 0.24rem;
  margin-top: 0.19rem;
}

.H-renqi-titleBox {
  width: 3rem;
  height: 0.6rem;
  float: left;
  position: relative;
}

.H-renqi-titleBox .title-1 {
  display: block;
  font-size: 0.28rem;
  font-weight: bold;
  color: #2c3840;
  float: left;
  margin-left: 0.14rem;
  margin-top: 0.04rem;
}

.H-renqi-titleBox .title-2 {
  display: block;
  font-size: 0.2rem;
  font-weight: bold;
  float: left;
  color: #39abf9;
  margin-left: 0.1rem;
  margin-top: 0.1rem;
}

.H-renqi-titleBox .title-3 {
  display: block;
  position: absolute;
  width: 0.57rem;
  height: 0.03rem;
  background-image: url(../img/H-img/H-diandian.png);
  background-size: 0.57rem;
  background-repeat: no-repeat;
  top: 0.46rem;
  left: 0.2rem;
}

.H-renqi-data {
  width: 3.04rem;
  height: 0.56rem;
  float: left;
}

.H-renqi-data .H-renqi-img-2 {
  float: left;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-top: 0.02rem;
  margin-left: 0.2rem;
}

.H-renqi-data .H-renqi-data-1 {
  font-size: 0.24rem;
  width: 1.16rem;
  height: auto;
  float: left;
  margin-left: 0.2rem;
}

.H-renqi-data .H-renqi-data-img {
  background: url(../img/H-img/H-renqi-data.png);
  width: 2.35rem;
  height: 0.17rem;
  background-size: 2.35rem;
  float: left;
  margin-left: 0.9rem;
  margin-top: -0.1rem;
}

.H-renqi-hot {
  width: 0.83rem;
  height: 1.03rem;
  background: url(../img/H-img/H-hot.png);
  background-size: 0.83rem;
  position: absolute;
  right: 0.2rem;
  top: -0.16rem;
}



/*语音*/
.D-zhao{
	width:100%;
	height:100%;
	overflow: hidden;
	background:rgba(0,0,0,0.5);
	position:absolute;
	top:0;
	left:0;
	display: none;
	z-index:1000;
}
.D-zhaobox{
	width:7.51rem;
	height:7.78rem;
	background-image: url(../img/D-img/D-yuyin1.png);
	background-size:100%;
	position:absolute;
	bottom:0;
	left:0;
}
.D-zhaobox .W-talk-voice{
	height:5rem;
	margin-top:1.06rem;

}
.D-zhaobox .W-talk-voice>p:first-child{
	font-size:0.4rem;
	color:#fff;
	text-align: center;	
}
.D-zhaobox .W-talk-voice>p:nth-child(2),.W-talk-voice>p:nth-child(3){
	font-size:0.36rem;
	color:rgba(255,255,255,0.6);
	text-align: center;
}
.D-zhaobox .W-talk-voice > div.D-zhaoimg{
	width:5.78rem;
	height:0.25rem;
	margin:1.6rem 0 1.1rem 0.85rem;
	background-image: url(../img/D-img/D-yuyin2.png);
	background-size:100%;

}
.D-zhaobox .W-talk-voice > div.D-zhaoimg1{
	width:5.77rem;
	height:2.53rem;
	margin:0.19rem 0 0.3rem 0.85rem;
	background-image: url(../img/D-img/D-yuyin3.png);
	background-size:100%;
	display: none;
	
}
.D-zhaobox .W-talk-voice>p:last-of-type{
	font-size:0.34rem;
	color:#fff;
	text-align: center;	
}
.D-zhaobox .W-talk-voice>div.D-zhaoimg2{
	width:7.49rem;
	height:1.11rem;
	margin-top:0.2rem;
	background-image: url(../img/D-img/D-yuyin4.png);
	background-size:100%;
	
}
.D-zhaobox .W-talk-voice>div.D-zhaoimg3{
	width:7.49rem;
	height:1.11rem;
	margin-top:0.2rem;
	background-image: url(../img/D-img/D-yuyin5.png);
	background-size:100%;
	display: none;
}
.D-zhaobox .D-x{
	width:0.25rem;
	height:0.25rem;
	background-image: url(../img/D-img/D-yuyin8.png);
	background-size:100%;
	position:absolute;
	top:0.2rem;
	left:50%;
	margin-left:-0.125rem;
	z-index:1000;
}
.D-zhaobox1{
	width:7.70rem;
	height:8.62rem;
	background-image: url(../img/D-img/D-yuyin7.png);
	background-size:100%;
	background-position:-0.13rem 0rem;
	position:absolute;
	bottom:0;
	left:0;
	display: none;
}
.D-zhaobox1 .W-talk-voice{
	height:5rem;
	margin-top:2rem;

}
.D-zhaobox1 .D-x{
	width:0.25rem;
	height:0.25rem;
	background-image: url(../img/D-img/D-yuyin8.png);
	background-size:100%;
	position:absolute;
	top:1rem;
	left:50%;
	margin-left:-0.2rem;
	z-index:1000;
}
.D-zhaobox1 .W-talk-voice>p:first-child,.D-zhaobox1 .W-talk-voice>p:nth-child(2){
	font-size:0.4rem;
	color:#fff;
	text-align: center;	
}
.D-zhaobox1 .W-talk-voice > div.D-zhaoimg{
	width:5.01rem;
	height:2.96rem;
	margin:0 0 0 0.85rem;
	background-image: url(../img/D-img/D-yuyin12.gif);
	background-size:100%;

}
.D-zhaobox1 .W-talk-voice>div.D-zhaoimg2{
	width:4.13rem;
	height:0.89rem;
	margin-top:0.2rem;
	margin-left:1.6rem;
	background-image: url(../img/D-img/D-yuyin11.png);
	background-size:100%;
	
}
.D-zhaobox1 .W-talk-voice>div.D-zhaoimg3{
	width:4.13rem;
	height:0.89rem;
	margin-top:0.2rem;
	margin-left:1.6rem;
	background-image: url(../img/D-img/D-yuyin10.png);
	background-size:100%;
}