html,body{
	width:100%;
	height:100%;
}
body {
  background: #F2F2F2;
  font-weight: normal;
  font-family: "苹方";
  position:relative;
}
header {
  width: 100%;
  height: 2.2rem;
  background: #1D89F7;
  text-align: center;
  z-index:1;
  position:absolute;
  left:0;
  top:0;
}
header>div>a{
  width: 0.64rem;
  height: 0.64rem;
  float: left;
  margin-top: 0.4rem;
  margin-left: 0.24rem;
}
header>div>a>img{
	display:block;
	width:100%;
	height:100%;
}
header>div>span{
  display:block;
  font-size: 18px;
  color:#FFF;
  position:absolute;
  left:3rem;
  width:auto;
  top: 0.45rem;
}

header>div>img:nth-child(3){
  width: 7rem;
  height: 0.24rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 1.4rem;
  margin: auto;
}

header>div>img:nth-child(4){
  width: 1.2rem;
  height: 0.36rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}
ul{
	width:7rem;
	height:11.5rem;
	background:#fff;
	margin:0 auto;
	position:absolute;
	top:1.8rem;
	left:0.25rem;
	z-index:2;
	box-sizing:border-box;
	padding:30px 20px;
}
ul>li:first-child{
	width:5.1rem;
	height:0.49rem;
	margin:0 auto;
}
ul>li:first-child>div:first-child{
	width:1.4rem;
	height:0.49rem;
	float:left;
}
ul>li:first-child>div:first-child>img{
	height:100%;
	display:block;
}
ul>li:first-child>div:nth-child(2){
	width:3.7rem;
	height:0.49rem;
	float:left;
}
ul>li:first-child>div:nth-child(2)>input{
	width:3.7rem;
	height:0.49rem;
	border:0;
	display:block;
	outline:thin;
}
ul>li:nth-child(2){
	height:1px;
	width:100%;
	margin:0.5rem auto;
	background:#E4E4E4;
	
}
ul>li:nth-child(3){
	height:0.61rem;
	width:100%;
	margin:15px auto;
}
ul>li:nth-child(3)>div:first-child{
	height:0.61rem;
	width:1.99rem;
	float:left;
	margin-left:0.5rem;
}
ul>li:nth-child(3)>div:first-child>img{
	width:100%;
	height:100%;
	display:block;
}
ul>li:nth-child(3)>div:nth-child(2){
	height:0.61rem;
	width:1.99rem;
	float:left;
	margin-left:30px;
}
ul>li:nth-child(3)>div:nth-child(2)>input{
	width:100%;
	height:100%;
	border:0;
	display:block;
	outline:thin;
}



ul>li:last-child{
	position:absolute;
	left:0;
	bottom:0.6rem;
	width:100%;
	height:0.8rem;
}
ul>li:last-child>img{
	width:3.32rem;
	height:0.8rem;
	display:block;
	margin:0 auto;
}
