*{
	padding: 0;
	margin: 0;
	list-style: none;
}

body{
	background: #F2F2F2;

}
a{
	display: block;
	width:100%;
	height:auto;
}
/*X-header*/
header {
  width: 100%;
  height: 2.2rem;
  background: #1D89F7;
}

header > div {
  width: 100%;
  height: 2.2rem;
  background: #1D89F7;
  text-align: center;
  position: fixed;
  z-index: 2;
}

header > div .X-left-section {
  width: 0.64rem;
  height: 0.64rem;
  float: left;
  margin-top: 0.4rem;
  margin-left: 0.24rem;
}

header > div .X-left-section a {
  display: block;
  width: 100%;
  height: 100%;
}

header > div .X-left-section a .X-header-left {
  display: block;
  width: 0.64rem;
  height: 0.64rem;
}

header > div .X-right-section {
  width: 0.64rem;
  height: 0.64rem;
  float: right;
  margin-top: 0.4rem;
  margin-right: 0.24rem;
}

header > div .X-right-section a {
  display: block;
  width: 100%;
  height: 100%;
}

header > div .X-right-section a .X-header-right {
  display: block;
  width: 0.64rem;
  height: 0.64rem;
}

header > div .X-header-medium {
  width: 7rem;
  height: 0.24rem;
  position: absolute;
  left: 0rem;
  right: 0;
  top: 1.4rem;
  margin: auto;
}

header > div .X-header-medium-two {
  width: 1.2rem;
  height: 0.36rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-two {
  width: 2.05rem;
  height: 0.28rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-three {
  width: 1.62rem;
  height: 0.24rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-four {
  width: 1.6rem;
  height: 0.25rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-five {
  width: 1.98rem;
  height: 0.26rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-six {
  width: 1.48rem;
  height: 0.24rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-seven {
  width: 1.21rem;
  height: 0.36rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-eight {
  width: 1.26rem;
  height: 0.25rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-header-medium-two-nine {
  width: 1.63rem;
  height: 0.27rem;
  position: absolute;
  left: -0.1rem;
  right: 0;
  top: 0.9rem;
  margin: auto;
}

header > div .X-shop {
  width: 50%;
  height: 0.5rem;
  font-size: 18px;
  color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  top: 0.45rem;
  margin: auto;
  z-index: 1;
  text-align: center;
}


/*3个条*/
.W-box{
	width:auto;
	height:5.5rem;
	/*background: pink;*/
	margin:0 0.24rem;
	box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 1.9rem;
    z-index: 33;
	

}
.W-tiao{
	width:100%;
	height:1rem;
	margin-bottom: 0.12rem;
	border-radius: 0.11rem;
	background:#fff;
	box-shadow:0 0.05rem 0.15rem 0 #D6D6D6;
}
.W-img1{
	width:0.7rem;
	float:left;
	margin-top:0.05rem;

}
.W-fontbox{
	width:5.8rem;
	height:1rem;
	float: left;
	
}
.W-font1{
	width: auto;
	height: auto;
}
.W-font1>p{
	font-size:0.2rem;
	margin-top:0.15rem;
	margin-bottom: 0;
	color: #666666;
	margin-bottom: 0.07rem;
}
.W-dian{
	height:0.03rem;
	margin-top: -0.04rem;
	display: block;

}
.W-font2{
	width: auto;
	height: auto;
	margin-top: -0.04rem;
	
}
.W-font2>p{
	font-size:0.12rem;
	color: #979797;
	margin-bottom: 0.05rem;
}
.W-img2-a{
	width: 0.28rem;
	/*height:100%;*/
	float: left;
	margin-top: 0.35rem;
	margin-right: 0.2rem;
	margin-bottom: 0.35rem;
	
}

.W-img2{
	width: 0.28rem;
	display: block;
}