@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none; }

@font-face {
  font-family: 'iconfont';
  src: url("../iconfont/font/iconfont.eot");
  src: url("../iconfont/font/iconfont.eot?#iefix") format("embedded-opentype"), url("../iconfont/font/iconfont.woff") format("woff"), url("../iconfont/font/iconfont.ttf") format("truetype"), url("../iconfont/font/iconfont.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

/*大屏*/
/*顶部*/
.header {
  width: 100%;
  height: auto;
  background: #fff; }

/*topbar*/
.jl-topbar {
  width: 100%;
  height: 75px;
  background: rgba(152, 167, 164, 0.8); }

.jl-nav {
  height: 100%;
  display: flex;
  align-items: center; }

.jl-logo {
  padding: 0; }
  .jl-logo a {
    font-size: 24px;
    font-family: "楷体";
    color: #fff; }

.jl-menu {
  display: flex;
  justify-content: space-between; }
  .jl-menu a {
    font-size: 16px;
    color: #fff;
    position: relative;
    display: block;
    height: 100%;
    line-height: 75px; }
    .jl-menu a:hover {
      color: #1B6D85; }

/*topbanner*/
.jl-topbanner {
  width: 100%;
  background: #fff;
  position: relative; }
  .jl-topbanner a {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff; }
    .jl-topbanner a img {
      display: block; }
  .jl-topbanner a:first-of-type {
    opacity: 1; }

/*topbanner-spots*/
.jl-topbanner-spots {
  width: 70px;
  height: 10px;
  position: absolute;
  bottom: 20%;
  right: 20%;
  display: flex;
  z-index: 100;
  justify-content: space-around; }
  .jl-topbanner-spots div {
    width: 10px;
    height: 100%;
    border-radius: 10px;
    background: #a2a2a2; }
  .jl-topbanner-spots .jl-spotshow {
    width: 20px;
    background: #7a7a7a; }

a:hover {
  text-decoration: none; }

/*footer*/
.jl-footer {
  width: 100%;
  height: 80px;
  background: #879b9b; }

.jl-footerbar {
  padding-top: 30px;
  display: flex;
  justify-content: center; }
  .jl-footerbar span {
    color: #fff; }
  .jl-footerbar a {
    display: inline-block;
    padding: 0 5px;
    color: #fff; }
    .jl-footerbar a:hover {
      color: #23527C;
      text-decoration: underline; }

.jl-eori {
  color: #fff;
  text-align: center; }

/*选中nav类*/
.jl-checkedr {
  width: 36px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  bottom: 10px;
  left: 9px; }

.jl-checkedc {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  bottom: 10px;
  right: 9px; }

/*小屏*/
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

body {
  width: 100%;
  height: 100%;
  overflow: auto; }

.xheader {
  width: 100%;
  height: 60px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000000; }

.xcontent {
  margin-top: 60px;
  position: relative;
  background: #F0EFEB; }

.jlx-topbar {
  width: 100%;
  height: 60px;
  background: #90a09c;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .jlx-topbar input {
    width: 80%;
    height: 36px;
    position: relative;
    border-radius: 5px;
    border: none;
    background: #90a09c;
    border: 1px solid #7E8985;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff; }
  .jlx-topbar a {
    color: #fff;
    font-size: 30px; }
  .jlx-topbar .jlx-search {
    position: absolute;
    top: 0;
    left: 0; }

.jlx-title {
  width: 100%;
  height: 200px;
  background: #f0efeb;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box; }
  .jlx-title span {
    font-size: 30px;
    color: #8f939d; }
  .jlx-title span:last-of-type {
    font-weight: bold; }
  .jlx-title a {
    display: block;
    color: #8e909b;
    font-size: 36px; }
  .jlx-title a:last-of-type {
    font-size: 36px;
    font-family: '楷体'; }

/*jlx-menu*/
.jlx-nav {
  width: 100%;
  height: 120px;
  border: 1px solid #888888;
  background: #fff;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0; }
  .jlx-nav .jlx-menu {
    text-align: center;
    line-height: 58px;
    margin: 0; }
    .jlx-nav .jlx-menu a {
      color: #5b5b5b;
      border: 1px solid #888888;
      padding: 0;
      font-size: 16px; }

/*jlx-topbanner*/
.jlx-topbanner {
  padding: 0;
  width: 100%;
  background: #fff;
  position: relative; }
  .jlx-topbanner a {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff; }
    .jlx-topbanner a img {
      display: block; }
  .jlx-topbanner a:first-of-type {
    opacity: 1; }

/*jlx-topbanner-spots*/
.jlx-topbanner-spots {
  width: 70px;
  height: 10px;
  position: absolute;
  bottom: 20%;
  right: 20%;
  display: flex;
  z-index: 100;
  justify-content: space-around; }
  .jlx-topbanner-spots div {
    width: 10px;
    height: 100%;
    border-radius: 10px;
    background: #a2a2a2; }
  .jlx-topbanner-spots .jlx-spotshow {
    width: 20px;
    background: #7a7a7a; }

a:hover {
  text-decoration: none; }

/*jlxfooter*/
.jlx-footer {
  width: 100%;
  background: #879b9b;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px; }

.jlx-footerbar {
  text-align: center; }
  .jlx-footerbar span {
    font-size: 10px;
    color: #fff; }
  .jlx-footerbar span:first-of-type {
    display: block; }
  .jlx-footerbar a {
    display: inline-block;
    padding: 0 5px;
    color: #fff;
    font-size: 10px; }

.jlx-eori {
  width: 100%; }
  .jlx-eori p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    color: #fff;
    font-size: 10px; }
