@charset "UTF-8";
* {
  font-family: "微软雅黑";
}

.q-reserve {
  background: #fff;
}

.q-reserve .q-re-head {
  margin-top: 20px;
}

.q-reserve .q-re-head img {
  width: 300px;
  margin-bottom: .2rem;
}

.q-reserve .q-rebtn button {
  width: 2.58rem;
  height: .7rem;
  border-radius: .5rem;
  font-size: .3rem;
  box-shadow: .1rem .1rem .1rem #999;
  transition: all .5s;
  outline: none;
}

p.q-shishang {
  text-align: center;
  margin-top: .2rem;
  color: #8a7f7f;
  padding: .4rem 0 .6rem;
  height: auto;
  background: url(../img/q-yuding-shadow.png) no-repeat bottom;
}

p.q-shishang span {
  color: #06897c;
  font-weight: bold;
}

.q-room1 {
  margin-bottom: 1.8rem;
}

.q-room1 > div {
  position: relative;
}

.q-room1 > div:hover .q-money {
  opacity: 1;
  transform: rotateX(0deg);
}

.q-room1 > div .q-room-s1 {
  width: 1.5rem  !important;
  position: absolute;
  top: -0.8rem;
  right: 0;
  z-index: 999;
  right: 0;
  width: 2.18rem;
}

.q-room1 > div:nth-child(2) .q-box {
  background: url(../img/q-room2.png) 0 -0.12rem;
  background-size: 100%;
}

.q-room1 > div:nth-child(3) .q-box {
  background: url(../img/q-room3.png) 0 -0.1rem;
  background-size: 100%;
}

.q-room1 > div:nth-child(4) .q-box {
  background: url(../img/q-room4.png) 0 -0.1rem;
  background-size: 100%;
}

.q-room1 .q-box {
  width: 2.4rem;
  height: 2.85rem;
  border-radius: .08rem;
  border: 1px solid #aaa;
  background: url(../img/q-room1.png) 0 -0.12rem;
  background-size: 100%;
  position: relative;
  perspective: 2000px;
}

.q-money {
  position: absolute;
  opacity: 0;
  transform-origin: center top;
  transform: rotateX(90deg);
  transition: opacity .3s,transform .3s;
  text-align: center;
  bottom: 0;
  left: 0;
  border-radius: .07rem !important;
  background: #4bc460;
  color: #e3f4e5;
  font-size: .13rem;
  cursor: pointer;
}

.q-money p:nth-child(1) {
  margin-top: .4rem;
}

.q-money span {
  font-size: .18rem !important;
}

@media screen and (max-width: 768px) {
  .q-reserve .q-re-head img {
    width: 3.14rem;
  }
  .q-room1 > div {
    margin-bottom: 1rem;
  }
  .q-room1 > div > div {
    margin: auto;
  }
  .q-money {
    width: 100%;
    height: 100%;
  }
  .q-money p {
    font-size: 6px;
  }
  .q-money p span {
    font-size: 13px !important;
  }
}

@media screen and (min-width: 768px) {
  .q-room1 > div {
    position: relative;
  }
  .q-room1 > div .q-room-s1 {
    width: .7rem !important;
    position: absolute;
    top: -0.4rem;
    right: 0;
    width: 1rem;
    z-index: 999;
  }
  .q-money {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: .05rem;
    border-radius: 8px !important;
  }
  .q-money span {
    font-size: .1rem !important;
  }
  .q-rebtn button {
    width: 1.2rem !important;
    height: .3rem !important;
    font-size: .1rem !important;
    box-shadow: .05rem .05rem .05rem #999 !important;
  }
  .q-box {
    width: 170px !important;
    height: 200px !important;
    border-radius: 10px;
  }
  p.q-shishang {
    font-size: .1rem !important;
  }
}

.q-facility .q-f-box {
  height: 12rem;
  padding: .3rem .2rem;
  background: #d6e3e2;
}

.q-facility .q-f-box .q-f-sbox {
  width: 100%;
  height: 3.82rem;
  cursor: pointer;
}

.q-facility .q-f-box .q-f-sbox .q-f-ssbox {
  padding: .1rem;
  height: 100%;
}

.q-facility .q-f-box .q-f-sbox .q-f-ssbox img {
  height: 100%;
  width: 100%;
}

.q-facility .q-f-box .q-f-sbox .q-f-ssbox h3 {
  margin: 0;
  font-size: .3rem;
}

.q-facility .q-f-box .q-f-sbox .q-f-ssbox h4 {
  font-size: .18rem;
  line-height: .3rem;
  padding-top: .5rem;
}

.q-facility .q-f-box .q-f-sbox .q-f-ssbox span {
  font-size: .18rem;
  cursor: pointer;
  animation: move 1s linear infinite;
}

@keyframes move {
  0% {
    transform: translateY(-0.1rem);
  }
  50% {
    transform: translateY(0.1rem);
  }
  100% {
    transform: translateY(-0.1rem);
  }
}

.q-facility .q-f-box .q-f-sbox:nth-child(1) .q-f-ssbox:nth-child(1) {
  background: #fff;
}

.q-facility .q-f-box .q-f-sbox:nth-child(2) .q-f-ssbox:nth-child(2) {
  background: #fff;
  transform: scale(1.3);
  z-index: 999;
  position: relative;
}

.q-facility .q-f-box .q-f-sbox:nth-child(2) .q-f-ssbox:nth-child(1) {
  background: #06897c;
  transform: translateX(-0.3rem);
  color: #fff;
  position: relative;
  z-index: 2;
}

.q-facility .q-f-box .q-f-sbox:nth-child(3) .q-f-ssbox:nth-child(1) {
  background: #fff;
  transform: translateY(-0.1rem) scale(1.1);
  position: relative;
  z-index: 1;
}

.q-facility .q-f-box .q-f-sbox:nth-child(3) .q-f-ssbox:nth-child(2) {
  padding-left: .3rem;
}

.q-facility .q-f-box .q-f-sbox:nth-child(3) .q-f-ssbox:nth-child(2) h3:first-child {
  margin-top: .6rem;
}

@media screen and (min-width: 768px) {
  .q-facility .q-f-box {
    height: 6.4rem;
    padding: .15rem .08rem;
  }
  .q-facility .q-f-box .q-f-sbox {
    height: 2.1rem;
    cursor: pointer;
  }
  .q-facility .q-f-box .q-f-sbox:nth-child(1) .q-f-ssbox:nth-child(1) {
    background: #fff;
  }
  .q-facility .q-f-box .q-f-sbox h3 {
    margin: 0;
    font-size: .18rem !important;
  }
  .q-facility .q-f-box .q-f-sbox h4 {
    font-size: .1rem !important;
    line-height: .18rem !important;
    padding-top: .2rem !important;
    padding-bottom: .2rem;
  }
  .q-facility .q-f-box .q-f-sbox span {
    font-size: .12rem !important;
  }
  .q-facility .q-f-box .q-f-sbox:nth-child(2) .q-f-ssbox:nth-child(2) {
    background: #fff;
    transform: scaleX(1.4) scaleY(1.2);
    z-index: 999;
    position: relative;
  }
  .q-facility .q-f-box .q-f-sbox:nth-child(2) .q-f-ssbox:nth-child(1) {
    background: #06897c;
    transform: translateX(-0.3rem);
    color: #fff;
    padding-right: .3rem;
    position: relative;
    z-index: 2;
  }
  .q-facility .q-f-box .q-f-sbox:nth-child(3) .q-f-ssbox:nth-child(1) {
    background: #fff;
    transform: translateY(-0.2rem) scale(1);
    position: relative;
    z-index: 1;
  }
  .q-facility .q-f-box .q-f-sbox:nth-child(3) .q-f-ssbox:nth-child(2) {
    padding-left: .1rem;
  }
  .q-facility .q-f-box .q-f-sbox:nth-child(3) .q-f-ssbox:nth-child(2) h3:first-child {
    margin-top: .2rem;
  }
}

.q-ban {
  height: 3rem;
}

.q-ban .q-ban1 {
  height: 100%;
  overflow: hidden;
}

.q-ban .q-ban1 .q-img {
  width: 4.06rem;
  height: 1.6rem;
  padding: 0 .2rem;
  background: #fff;
  position: absolute;
  transition: transform .5s;
  z-index: 3;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: url(../img/q-gsimg.png) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.q-ban .q-ban1 .q-img img {
  width: 1.8rem;
  position: absolute;
  top: -.1rem;
  left: .1rem;
}

.q-ban .q-ban1 .q-img p {
  font-size: .12rem;
  color: #8C8C8C;
}

.q-ban .q-ban1 .q-img p:nth-child(2) {
  margin: 0;
  font-weight: 500;
}

.q-ban #q-active-r {
  border: 1px solid #333;
  transform: scale(1.1);
}

.q-ban .q-left {
  height: 100%;
  line-height: 3rem;
  color: #ccc;
  cursor: pointer;
  font-family: '宋体';
  font-size: .5rem;
}

.q-ban .q-right {
  height: 100%;
  line-height: 3rem;
  color: #ccc;
  cursor: pointer;
  font-family: '宋体';
  font-size: .5rem;
}

.q-ban .q-green {
  width: 50%;
  height: .07rem;
  background: #4bc460;
  position: absolute;
  bottom: -.07rem;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .q-right {
    margin-left: -.2rem;
  }
}

@media screen and (min-width: 768px) {
  .q-ban {
    height: 2.2rem;
  }
  .q-ban .q-ban1 {
    height: 100%;
    overflow: hidden;
  }
  .q-ban .q-ban1 .img {
    width: 2.06rem;
    height: 0.8rem;
  }
}

.q-ban-b {
  height: 1.5rem;
  overflow: hidden;
}

.q-ban-b .q-bleft {
  height: 100%;
  line-height: 3rem;
  color: #ccc;
  cursor: pointer;
  font-family: '宋体';
  font-size: .5rem;
  line-height: 1.5rem;
  font-size: .2rem;
}

.q-ban-b .q-bright {
  height: 100%;
  line-height: 3rem;
  color: #ccc;
  cursor: pointer;
  font-family: '宋体';
  font-size: .5rem;
  line-height: 1.5rem;
  font-size: .2rem;
}

.q-ban-b .q-b-box {
  height: 100%;
  padding: .2rem;
  box-sizing: border-box;
  position: relative;
}

.q-ban-b .q-b-box .q-img-b {
  height: 1rem;
  box-sizing: border-box;
  padding: 0 .1rem;
  background: #fff;
  cursor: pointer;
  transition: all .5s;
  border: 1px solid #ccc;
  position: relative;
}

.q-ban-b .q-b-box .q-img-b img {
  width: 1.2rem;
  position: absolute;
  top: -.1rem;
  left: .1rem;
}

.q-ban-b .q-b-box .q-img-b h3 {
  font-size: .13rem;
}

.q-ban-b .q-b-box .q-img-b p {
  font-size: .06rem;
  color: #8C8C8C;
}

.q-ban-b .q-b-box .q-img-b p:nth-child(2) {
  margin: 0;
  font-weight: 500;
}

.q-ban-b .q-b-box .q-img-b .q-green {
  width: 50%;
  height: .04rem;
  background: #4bc460;
  position: absolute;
  bottom: -.04rem;
  opacity: 0;
  z-index: 0;
}

.q-ban-b .q-b-box #q-img-b-active {
  border: 1px solid #333;
  transform: scale(1.1);
}

.q-ban-b .q-b-box #q-img-b-active .q-green {
  opacity: 1;
}

.q-about-top img {
  margin-bottom: .5rem;
}

.q-about-top h3, .q-about-top h4, .q-about-top p, .q-about-top button {
  margin-left: .15rem;
}

.q-about-top h3 {
  font-weight: bold;
  font-size: .32rem;
}

.q-about-top h4 {
  font-weight: bold;
  width: 20%;
  line-height: .5rem;
  font-size: .28rem;
  border-bottom: .02rem solid #4cafa5;
}

.q-about-top p.q-one {
  font-size: .28rem;
  color: #333;
}

.q-about-top p.q-p {
  font-size: .2rem;
  color: #999;
  word-break: break-all;
}

.q-about-top p.last {
  padding-bottom: .5rem;
}

.q-about-top button {
  width: 2.22rem;
  height: .68rem;
  border-radius: .1rem;
  font-size: .22rem;
  color: #888;
  margin-bottom: .8rem;
  transition: all .3s;
}

.q-about-top button:hover {
  background: #06897c;
  color: #fff;
}

.q-about-topn {
  height: 3.17rem;
  position: relative;
}

.q-about-topn .q-about-font {
  background: #3ea99e;
  transform: translateX(0.2rem) translateY(0.346rem);
}

.q-about-topn .q-about-font img {
  margin-bottom: .2rem;
}

.q-about-topn .q-about-font h3, .q-about-topn .q-about-font h4, .q-about-topn .q-about-font p {
  margin-left: .1rem;
  color: #fff;
}

.q-about-topn .q-about-font h3 {
  font-weight: bold;
  font-size: .25rem;
}

.q-about-topn .q-about-font h4 {
  font-weight: bold;
  width: 20%;
  font-size: .2rem;
}

.q-about-topn .q-about-font p.q-one {
  font-size: .2rem;
  color: #fff;
}

.q-about-topn .q-about-font p.q-p {
  width: 60%;
  font-size: .1rem;
  color: #eee;
  word-break: break-all;
}

.q-about-topn .q-one-img-1 {
  transform: translateX(3rem) translateY(-1.19rem);
  margin-bottom: .6rem;
}

.q-about p.q-shishang {
  height: auto;
  font-size: .1rem !important;
}

@media screen and (max-width: 768px) {
  .q-c-box {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .q-c-box {
    margin-top: 1.4rem;
  }
}

.q-c-box {
  background: #06897c;
  margin-top: 0rem;
}

.q-c-box .q-c-boxs {
  height: 2.19rem;
  border-bottom: 1px dashed #898989;
  text-align: center;
}

.q-c-box .q-c-boxs:nth-child(1) {
  height: 2.89rem;
}

.q-c-box .q-c-boxs p {
  color: #c2cdcb;
}

.q-c-box .q-erWei {
  background: #06897c;
  padding: 0 .3rem;
  color: #c6cfce;
}

.q-c-box .q-erWei img {
  display: block;
  width: 1rem;
  margin: auto;
}

.q-c-box .q-input {
  padding: 0 .3rem .4rem;
}

.q-c-box .q-input h3 {
  color: #c4cecd;
  letter-spacing: 10px;
}

.q-c-box .q-input input {
  display: block;
  border: 1px solid #61a69f;
  background: #06897c;
  color: #c4cecd;
  outline: none;
  margin: .4rem 0;
  width: 100%;
  height: .54rem;
  outline-color: #ccc;
}

.q-c-box .q-input textarea {
  display: block;
  border: 1px solid #61a69f;
  background: #06897c;
  color: #c4cecd;
  outline: none;
  margin: .4rem 0;
  width: 100%;
  height: 1.81rem;
  padding-top: .1rem;
  resize: none;
}

.q-c-box .q-input button {
  display: block;
  border: 1px solid #61a69f;
  background: #06897c;
  color: #c4cecd;
  outline: none;
  margin: .4rem 0;
  width: 2.2rem;
  height: .7rem;
  margin: auto;
  text-indent: 0;
  letter-spacing: 5px;
  font-size: .18rem;
  transition: all .3s ease;
}

.q-c-box .q-input button:hover {
  background: #fff;
  color: #06897c;
}

.q-cB-box {
  width: 100%;
  height: auto;
  background: #06897c;
  text-align: center;
  padding: .3rem 0 .1rem;
  overflow: hidden;
}

.q-cB-box span {
  display: block;
  padding-bottom: .05rem;
}

.q-cB-box .q-erWei {
  color: #c6cfce;
  text-align: left;
  position: relative;
}

.q-cB-box .q-erWei img {
  display: block;
  width: .24rem;
  position: absolute;
  right: .1rem;
}

.q-cB-box .q-input h3 {
  color: #c4cecd;
  letter-spacing: 10px;
}

.q-cB-box .q-input input {
  display: block;
  border: 1px solid #61a69f;
  background: #06897c;
  color: #c4cecd;
  outline: none;
  margin: .4rem 0;
  height: .18rem;
  font-size: .06rem;
  text-indent: 0;
  margin: .1rem .08rem .01rem;
  box-sizing: border-box;
}

.q-cB-box .q-input input:nth-child(3) {
  margin: .1rem .08rem .1rem;
}

.q-cB-box .q-input textarea {
  display: block;
  border: 1px solid #61a69f;
  background: #06897c;
  color: #c4cecd;
  outline: none;
  margin: .4rem 0;
  height: .6rem;
  margin: 0 .08rem 0;
  resize: none;
  padding-top: .04rem;
  text-indent: 0;
  margin-bottom: .1rem;
}

.q-cB-box .q-input button {
  display: block;
  border: 1px solid #61a69f;
  background: #06897c;
  color: #c4cecd;
  outline: none;
  margin: .4rem 0;
  width: .9rem;
  height: .3rem;
  margin: auto;
  letter-spacing: 5px;
  text-indent: 0;
  font-size: .09rem;
  transition: all .3s ease;
}

.q-cB-box .q-input button:hover {
  background: #fff;
  color: #06897c;
}
