
@font-face {font-family: "iconfont";
<<<<<<< HEAD
  src: url('iconfont.eot?t=1494142806575'); /* IE9*/
  src: url('iconfont.eot?t=1494142806575#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494142806575') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494142806575') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494142806575#iconfont') format('svg'); /* iOS 4.1- */
=======
  src: url('iconfont.eot?t=1493994717507'); /* IE9*/
  src: url('iconfont.eot?t=1493994717507#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493994717507') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493994717507') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493994717507#iconfont') format('svg'); /* iOS 4.1- */
>>>>>>> 1b1ec634c76e7fb520f805f63b3a56ef6eeefcf9
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\e602"; }

.icon-shoucang1:before { content: "\e61a"; }

.icon-gouwuche:before { content: "\e64a"; }

.icon-fenxiang:before { content: "\e615"; }

.icon-shoucang2:before { content: "\e60d"; }

.icon-shouc01:before { content: "\e61f"; }

.icon-heart-outline:before { content: "\e638"; }

<<<<<<< HEAD
.icon-delete:before { content: "\e692"; }

=======
>>>>>>> 1b1ec634c76e7fb520f805f63b3a56ef6eeefcf9
.icon-biaoqing:before { content: "\e601"; }

.icon-shape3:before { content: "\e627"; }

.icon-back:before { content: "\e63d"; }

.icon-pic:before { content: "\e60a"; }

.icon-gengduo1:before { content: "\e633"; }

.icon-wodelianxiren:before { content: "\e60c"; }

.icon-icon3zanpinglunzhuanfaliulan01:before { content: "\e606"; }

.icon-10:before { content: "\e609"; }

.icon-feiji:before { content: "\e639"; }

.icon-gengduo:before { content: "\e646"; }

.icon-huatong:before { content: "\e625"; }

.icon-support:before { content: "\e660"; }

.icon-552cd47fba2cc:before { content: "\e611"; }

.icon-shoucang:before { content: "\e728"; }

.icon-lianxirendangan:before { content: "\e71c"; }

.icon-tupian:before { content: "\e619"; }

.icon-zhuanfa:before { content: "\e65e"; }

<<<<<<< HEAD
.icon-fileencryption:before { content: "\e64d"; }

=======
>>>>>>> 1b1ec634c76e7fb520f805f63b3a56ef6eeefcf9
.icon-i-yuyin:before { content: "\e795"; }

.icon-heart-copy-copy-copy:before { content: "\e63e"; }

.icon-1111115:before { content: "\e60f"; }

<<<<<<< HEAD
.icon-wuliu:before { content: "\e612"; }

=======
>>>>>>> 1b1ec634c76e7fb520f805f63b3a56ef6eeefcf9
.icon-xinfeng:before { content: "\e610"; }

.icon-home:before { content: "\e628"; }

.icon-jietu:before { content: "\e613"; }

<<<<<<< HEAD
.icon-duigou:before { content: "\e622"; }

.icon-lianxikefu:before { content: "\e6ad"; }

=======
>>>>>>> 1b1ec634c76e7fb520f805f63b3a56ef6eeefcf9
.icon-yejianmoshi:before { content: "\e635"; }

.icon-car:before { content: "\e600"; }

<<<<<<< HEAD
.icon-querenshouhuo:before { content: "\e765"; }

=======
>>>>>>> 1b1ec634c76e7fb520f805f63b3a56ef6eeefcf9
.icon-xinfeng1:before { content: "\e603"; }

.icon-tongshiquan:before { content: "\e697"; }

.icon-sousuo_sousuo:before { content: "\e604"; }

